<ng-form name="f_{{ngModel.codigo}}" class="form-horizontal">
    <script type="text/ng-template" id="frz-form-label.html">
        <label class="col-md-3 control-label" for="f_{{ngModel.codigo}}_p_{{$index}}">{{item.nome}}</label>
    </script>
    <script type="text/ng-template" id="frz-form-ajuda.html">
        <div class="label label-default" ng-show="item.ajuda">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{item.ajuda}}
        </div>
        <div class="label label-danger" ng-show="(ngModel.submetido || navegador.submetido) && (getCampo($index).$error.required || getCampo($index).$error.ngValorMin)">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
        <div class="label label-danger" ng-show="(ngModel.submetido || navegador.submetido) && (getCampo($index).$error.date || getCampo($index).$error.number || getCampo($index).$error.cep)">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Valor inválido!
        </div>
    </script>

    <script type="text/ng-template" id="campo_string">
        <input class="form-control input-md" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" type="text" placeholder="{{item.placeholder}}" ng-model="dados[item.codigo]" ng-required="item.funcaoRequerido()" title="{{item.pop}}" ng-readonly="item.somenteLeitura === 'S'" ng-trim="true">
    </script>

    <script type="text/ng-template" id="campo_numero">
        <input class="form-control input-md" style="text-align: right" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" type="text" placeholder="{{item.placeholder}}" ng-model="dados[item.codigo]" ng-required="item.funcaoRequerido()" title="{{item.pop}}" ui-number-mask="item.opcao.fracao >= 0 ? item.opcao.fracao : 2" ng-readonly="item.somenteLeitura === 'S'" ng-trim="true">
    </script>

    <script type="text/ng-template" id="campo_data">
        <input class="form-control input-md" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" type="text" placeholder="{{item.placeholder}}" ng-model="dados[item.codigo]" ng-required="item.funcaoRequerido()" title="{{item.pop}}" ui-date-mask ng-readonly="item.somenteLeitura === 'S'" ng-trim="true">
    </script>

    <script type="text/ng-template" id="campo_cep">
        <input class="form-control input-md" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" type="text" placeholder="{{item.placeholder}}" ng-model="dados[item.codigo]" ng-required="item.funcaoRequerido()" title="{{item.pop}}" ui-br-cep-mask ng-readonly="item.somenteLeitura === 'S'" ng-trim="true">
    </script>

    <script type="text/ng-template" id="campo_memo">
        <textarea class="form-control" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" ng-model="dados[item.codigo]" ng-required="item.funcaoRequerido()" title="{{item.pop}}" ng-readonly="item.somenteLeitura === 'S'"></textarea>
    </script>

    <script type="text/ng-template" id="campo_combo_unico">
        <select class="form-control" 
            id="f_{{ngModel.codigo}}_p_{{$index}}" 
            name="f_{{ngModel.codigo}}_p_{{$index}}" 
            ng-model="dados[item.codigo]" 
            ng-required="item.funcaoRequerido()" 
            ng-options="opcao as opcao[item.opcao.descricao] for opcao in item.opcao.lista track by opcao[item.opcao.codigo]" title="{{item.pop}}" 
            ng-readonly="item.somenteLeitura === 'S'">
            <option value="">-- Selecione --</option>
        </select>
    </script>

    <script type="text/ng-template" id="campo_combo_multiplo">
        <select class="form-control" 
            id="f_{{ngModel.codigo}}_p_{{$index}}" 
            name="f_{{ngModel.codigo}}_p_{{$index}}" 
            ng-model="dados[item.codigo]" 
            ng-required="item.funcaoRequerido()" 
            ng-options="opcao as opcao[item.opcao.descricao] for opcao in item.opcao.lista track by opcao[item.opcao.codigo]" title="{{item.pop}}"
            multiple="true" ng-readonly="item.somenteLeitura === 'S'">
        </select>
    </script>

    <script type="text/ng-template" id="campo_escolha_unica">
        <div class="col-md-12" ng-init="idx = $index">
            <div class="radio" ng-repeat="opcao in item.opcao.lista">
                <label for="f_{{ngModel.codigo}}_p_{{idx}}_o_{{$index}}">
                    <input type="radio" 
                        name="f_{{ngModel.codigo}}_p_{{idx}}" 
                        id="f_{{ngModel.codigo}}_p_{{idx}}_o_{{$index}}" 
                        ng-value="opcao[item.opcao.codigo]" 
                        ng-model="dados[item.codigo]" 
                        ng-required="item.funcaoRequerido()" 
                        title="{{item.pop}}" ng-readonly="item.somenteLeitura === 'S'">
                    {{opcao[item.opcao.descricao]}}
                </label>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="campo_escolha_multipla">
        <div class="col-md-12" ng-init="idx = $index">
            <div class="checkbox" ng-repeat="opcao in item.opcao.lista">
                <label for="f_{{ngModel.codigo}}_p_{{idx}}_o_{{$index}}">
                    <input type="checkbox" 
                        name="f_{{ngModel.codigo}}_p_{{idx}}" 
                        id="f_{{ngModel.codigo}}_p_{{idx}}_o_{{$index}}" 
                        checklist-value="opcao[item.opcao.codigo]" 
                        checklist-model="dados[item.codigo]" 
                        ng-required="item.funcaoRequerido()" 
                        title="{{item.pop}}" ng-readonly="item.somenteLeitura === 'S'">
                    {{opcao[item.opcao.descricao]}}
                </label>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="campo_escolha_multipla_objeto">
        <div class="col-md-12" ng-init="idx = $index">
            <div class="checkbox" ng-repeat="opcao in item.opcao.lista">
                <label for="f_{{ngModel.codigo}}_p_{{idx}}_o_{{$index}}">
                    <input type="checkbox" 
                        name="f_{{ngModel.codigo}}_p_{{idx}}" 
                        id="f_{{ngModel.codigo}}_p_{{idx}}_o_{{$index}}" 
                        checklist-value="opcao" 
                        checklist-model="dados[item.codigo]" 
                        ng-required="item.funcaoRequerido()" 
                        title="{{item.pop}}" ng-readonly="item.somenteLeitura === 'S'">
                    {{opcao[item.opcao.descricao]}}
                </label>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="campo_resumo_numero">
        <div class="input-group">
            <div class="form-control input-md" style="text-align: right" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" title="{{item.pop}}">
                {{dados[item.codigo] | number: (item.opcao.fracao >= 0 ? item.opcao.fracao : 2)}}
            </div>
            <span class="input-group-btn">
                <button class="btn btn-primary" id="f_{{ngModel.codigo}}_p_{{$index}}_btn" name="f_{{ngModel.codigo}}_p_{{$index}}_btn" type="button" ng-click="abrirDetalhe(item, dados)">...</button>
            </span>
        </div>
    </script>

    <script type="text/ng-template" id="campo_array">
        <frz-tabela ng-model="item" dados="dados[item.codigo]" ng-class="{'ng-invalid': getCampo($index).$error.ngValorMin}">
        </frz-tabela>
        <input type="hidden" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" ng-model="dados[item.codigo].length" ng-valor-min="item.funcaoRequerido() ? 1 : null">
    </script>

    <script type="text/ng-template" id="campo_objeto">
        <frz-form ng-model="item" dados="dados[item.codigo]"></frz-form>
        <input type="hidden" id="f_{{ngModel.codigo}}_p_{{$index}}" name="f_{{ngModel.codigo}}_p_{{$index}}" ng-model="dados[item.codigo]">
    </script>

    <fieldset>
        <div ng-repeat="item in ngModel.opcao" ng-switch on="item.tipo">
            <legend ng-switch-when="nome">{{item.nome}}</legend>
            <div class="form-group" ng-switch-default ng-if="item.escondeForm !== 'S'">
                <ng-include src="'frz-form-label.html'"/>
                <div class="col-md-{{item.tamanho?item.tamanho:'7'}}">
                    <ng-include src="'campo_' + item.tipo"/>
                    <ng-include src="'frz-form-ajuda.html'"/>
                </div>
            </div>
        </div>
    </fieldset>

</ng-form>