<div>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="filtro" placeholder="Filtrar por Classificação">
        <span class="input-group-btn">
            <div class="btn-group" role="group">
                <button
                    class="btn btn-default" 
                    ng-click="limparFiltro()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </span>
    </div>
    <div class="row" style="max-height: 400px; overflow: scroll;">
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle>
                <a class="btn btn-primary btn-xs Tooltip" nodrag ng-click="toggleChildren(this)" title="Expandir/Recolher" ng-show="node.bemClassificacaoList.length">
                    <span class="glyphicon glyphicon-chevron-right" ng-show="collapsed"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-show="!collapsed"></span>
                </a>
                <span ng-hide="node.bemClassificacaoList.length">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <label>
                    <input type="checkbox" ng-model="node.selecionado">
                    {{node.nome}}
                </label>
                <table width="100%" ng-if="node.bemClassificacaoFormaProducaoItemList.length" ng-show="node.selecionado">
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td style="color: gray"><small>Forma de Produção</small></td>
                    </tr>
                    <tr ng-repeat="forma in node.bemClassificacaoFormaProducaoItemList | orderBy: ['ordem'] track by forma.id" ng-init="node.bemClassificacaoFormaProducaoValorList = []">
                        <td width="30%" class="text-right">
                            <small>{{forma.formaProducaoItem.nome}}</small>
                        </td>
                        <td width="5%">
                            &nbsp;
                        </td>
                        <td>
                            <select ng-model="node.bemClassificacaoFormaProducaoValorList[$index].formaProducaoValor" ng-options="opcao as opcao.nome for opcao in forma.formaProducaoItem.formaProducaoValorList track by opcao.id">
                                <option value="">-- Selecione --</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <ol ui-tree-nodes="" ng-model="node.bemClassificacaoList" ng-class="{hidden: collapsed}" ng-hide="node.selecionado">
                <li ng-repeat="node in node.bemClassificacaoList | orderBy: ['nome'] track by node.id" ui-tree-node ng-include="'nodes_renderer.html'" ng-hide="!treeFilter(node, filtro)">
                </li>
            </ol>
        </script>
        <div ui-tree drag-enabled="false">
            <ol ui-tree-nodes="" ng-model="ngModel" id="tree-root" ng-class="{hidden: collapsed}">
                <li ng-repeat="node in ngModel | orderBy: ['nome'] track by node.id" ui-tree-node ng-include="'nodes_renderer.html'" ng-hide="!treeFilter(node, filtro)">
                </li>
            </ol>
        </div>
    </div>
</div>