<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body" ng-if="!navegador.dados.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-if="navegador.dados.length">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        <frz-seletor ng-model="navegador"></frz-seletor>
                    </th>
                    <th width="30">
                        #
                    </th>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Situação Pessoa</th>
                    <th>Situação Usuário</th>
                    <th>Nome Usuário</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in navegador.dados | orderBy: ['1'] | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: navegador.tamanhoPagina" ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)">
                    <td width="30px">
                        <input type="radio" ng-show="navegador.selecao.tipo === 'U'" ng-model="navegador.selecao.item" ng-value="item"/>
                        <input type="checkbox" ng-show="navegador.selecao.tipo === 'M'" checklist-model="navegador.selecao.items" checklist-value="item" ng-click="crudMataClick(scp, $event);"/>
                    </td>
                    <td>
                        {{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
                    </td>
                    <td title="Foto">
                        <img class="img-thumbnail" src="img/foto.png" ng-if="!item[CABEC.MD5].length" width="180px" height="180px" />
                        <img class="img-thumbnail" ng-src="{{servicoUrl}}/arquivo-descer?arquivo={{item[CABEC.MD5]}}" ng-if="item[CABEC.MD5].length" width="180px" height="180px"/>
                    </td>
                    <td title="Nome">{{item[CABEC.NOME]}}</td>
                    <td title="Tipo">{{item[CABEC.TIPO]}}</td>
                    <td title="Situação Pessoa">{{item[CABEC.PESSOA_SITUACAO] == "A" ? "Ativo" : "Inativo"}}</td>
                    <td title="Situação Usuario">{{item[CABEC.USUARIO_SITUACAO] == "A" ? "Ativo" : "Inativo"}}</td>
                    <td title="Nome Usuario">{{item[CABEC.USUARIO_NOME]}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                </tr> 
            </tfoot>
        </table>
    </div>
</div>