<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <div class="form-group" title="Nome do Perfil">
                    <label class="col-md-4 control-label" for="perfilNome">
                        Nome do Perfil
                    </label>
                    <div class="col-md-6">
                        <tags-input id="perfilNome" name="perfilNome" ng-model="cadastro.filtro.perfilNome" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.perfilNome.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Código do Perfil">
                    <label class="col-md-4 control-label" for="perfilCodigo">
                        Código do Perfil
                    </label>
                    <div class="col-md-6">
                        <tags-input id="perfilCodigo" name="perfilCodigo" ng-model="cadastro.filtro.perfilCodigo" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false" style="text-transform: uppercase;"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.perfilCodigo.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Funcionalidade do Sistema">
                    <label class="col-md-4 control-label" for="funcionalidadeNome">
                        Nome da Funcionalidade
                    </label>
                    <div class="col-md-6">
                        <tags-input id="funcionalidadeNome" name="funcionalidadeNome" ng-model="cadastro.filtro.funcionalidadeNome" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.funcionalidadeNome.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Comando da Funcionalidade do Sistema">
                    <label class="col-md-4 control-label" for="comandoNome">
                        Nome do Comando
                    </label>
                    <div class="col-md-6">
                        <tags-input id="comandoNome" name="comandoNome" ng-model="cadastro.filtro.comandoNome" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.comandoNome.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>