<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form name="frm.formulario" novalidate>
            <fieldset ng-disabled="['INCLUINDO', 'EDITANDO'].indexOf(navegador.estadoAtual()) < 0">
                <div class="row">
                    <div class="col-md-4" title="Nome do Perfil">
                        <div class="form-group">
                            <label class="control-label" for="nome">Nome do Perfil</label>
                            <input type="text" class="form-control" id="nome" name="nome" ng-model="cadastro.registro.nome" ng-required="true" ng-trim="true">
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.nome.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" title="Código do Perfil">
                        <div class="form-group">
                            <label class="control-label" for="codigo">Código do Perfil</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" ng-model="cadastro.registro.codigo" ng-required="true" style="text-transform: uppercase;" ng-trim="true">
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.codigo.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" title="Perfil Ativo?">
                        <div class="form-group">
                            <label class="control-label" for="Perfil Ativo">Perfil Ativo?</label>
                            <input type="checkbox" id="ativo" name="ativo" ng-model="cadastro.registro.ativo" ng-true-value="'S'" ng-false-value="'N'">
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.ativo.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" title="Funcionalidades do Perfil">
                        <div class="form-group" ng-class="{'ng-invalid': frm.formulario.perfilFuncionalidadeComandoTotal.$error.ngValorMin}">
                            <label class="control-label" for="perfilFuncionalidadeComandoTotal">Funcionalidades do Perfil</label>

                            <ng-include src="'perfil/sub-perfil-funcionalidade-comando.html'" ng-controller="PerfilFuncionalidadeComandoCtrl"/>

                            <input type="hidden" id="perfilFuncionalidadeComandoTotal" name="perfilFuncionalidadeComandoTotal" ng-model="cadastro.registro.perfilFuncionalidadeComandoList.length" ng-valor-min="1">
                            
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.perfilFuncionalidadeComandoTotal.$error.ngValorMin">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>