<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <legend>Dados Básicos</legend>
                <div class="form-group" title="Demandante">
                    <label class="col-md-4 control-label" for="demandante">
                        Beneficiário
                    </label>
                    <div class="col-md-6">
                        <tags-input id="demandanteList" name="demandanteList" ng-model="cadastro.filtro.demandanteList" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.demandante.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Executor">
                    <label class="col-md-4 control-label" for="executor">
                        Técnico Responsável
                    </label>
                    <div class="col-md-6">
                        <tags-input id="executorList" name="executorList" ng-model="cadastro.filtro.executorList" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.executor.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Código da Atividade">
                    <label class="col-md-4 control-label" for="codigo">
                        Código da Atividade
                    </label>
                    <div class="col-md-6">
                        <tags-input id="codigoList" name="codigoList" ng-model="cadastro.filtro.codigoList" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.codigoList.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Período">
                    <label class="col-md-4 control-label" for="inicio">
                        Período entre
                    </label>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inicio" name="inicio" ng-model="cadastro.filtro.inicio" ui-date-mask ng-required="true">
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.inicio.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.inicio.$error.date">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Data Inválida!
                                </div>
                            </div>
                            <label class="col-md-2">
                                e 
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="termino" name="termino" ng-model="cadastro.filtro.termino" ui-date-mask ng-required="true">
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.termino.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.termino.$error.date">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Data Inválida!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <legend>Projeto de Crédito Rural</legend>
                <div class="form-group" title="Finalidade">
                    <label class="col-md-4 control-label" for="financiamentoTipoList">Finalidade</label>
                    <div class="col-md-8">
                        <label class="checkbox-inline" for="financiamentoTipoList-{{$index}}" ng-repeat="item in cadastro.apoio.financiamentoTipoList">
                            <input type="checkbox" name="financiamentoTipoList" id="financiamentoTipoList-{{$index}}" checklist-model="cadastro.filtro.financiamentoTipoList" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.financiamentoTipoList.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <div class="form-group" title="Status">
                    <label class="col-md-4 control-label" for="statusList">Status</label>
                    <div class="col-md-8">
                        <label class="checkbox-inline" for="statusList-{{$index}}" ng-repeat="item in cadastro.apoio.projetoCreditoRuralStatusList">
                            <input type="checkbox" name="statusList" id="statusList-{{$index}}" checklist-model="cadastro.filtro.statusList" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.statusList.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <div class="form-group" title="Agente Financeiro">
                    <label class="col-md-4 control-label" for="agenteFinanceiroIdList">Agente Financeiro</label>
                    <div class="col-md-8">
                        <div class="checkbox" ng-repeat="item in cadastro.apoio.agenteFinanceiroList | orderBy: 'nome' track by item.id">
                            <label class="checkbox-inline" for="agenteFinanceiroIdList-{{$index}}">
                                <input type="checkbox" name="agenteFinanceiroIdList" id="agenteFinanceiroIdList-{{$index}}" checklist-model="cadastro.filtro.agenteFinanceiroIdList" checklist-value="item.id">
                                {{item.pessoaJuridica.nome}}
                            </label>
                        </div>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.agenteFinanceiroIdList.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <div class="form-group" title="Linha de Crédito">
                    <label class="col-md-4 control-label" for="linhaCreditoIdList">Linha de Crédito</label>
                    <div class="col-md-8">
                        <div class="checkbox" ng-repeat="item in cadastro.apoio.linhaCreditoList | orderBy: 'nome' track by item.id">
                            <label class="checkbox-inline" for="linhaCreditoIdList-{{$index}}">
                                <input type="checkbox" name="linhaCreditoIdList" id="linhaCreditoIdList-{{$index}}" checklist-model="cadastro.filtro.linhaCreditoIdList" checklist-value="item.id">
                                {{item.nome}}
                            </label>
                        </div>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.linhaCreditoIdList.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>