<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.$error.qtdBenefInvalida">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Só pode haver um beneficiário para este método
        </div>
        <ng-form name="frm.formularioProjetoCreditoRural" novalidate ng-hide="frm.formularioProjetoCreditoRural.$error.qtdBenefInvalida">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12" title="Nome do Beneficiário">
                        <div class="form-group">
                            <label class="control-label" for="nomeBeneficiario">Nome do Beneficiário</label>
                            <input type="text" class="form-control" id="nomeBeneficiario" name="nomeBeneficiario" ng-readonly="true" ng-required="true" ng-model="cadastro.registro.projetoCreditoRural.publicoAlvo.pessoa.nome">
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.nomeBeneficiario.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" title="Propriedade Rural Vinculada">
                        <div class="form-group">
                            <label class="control-label" for="propriedadeRuralTotal">Propriedade(s) Rural(is) Vinculada(s)</label>
                            <div class="alert alert-warning" style="margin: 0px;" role="alert" ng-hide="cadastro.registro.projetoCreditoRural.publicoAlvo.publicoAlvoPropriedadeRuralList.length">
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                                Nenhum registro localizado!
                            </div>
                            <div class="table-responsive" ng-show="cadastro.registro.projetoCreditoRural.publicoAlvo.publicoAlvoPropriedadeRuralList.length">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th width="30">
                                                #
                                            </th>
                                            <th>Nome Propriedade</th>
                                            <th>Área Total</th>
                                            <th>Exploração</th>
                                            <th>Área</th>
                                            <th>Proprietário</th>
                                            <th>Início Vínculo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in cadastro.registro.projetoCreditoRural.publicoAlvo.publicoAlvoPropriedadeRuralList | orderBy: 'propriedadeRural.nome' track by item.id">
                                            <td width="30px">
                                                <input
                                                    type="checkbox"
                                                    id="propriedadeRural_{{$index}}"
                                                    name="propriedadeRural_{{$index}}"
                                                    checklist-model="cadastro.registro.creditoRural.propriedadeRuralList"
                                                    checklist-value="item"
                                                    checklist-comparator="propriedadeRuralComparador">
                                                </input>
                                            </td>
                                            <td>
                                                {{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
                                            </td>
                                            <td>{{item.propriedadeRural.nome}}</td>
                                            <td>{{item.propriedadeRural.areaTotal | number: 3}}</td>
                                            <td>{{UtilSrv.indiceDePorCampo(cadastro.apoio.propriedadeRuralVinculoTipoList, item.vinculo, 'codigo').descricao}}</td>
                                            <td>{{item.area | number: 3}}</td>
                                            <td>{{item.proprietario[0].nome}}</td>
                                            <td>{{item.inicio}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" id="propriedadeRuralTotal" name="propriedadeRuralTotal" ng-model="cadastro.registro.creditoRural.propriedadeRuralList.length" ng-valor-min="1">
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.propriedadeRuralTotal.$error.ngValorMin">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="cadastro.registro.creditoRural.propriedadeRuralList.length">
                    <div class="col-sm-2" title="Status">
                        <div class="form-group">
                            <label class="control-label" for="status">Status</label>
                            <select id="status" name="status" class="form-control" ng-model="cadastro.registro.projetoCreditoRural.status" ng-required="true" ng-options="item.codigo as item.descricao for item in cadastro.apoio.projetoCreditoRuralStatusList | orderBy: 'ordem'">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.status.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" title="Finalidade">
                        <div class="form-group">
                            <label class="control-label" for="finalidade">Finalidade</label>
                            <div class="form-control" ng-disabled="true">
                                <span ng-show="cadastro.registro.projetoCreditoRural.investimentoList.length && !cadastro.registro.projetoCreditoRural.custeioList.length">Investimento</span>
                                <span ng-show="!cadastro.registro.projetoCreditoRural.investimentoList.length && cadastro.registro.projetoCreditoRural.custeioList.length">Custeio</span>
                                <span ng-show="cadastro.registro.projetoCreditoRural.investimentoList.length && cadastro.registro.projetoCreditoRural.custeioList.length">Invest./Cust.</span>
                            </div>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.finalidade.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" title="Agente Financeiro">
                        <div class="form-group">
                            <label class="control-label" for="agenteFinanceiro">Agente Financeiro</label>
                            <select id="agenteFinanceiro" name="agenteFinanceiro" class="form-control" ng-model="cadastro.registro.projetoCreditoRural.agenteFinanceiro" ng-required="true" ng-options="item as item.pessoaJuridica.nome for item in cadastro.apoio.agenteFinanceiroList track by item.id">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.agenteFinanceiro.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" title="Agência">
                        <div class="form-group">
                            <label class="control-label" for="codigo">Agência</label>
                            <input type="text" class="form-control" id="agencia" name="agencia" ng-required="true" ng-model="cadastro.registro.projetoCreditoRural.agencia">
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.agencia.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" title="Linha de Crédito">
                        <div class="form-group">
                            <label class="control-label" for="linhaCredito">Linha de Crédito</label>
                            <select id="linhaCredito" name="linhaCredito" class="form-control" ng-model="cadastro.registro.projetoCreditoRural.linhaCredito" ng-required="true" ng-options="item as item.linhaCredito.nome for item in cadastro.registro.projetoCreditoRural.agenteFinanceiro.linhaCreditoList">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.linhaCredito.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" title="Número Cédula">
                        <div class="form-group">
                            <label class="control-label" for="numeroCedula">Número Cédula</label>
                            <input type="text" class="form-control" id="numeroCedula" name="numeroCedula" ng-required="true" ng-model="cadastro.registro.projetoCreditoRural.numeroCedula">
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formularioProjetoCreditoRural.numeroCedula.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>

                <uib-tabset active="tabAtiva" ng-show="cadastro.registro.creditoRural.propriedadeRuralList.length">
                    <uib-tab ng-repeat="tab in tabs | filter: {'visivel': true}" select="tab.selecao()" index="tab.indice">
                        <uib-tab-heading>
                            {{$index + 1}} {{tab.nome}}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </uib-tab-heading>
                        <ng-include src="tab.include"/>
                    </uib-tab>
                </uib-tabset>

            </fieldset>
        </ng-form>
    </div>
</div>