<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body" ng-if="!navegador.dados.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-if="navegador.dados.length">
        <table class="table table-hover table-striped" ng-init="cadastro.apoio.escondeDetalhe = true">
            <thead>
                <tr>
                    <th>
                        <frz-seletor ng-model="navegador"></frz-seletor>
                    </th>
                    <th width="30">
                        #
                    </th>
                    <th>Beneficiário</th>
                    <th>Data</th>
                    <th>Código da Atividade</th>
                    <th>Status</th>
                    <th>Agente Financiador</th>
                    <th>Agência</th>
                    <th>Linha de Crédito</th>
                    <th>Número Cédula</th>
                    <th>Itens Custeio</th>
                    <th>Itens Investimento</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="item in navegador.dados | orderBy: ordenarLista | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: navegador.tamanhoPagina" ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)" title="Cadastrado por: {{item[CABEC.CABEC.ATIV_INCLUSAO_USUARIO]}} em {{item[CABEC.ATIV_INCLUSAO_DATA] | date: 'dd/MM/yyyy'}}, alterado por: {{item[CABEC.ATIV_ALTERACAO_USUARIO]}} em {{item[CABEC.ATIV_ALTERACAO_DATA] | date: 'dd/MM/yyyy'}}"
                    ng-class="classeAtividade(item[CABEC.ATIV_SITUACAO])">
                    <td width="30px" rowspan="4">
                        <input type="radio" ng-show="navegador.selecao.tipo === 'U'" ng-model="navegador.selecao.item" ng-value="item"/>
                        <input type="checkbox" ng-show="navegador.selecao.tipo === 'M'" checklist-model="navegador.selecao.items" checklist-value="item" ng-click="crudMataClick(scp, $event);"/>
                    </td>
                    <td rowspan="4">
                        {{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
                    </td>
                    <td class="codigoAtividade" rowspan="4" title="Código da Atividade">{{item[CABEC.ATIV_CODIGO]}}</td>
                    <td title="Método">{{item[CABEC.ATIV_METODO_NOME]}}</td>
                    <td title="Formato">{{UtilSrv.indiceDePorCampo(cadastro.apoio.atividadeFormatoList, item[CABEC.ATIV_FORMATO], 'codigo').descricao}}</td>
                    <td title="Finalidade">{{UtilSrv.indiceDePorCampo(cadastro.apoio.atividadeFinalidadeList, item[CABEC.ATIV_FINALIDADE], 'codigo').descricao}}</td>
                    <td title="Natureza">{{UtilSrv.indiceDePorCampo(cadastro.apoio.atividadeNaturezaList, item[CABEC.ATIV_NATUREZA], 'codigo').descricao}}</td>
                    <td title="Prioridade">
                        <span class="label" ng-class="{'label-default' : item[CABEC.ATIV_PRIORIDADE] === 'N', 'label-info' : item[CABEC.ATIV_PRIORIDADE] === 'B', 'label-danger' : item[CABEC.ATIV_PRIORIDADE] === 'A'}">
                            {{UtilSrv.indiceDePorCampo(cadastro.apoio.atividadePrioridadeList, item[CABEC.ATIV_PRIORIDADE], 'codigo').descricao}}
                        </span>
                    </td>
                    <td title="Situação">{{UtilSrv.indiceDePorCampo(cadastro.apoio.atividadeSituacaoList, item[CABEC.ATIV_SITUACAO], 'codigo').descricao}}<br><small ng-show="item[CABEC.ATIV_SITUACAO_DATA]">desde {{item[CABEC.ATIV_SITUACAO_DATA] | date: "dd/MM/yyyy"}}</small></td>
                    <td title="% Conclusão" width="170px">
                        <div class="form-control" id="percentualConclusao" name="percentualConclusao" 
                            data-ng-class="{'texto-branco': item[CABEC.ATIV_PERCENTUAL_CONCLUSAO] > 0,'': item[CABEC.ATIV_PERCENTUAL_CONCLUSAO]<1, 'label-warning': item[CABEC.ATIV_PERCENTUAL_CONCLUSAO]>=1 && item[CABEC.ATIV_PERCENTUAL_CONCLUSAO]<3, 'label-info': item[CABEC.ATIV_PERCENTUAL_CONCLUSAO]>=3 && item[CABEC.ATIV_PERCENTUAL_CONCLUSAO]<5, 'label-success': item[CABEC.ATIV_PERCENTUAL_CONCLUSAO]>=5}">
                            <uib-rating ng-model="item[CABEC.ATIV_PERCENTUAL_CONCLUSAO]" min="0" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null" readonly="true"></uib-rating>
                            <span class="label" data-ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" data-ng-show="overStar && !isReadonly">{{percent}}%</span>
                            <span class="pull-right">{{item[CABEC.ATIV_PERCENTUAL_CONCLUSAO] ? item[CABEC.ATIV_PERCENTUAL_CONCLUSAO] * 20: 0}}%</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>