<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}Periodicidade">Periodicidade</label>
                        <select id="{{parte}}Periodicidade" name="{{parte}}Periodicidade" class="form-control" ng-model="cadastro.registro.projetoCreditoRural[parte + 'Periodicidade']" ng-required="true" ng-options="item.codigo as item.descricao for item in cadastro.apoio.periodicidadeList" ng-init="expression">
                        </select>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario[parte + 'Periodicidade'].$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}propriedadeRural">Data da Contratação</label>
                        <input class="form-control input-sm" id="{{parte}}DataContratacao" name="{{parte}}DataContratacao" ng-model="cadastro.registro.projetoCreditoRural[parte + 'DataContratacao']" ui-date-mask ng-required="true">
                        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario[parte + 'DataContratacao'].$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario[parte + 'DataContratacao'].$error.date">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Data Inválida!
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}ValorFinanciamento">Financiamento (R$)</label>
                        <input class="form-control input-sm text-right" id="{{parte}}ValorFinanciamento" name="{{parte}}ValorFinanciamento" ng-model="cadastro.registro.projetoCreditoRural[parte + 'ValorFinanciamento']" ui-number-mask="2" ng-required="true" ng-readonly="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}TaxaJurosAnual">Juros anual (%)</label>
                        <input class="form-control input-sm text-right" id="{{parte}}TaxaJurosAnual" name="{{parte}}TaxaJurosAnual" ng-model="cadastro.registro.projetoCreditoRural[parte + 'TaxaJurosAnual']" ui-number-mask="3" ng-required="true">
                        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario[parte + 'TaxaJurosAnual'].$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}QuantidadeParcelas">Quantidade de parcelas</label>
                        <input class="form-control input-sm text-right" id="{{parte}}QuantidadeParcelas" name="{{parte}}QuantidadeParcelas" ng-model="cadastro.registro.projetoCreditoRural[parte + 'QuantidadeParcelas']" ui-number-mask="0" ng-required="true">
                        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario[parte + 'QuantidadeParcelas'].$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}DataFinalCarencia">Data final carência</label>
                        <input class="form-control input-sm" id="{{parte}}DataFinalCarencia" name="{{parte}}DataFinalCarencia" ng-model="cadastro.registro.projetoCreditoRural[parte + 'DataFinalCarencia']" ui-date-mask ng-required="true">
                        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario[parte + 'DataFinalCarencia'].$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario[parte + 'DataFinalCarencia'].$error.date">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Data Inválida!
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}DataPrimeiraParcela">Data Pag. 1ª parcela</label>
                        <input class="form-control input-sm text-right" id="{{parte}}DataPrimeiraParcela" name="{{parte}}DataPrimeiraParcela" ng-model="cadastro.registro.projetoCreditoRural[parte + 'DataPrimeiraParcela']" ui-date-mask ng-required="true" ng-readonly="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}ValorTotalJuros">Total de Juros</label>
                        <input class="form-control input-sm text-right" id="{{parte}}ValorTotalJuros" name="{{parte}}ValorTotalJuros" ng-model="cadastro.registro.projetoCreditoRural[parte + 'ValorTotalJuros']" ui-number-mask="2" ng-required="true" ng-readonly="true">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="{{parte}}ValorTotalPrestacoes">Total das Prestações</label>
                        <input class="form-control input-sm text-right" id="{{parte}}ValorTotalPrestacoes" name="{{parte}}ValorTotalPrestacoes" ng-model="cadastro.registro.projetoCreditoRural[parte + 'ValorTotalPrestacoes']" ui-number-mask="2" ng-required="true" ng-readonly="true">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="calcular(lista)">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading container-fluid">
                RESULTADO DO CÁLCULO!
            </div>
            <div class="painel-body"  ng-hide="cadastro.registro.projetoCreditoRural[lista].length">
                <div class="alert alert-warning" style="margin: 0px;" role="alert">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    Nenhum registro localizado!
                </div>
            </div>
            <div class="table-responsive" ng-show="cadastro.registro.projetoCreditoRural[lista].length > 0">
                <ng-form name="receitaDespesaListFrm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Parcela</th>
                                <th>Ano</th>
                                <th>Época</th>
                                <th>Saldo Devedor Inicial (R$)</th>
                                <th>Taxa de Juros (%)</th>
                                <th>Juros (R$)</th>
                                <th>Amortização (R$)</th>
                                <th>Prestação (R$)</th>
                                <th>Saldo Devedor Final (R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reg in cadastro.registro.projetoCreditoRural[lista] | orderBy: ['descricao'] track by reg.id">
                                <td>
                                    {{$index + 1 + ((cronogramaNvg.paginaAtual-1) * cronogramaNvg.tamanhoPagina)}}
                                </td>
                                <td>
                                    {{reg.parcela | number: 0}}
                                </td>
                                <td>
                                    {{reg.ano | number: 0}}
                                </td>
                                <td>
                                    {{reg.epoca | number: 0}}
                                </td>
                                <td class="text-right">
                                    {{reg.saldoDevedorInicial | number: 2}}
                                </td>
                                <td class="text-right">
                                    {{reg.taxaJuros | number: 6}}
                                </td>
                                <td class="text-right">
                                    {{reg.juros | number: 2}}
                                </td>
                                <td class="text-right">
                                    {{reg.amortizacao | number: 2}}
                                </td>
                                <td class="text-right">
                                    {{reg.prestacao | number: 2}}
                                </td>
                                <td class="text-right">
                                    {{reg.saldoDevedorFinal | number: 2}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </ng-form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>