<div class="table-responsive" ng-show="cadastro.registro.projetoCreditoRural.fluxoCaixaList.length > 0">
    <ng-form name="fluxoCaixaListFrm">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{nomeGrade}}</th>
                    <th ng-repeat="ano in cadastro.apoio.anoList">{{ano.descricao}} (R$)</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="2" class="text-right">
                        Totais
                    </th>
                    <th ng-repeat="ano in cadastro.apoio.fluxoCaixa[nomeGrade].fluxoCaixaAnoList | orderBy: 'ano'" class="text-right td-exibe-valor">
                        {{ano.valor | number: 2}}
                    </th>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="reg in cadastro.registro.projetoCreditoRural.fluxoCaixaList | filter: {tipo: filtroGrade} | orderBy: ['ordem'] track by reg.id">
                    <td>
                        {{$index + 1 + ((fluxoCaixaNvg.paginaAtual-1) * fluxoCaixaNvg.tamanhoPagina)}}
                    </td>
                    <th>
                        {{reg.descricao}}
                    </th>
                    <td ng-repeat="fluxoCaixaAno in reg.fluxoCaixaAnoList" class="td-exibe-valor text-right">
                        <span ng-if="UtilSrv.indiceDePorCampo(cadastro.apoio.fluxoCaixaCodigoList, reg.codigo, 'codigo').somenteLeitura === 'S'">
                            {{fluxoCaixaAno.valor | number:2}}
                        </span>
                        <input 
                            class="form-control input-sm text-right" 
                            id="ano{{fluxoCaixaAno.ano}}_{{$parent.$index}}" 
                            name="ano{{fluxoCaixaAno.ano}}_{{$parent.$index}}" 
                            ng-model="fluxoCaixaAno.valor" 
                            ui-money-mask="globalMonetario"
                            ng-required="true"
                            ng-if="UtilSrv.indiceDePorCampo(cadastro.apoio.fluxoCaixaCodigoList, reg.codigo, 'codigo').somenteLeitura === 'N'">
                        <button ng-if="$index === 0 && UtilSrv.indiceDePorCampo(cadastro.apoio.fluxoCaixaCodigoList, reg.codigo, 'codigo').somenteLeitura === 'N'" 
                            ng-click="repetirAno(fluxoCaixaAno.valor, reg.fluxoCaixaAnoList)" 
                            title="Repetir valor!">
                            Repetir
                        </button>
                        <div class="label label-danger"
                            ng-show="navegador.submetido && fluxoCaixaListFrm['ano' + fluxoCaixaAno.ano + '_' + $parent.$index].$error.required"
                            ng-if="UtilSrv.indiceDePorCampo(cadastro.apoio.fluxoCaixaCodigoList, reg.codigo, 'codigo').somenteLeitura === 'N'">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-form>
</div>