<div class="container-fluid"><div class="row"><button type="button" class="btn btn-primary pull-right" ng-click="calcular()">Calcular</button></div></div>

<ng-include src="'projeto-credito-rural/sub-fluxo-caixa-grade.html'" ng-controller="ProjetoCreditoRuralFluxoCaixaGradeCtrl" onload="iniciarGrade('Receitas', 'R')"></ng-include>

<ng-include src="'projeto-credito-rural/sub-fluxo-caixa-grade.html'" ng-controller="ProjetoCreditoRuralFluxoCaixaGradeCtrl" onload="iniciarGrade('Despesas', 'D')"></ng-include>

<div class="table-responsive" ng-show="cadastro.registro.projetoCreditoRural.fluxoCaixaList.length > 0">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>
                    Totais
                </th>
                <th ng-repeat="ano in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']" width="170px" class="text-right">
                    Ano-{{ano}}
                </th>
            </tr>
            <tr>
                <th>
                    Lucro (Receita-Despesa) (R$)
                </th>
                <td ng-repeat="ano in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']" width="170px" class="text-right">
                    {{ano | number: 2}}
                </td>
            </tr>
            <tr>
                <th>
                    Amortização Financeira (R$)
                </th>
                <td ng-repeat="ano in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']" width="170px" class="text-right">
                    {{ano | number: 2}}
                </td>
            </tr>
            <tr>
                <th>
                    Saldo Devedor (R$)
                </th>
                <td ng-repeat="ano in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']" width="170px" class="text-right">
                    {{ano | number: 2}}
                </td>
            </tr>
            <tr>
                <th>
                    Fluxo Líquido de Caixa (R$)
                </th>
                <td ng-repeat="ano in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']" width="170px" class="text-right">
                    {{ano | number: 2}}
                </td>
            </tr>
            <tr>
                <th>
                    Fluxo Líquido de Caixa Acumulado (R$)
                </th>
                <td ng-repeat="ano in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']" width="170px" class="text-right">
                    {{ano | number: 2}}
                </td>
            </tr>
        </tbody>
    </table>
</div>