<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
            ng-model="trienioNvg" exibe-nome-botao="false"
            dados="cadastro.registro.projetoCreditoRural.trienioList"
            acoes-especiais="acoesEspeciais"
            on-abrir = "abrir()"
            on-agir = "agir()"
            on-editar = "editar()"
            on-especial = "especial()"
            on-excluir = "excluir()"
            on-filtrar = "filtrar()"
            on-incluir = "incluir()"
            on-listar = "listar()"
            on-navegar-primeiro = "navegarPrimeiro()"
            on-navegar-anterior = "navegarAnterior()"
            on-navegar-proximo = "navegarPosterior()"
            on-navegar-ultimo = "navegarUltimo()"
            on-proxima-pagina="proximaPagina()"
            on-ultima-pagina="ultimaPagina()"
            ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.projetoCreditoRural.trienioList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.projetoCreditoRural.trienioList.length > 0">
        <ng-form name="trienioListFrm">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><frz-seletor ng-model="trienioNvg" dados="cadastro.registro.projetoCreditoRural.trienioList"></frz-seletor></th>
                        <th>#</th>
                        <th>Descrição (Exploração ...)</th>
                        <th ng-repeat="idx in [3, 2, 1]">Receita Ano-{{idx}} (R$)</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="3" class="text-right">Totais</th>
                        <td class="text-right td-exibe-valor" ng-repeat="idx in [3, 2, 1]">
                            {{cadastro.apoio.trienio['ano' + idx + 'Total'] | number: 2}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-right">Média Geral</th>
                        <td class="text-right td-exibe-valor">
                            {{cadastro.apoio.trienio.mediaGeral | number: 2}}
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="reg in cadastro.registro.projetoCreditoRural.trienioList | orderBy: ['descricao'] track by reg.id">
                        <td>
                            <input type="radio" ng-show="trienioNvg.selecao.tipo === 'U'" ng-model="trienioNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="trienioNvg.selecao.tipo === 'M'" checklist-model="trienioNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td>
                            {{$index + 1 + ((trienioNvg.paginaAtual-1) * trienioNvg.tamanhoPagina)}}
                        </td>
                        <td>
                            <input class="form-control input-sm" id="descricao{{$index}}" name="descricao{{$index}}" ng-model="reg.descricao" ng-required="true" ng-model-options="{ updateOn: 'blur'}">
                            <div class="label label-danger" ng-show="navegador.submetido && trienioListFrm['descricao' + $index].$error.required" 
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-repeat="idx in [3, 2, 1]" class="td-exibe-valor">
                            <input class="form-control input-sm text-right" id="ano{{idx}}_{{$parent.$index}}" name="ano{{idx}}_{{$parent.$index}}" ng-model="reg['receitaAno' + idx]" ui-money-mask="globalMonetario" ng-required="true">
                            <div class="label label-danger" ng-show="navegador.submetido && trienioListFrm['ano' + idx + '_' + $parent.$index].$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <button ng-click="repetirColuna(reg)" title="Repetir valor!">R</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-form>
    </div>
</div>