<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading container-fluid">
                <frz-navegador
                    ng-model="cronogramaNvg" exibe-nome-botao="false"
                    dados="cadastro.registro.projetoCreditoRural[lista]"
                    acoes-especiais="acoesEspeciais"
                    on-abrir = "abrir()"
                    on-agir = "agir()"
                    on-editar = "editar()"
                    on-especial = "especial()"
                    on-excluir = "excluir()"
                    on-filtrar = "filtrar()"
                    on-incluir = "incluir()"
                    on-listar = "listar()"
                    on-navegar-primeiro = "navegarPrimeiro()"
                    on-navegar-anterior = "navegarAnterior()"
                    on-navegar-proximo = "navegarPosterior()"
                    on-navegar-ultimo = "navegarUltimo()"
                    on-proxima-pagina="proximaPagina()"
                    on-ultima-pagina="ultimaPagina()"
                    ></frz-navegador>
            </div>
            <div class="painel-body"  ng-hide="cadastro.registro.projetoCreditoRural[lista].length">
                <div class="alert alert-warning" style="margin: 0px;" role="alert">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    Nenhum registro localizado!
                </div>
            </div>
            <div class="table-responsive" ng-show="cadastro.registro.projetoCreditoRural[lista].length > 0">
                <ng-form name="cronogramaPagamentoFrm">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th><frz-seletor ng-model="cronogramaNvg" dados="cadastro.registro.projetoCreditoRural[lista]"></frz-seletor></th>
                                <th>#</th>
                                <th>Nome Lote</th>
                                <th>Data Cálculo</th>
                                <th>Selecionar</th>
                                <th>Valor Financiamento (R$)</th>
                                <th>Periodicidade</th>
                                <th>Data Contratação</th>
                                <th>Quantidade de Parcelas</th>
                                <th>Taxa Juros Anual (%)</th>
                                <th>Data Final Carência</th>
                                <th>Data Primeira Parcela</th>
                                <th>Valor Total Juros (R$)</th>
                                <th>Valor Total Prestações (R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reg in cadastro.registro.projetoCreditoRural[lista] | orderBy: ['nomeLote', 'dataCalculo'] track by reg.id" ng-class="{azul: reg.selecionado === 'S'}">
                                <td>
                                    <input type="radio" ng-show="cronogramaNvg.selecao.tipo === 'U'" ng-model="cronogramaNvg.selecao.item" ng-value="reg"/>
                                    <input type="checkbox" ng-show="cronogramaNvg.selecao.tipo === 'M'" checklist-model="cronogramaNvg.selecao.items" checklist-value="reg"/>
                                </td>
                                <td>
                                    {{$index + 1 + ((cronogramaNvg.paginaAtual-1) * cronogramaNvg.tamanhoPagina)}}
                                </td>
                                <td>{{reg.nomeLote}}</td>
                                <td>{{reg.dataCalculo | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td>
                                    <input type="radio" id="{{reg.nomeLote}}{{$index}}" name="{{reg.nomeLote}}" ng-click="definirSelecionado(cadastro.registro.projetoCreditoRural[lista], reg)" ng-checked="reg.selecionado === 'S'">
                                </td>
                                <td class="text-right td-exibe-valor">{{reg.valorFinanciamento | number: 2}}</td>
                                <td>{{UtilSrv.indiceDePorCampo(cadastro.apoio.periodicidadeList, reg.periodicidade, 'codigo').descricao}}</td>
                                <td>{{reg.dataContratacao | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-right">{{reg.quantidadeParcelas | number: 0}}</td>
                                <td class="text-right td-exibe-valor">{{reg.taxaJurosAnual | number: 3}}</td>
                                <td>{{reg.dataFinalCarencia | date: 'dd/MM/yyyy'}}</td>
                                <td>{{reg.dataPrimeiraParcela | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-right td-exibe-valor">{{reg.valorTotalJuros | number: 2}}</td>
                                <td class="text-right td-exibe-valor">{{reg.valorTotalPrestacoes | number: 2}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </ng-form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
    <div class="row" ng-show="cronogramaNvg.selecao.item['cronogramaPagamentoList'].length > 0">
        <div class="panel panel-default">
            <div class="panel-heading container-fluid">
                RESULTADO DO CÁLCULO!
            </div>
            <div class="painel-body"  ng-hide="cronogramaNvg.selecao.item['cronogramaPagamentoList'].length">
                <div class="alert alert-warning" style="margin: 0px;" role="alert">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    Nenhum registro localizado!
                </div>
            </div>
            <div class="table-responsive">
                <ng-form name="receitaDespesaListFrm">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Parcela</th>
                                <th>Ano</th>
                                <th>Época</th>
                                <th>Saldo Devedor Inicial (R$)</th>
                                <th class="sr-only">Taxa de Juros (%)</th>
                                <th>Juros (R$)</th>
                                <th>Amortização (R$)</th>
                                <th>Prestação (R$)</th>
                                <th>Saldo Devedor Final (R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reg in cronogramaNvg.selecao.item['cronogramaPagamentoList'] | orderBy: ['descricao'] track by reg.id" ng-class="{azul: !reg.parcela}">
                                <td>
                                    {{$index + 1 + ((cronogramaNvg.paginaAtual-1) * cronogramaNvg.tamanhoPagina)}}
                                </td>
                                <td>
                                    {{reg.parcela | number: 0}}
                                </td>
                                <td>
                                    {{reg.ano | number: 0}}
                                </td>
                                <td>
                                    {{reg.epoca | number: 0}}
                                </td>
                                <td class="text-right td-exibe-valor">
                                    {{reg.saldoDevedorInicial | number: 2}}
                                </td>
                                <td class="text-right sr-only td-exibe-valor">
                                    {{reg.taxaJuros | number: 6}}
                                </td>
                                <td class="text-right td-exibe-valor">
                                    {{reg.juros | number: 2}}
                                </td>
                                <td class="text-right td-exibe-valor">
                                    {{reg.amortizacao | number: 2}}
                                </td>
                                <td class="text-right td-exibe-valor">
                                    {{reg.prestacao | number: 2}}
                                </td>
                                <td class="text-right td-exibe-valor">
                                    {{reg.saldoDevedorFinal | number: 2}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </ng-form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>