<div>
    <div class="container" ng-if="tipo === 'ARQUIVOS'">
        <div class="row">
            <div class="col-md-6">
                <div class="btn btn-info" ngf-select="upload($files)" ngf-multiple="true" ng-model="files">
                    Selecione Arquivos
                </div>
            </div>
        </div>
        <div class="row">
            <div class="drop-box" ngf-select="upload($files)" ngf-drop ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
                Arraste Arquivos Aqui
            </div>
            <div ngf-no-file-drop>
                File Drag/Drop is not supported for this browser
            </div>
        </div>
        <div class="row">
            Arquivos selecionados, total({{ngModel.length}}):
            <ul>
                <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
            </ul>
            Log:
            <pre>
                {{log}}
            </pre>
        </div>
    </div>

    <div class="container" ng-if="tipo === 'PERFIL'">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" ng-init="webcamAtiva = 'A'">
                    <label class="btn btn-primary" ng-model="webcamAtiva" uib-btn-radio="'A'" ng-click="ativaWebcam()">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Origem Arquivo
                    </label>
                    <label class="btn btn-primary" ng-model="webcamAtiva" uib-btn-radio="'W'" ng-click="ativaWebcam()">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Origem Webcam
                    </label>
                </div>
            </div>
        </div>
        <div class="row" ng-if="webcamAtiva === 'A'">
            <div class="col-md-7">
                <label class="label-control">Arquivo</label>
                <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea center-block">
                    <img-crop class="center-block" image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                    </img-crop>
                </div>
                <button class="btn btn-info" ngf-select ng-model="picFile" accept="image/*">
                    Selecione uma imagem
                </button>
            </div>
            <div class="col-md-3">
                <ng-form name="dadosFrm">
                    <label class="label-control">Foto Recortada</label>
                    <img class="displayed center-block" ng-src="{{croppedDataUrl}}">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning" ng-click="upload(croppedDataUrl)" ng-show="picFile">Enviar</button>
                            <input type="hidden" id="nomeArquivo" name="nomeArquivo" ng-model="ngModel" required="true">
                        </div>
                    </div>
                    <div class="label label-danger" ng-show="dadosFrm.nomeArquivo.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        O Envio da Imagem é Obrigatório!
                    </div>
                </ng-form>
            </div>
        </div>
        <div class="row" ng-if="webcamAtiva === 'W'">
            <div class="col-md-7">
                <label class="label-control">Webcam</label>
                <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)" class="cropArea center-block"></webcam>
            </div>
            <div class="col-md-4">
                <ng-form name="dadosFrm">
                    <label class="label-control">Foto Tirada</label>
                    <canvas id="snapshot" width="240" height="240" class="displayed center-block"></canvas>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button class="btn btn-info" ng-click="makeSnapshot()">Tirar Foto</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning" ng-click="upload(snapshotData)" ng-show="snapshotData">Enviar</button>
                            <input type="hidden" id="nomeArquivo" name="nomeArquivo" ng-model="ngModel" required="true">
                        </div>
                    </div>
                    <div class="label label-danger" ng-show="dadosFrm.nomeArquivo.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        O Envio da Imagem é Obrigatório!
                    </div>
                </ng-form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="progress" ng-show="progress >= 0">
                    <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </span>
            </div>
            <div class="col-md-6">
                <span ng-show="result">Upload Sucesso</span>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </div>
        </div>    
    </div>
    <style type="text/css">
        .cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width:400px;
            height:250px;
        }
        form .progress {
            line-height: 15px;
        }
        .progress {
            display: inline-block;
            width: 100px;
            border: 3px groove #CCC;
        }
        .progress div {
            font-size: smaller;
            background: orange;
            width: 0;
        }
        .button {
            -moz-appearance: button;
            /* Firefox */
            -webkit-appearance: button;
            /* Safari and Chrome */
            padding: 10px;
            margin: 10px;
            width: 70px;
        }
        .drop-box {
            background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 100%;
            height: 80px;
            text-align: center;
            padding-top: 25px;
            margin: 10px;
        }
        .dragover {
            border: 5px dashed blue;
        }

        .displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</div>