<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <legend>Dados Básicos</legend>
                <!-- Ano da Produção -->
                <div class="form-group" title="Ano da Produção">
                    <label class="col-md-4 control-label" for="ano">
                        Ano da Produção
                    </label>
                    <div class="col-md-2">
                        <select id="ano" name="ano" class="form-control" ng-model="cadastro.filtro.ano" ng-options="item as item for item in cadastro.apoio.anoList track by item" required="true">
                        </select>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.ano.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>

                <!-- Classificação / Forma de Produção -->
                <div class="form-group" title="Classificação do Bem de Produção/ Forma de Produção">
                    <label class="col-md-4 control-label" for="bemClassificacaoListTemp">
                        Classificação / Forma de Produção
                    </label>
                   <div class="col-md-7">
                        <frz-indice-producao id="bemClassificacaoListTemp" name="bemClassificacaoListTemp" ng-model="cadastro.filtro.bemClassificacaoListTemp">
                        </frz-indice-producao>
                        <input type="hidden" id="bemClassificacaoListTempTotal" name="bemClassificacaoListTempTotal" ng-model="cadastro.filtro.bemClassificacaoListTemp.length" ng-valor-min="0">
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && (frm.filtro.bemClassificacaoListTempTotal.$error.required || frm.filtro.bemClassificacaoListTempTotal.$error.ngValorMin)">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>

                <!-- Bens de Produção -->
                <div class="form-group" title="Bens de Produção">
                    <label class="col-md-4 control-label" for="bemClassificadoList">
                        Bens de Produção
                    </label>
                    <div class="col-md-7">
                        <tags-input id="bemClassificadoList" name="bemClassificadoList" ng-model="cadastro.filtro.bemClassificadoList" key-property="id" display-property="nome" placeholder="Digite o nome do Bem de Produção" template="tag-template" add-from-autocomplete-only="true">
                            <auto-complete source="getTagBemClassificado2($query)" min-length="0" load-on-empty="false" template="autocomplete-template">
                            </auto-complete>
                        </tags-input>
                        <script type="text/ng-template" id="tag-template" >
                            <div class="tag-template">
                                <div class="right-panel">
                                    <span>{{$getDisplayText()}}</span>
                                    <small style="font-size: 70%;color: yellow">({{data.bemClassificacao.nome}})</small>
                                    <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                </div>
                            </div>
                        </script>
                        <script type="text/ng-template" id="autocomplete-template">
                            <div class="autocomplete-template">
                                <div class="right-panel">
                                    <span>{{$getDisplayText()}}</span>
                                    <small style="font-size: 70%">({{data.bemClassificacao.nome}})</small>
                                    <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                </div>
                            </div>
                        </script>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.bemClassificadoList.$error.leftoverText">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Valor Inválido!
                        </div>

                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.bemClassificadoList.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>

                <!-- Unidade Organizacional/Comunidade -->
                <div class="form-group" title="Unidade Organizacional/Comunidade">
                    <label class="col-md-4 control-label" for="unidadeOrganizacionalComunidade">
                        Unidade Organizacional/Comunidade
                    </label>
                   <div class="col-md-7">
                        <frz-unidade-comunidade id="unidadeOrganizacionalComunidade" name="unidadeOrganizacionalComunidade" ng-model="cadastro.apoio.localList">
                        </frz-unidade-comunidade>
                        <input type="hidden" id="unidadeOrganizacionalComunidadeTotal" name="unidadeOrganizacionalComunidadeTotal" ng-model="cadastro.apoio.localList.length" ng-valor-min="0">
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && (frm.filtro.unidadeOrganizacionalComunidadeTotal.$error.required || frm.filtro.unidadeOrganizacionalComunidadeTotal.$error.ngValorMin)">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>