<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form name="frm.formulario" novalidate>
            <fieldset ng-disabled="(modalCadastro !== true) && ['INCLUINDO', 'EDITANDO'].indexOf(navegador.estadoAtual()) < 0">
                <div class="row">
                    {{ $scope.cadastro.registro }}
                    <div class="col-md-2" title="">
                        <div class="form-group">
                            <label class="control-label" for="ano">Safra</label>
                            <div class="form-control" ng-if="cadastro.registro.id">
                                {{cadastro.registro.ano}}
                            </div>
                            <select id="ano" name="ano" class="form-control" ng-change="limparIpa();" ng-model="cadastro.registro.ano" ng-options="item as item for item in cadastro.apoio.anoList track by item" ng-required="true" ng-if="!cadastro.registro.id">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.ano.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" title="">
                        <div class="form-group">
                            <label class="label-form" for="tipoLancamento-UO">Unidade Organizacional</label>
                            <select ng-change="limparIpa();" class="form-control" id="unidadeOrganizacional" name="unidadeOrganizacional" ng-model="cadastro.registro.unidadeOrganizacional" ng-options="item as item.nome for item in cadastro.apoio.unidadeOrganizacionalList | filter: {'classificacao': 'OP'} | orderBy:'nome' track by item.id" ng-required="true" >                                   
                            </select>
                            <div class="label label-danger" ng-if="navegador.submetido && frm.formulario.unidadeOrganizacional.$error.required && (!cadastro.registro.id && cadastro.apoio.tipoLancamento === 'UO')">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" title="" >
                        <div class="form-group" align="center">
                            <button type="button" class="btn btn-primary" ng-click="cargaEscritorio();" ng-show="cadastro.registro.unidadeOrganizacional && !cadastro.registro.publicoAlvo" ng-disabled="cadastro.registro.condicao">Carregar IPA Esperado</button>                        
                            <button type="button" class="btn btn-success" ng-click="cargaProdutor();" ng-show="cadastro.registro.publicoAlvo && cadastro.registro.propriedadeRural" ng-disabled="cadastro.registro.condicao">Carregar IPA Existente</button>                      
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        <label class="control-label" for="publicoAlvo">Produtor Rural</label>
                        <div class="input-group" class="col-md-5">
                            <input id="publicoAlvo" name="publicoAlvo" class="form-control" placeholder="Produtor" type="text" ng-model="cadastro.registro.publicoAlvo.pessoa.nome" readonly="true">
                            <span class="input-group-btn">
                                <div class="btn-group " role="group">
                                    <button ng-click="limparIpa()" type="button" class="btn  btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="modalSelecinarPublicoAlvo('lg')">Selecionar</a></li>
                                        <li><a ng-click="modalVerPublicoAlvo('lg')" ng-show="cadastro.registro.publicoAlvo.pessoa.nome">Visualizar</a></li>
                                    </ul>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="propriedadeRural">Propriedade Rural</label>
                            <select ng-change="limparIpaPropriedade();" id="propriedadeRural" name="propriedadeRural" class="form-control" ng-model="cadastro.registro.propriedadeRural" ng-options="item as item.nome for item in cadastro.apoio.propriedadeRuralList | orderBy:'nome' track by item.id" ng-required="true">
                            </select>
                            
                        </div>

                    </div>
                </div>

                <div class="row" ng-show="cadastro.registro.unidadeOrganizacional"> <!--  ng-show="cadastro.registro.unidadeOrganizacional" >  -->
                    <uib-tabset >
                        <uib-tab >
                            <uib-tab-heading>Agricola - [{{cadastro.registro.producaoAgricolaList.length}}]<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></uib-tab-heading>
                            <div class="col-md-12" title="Produção Agricola">
                                <div class="form-group">
                                    <ng-include src="'indice-producao/sub-producao-agricola.html'" ng-controller="ProducaoAgricolaCtrl"></ng-include>
                                    <input type="hidden" id="producaoAgricolaList" name="producaoAgricolaList" ng-model="cadastro.registro.producaoAgricolaList.length" ng-valor-min="1">
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab >
                            <uib-tab-heading>Animal - [{{cadastro.registro.producaoAnimalList.length}}]<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></uib-tab-heading>
                            <div class="col-md-12" title="Produção Animal">
                                <div class="form-group">
                                    <ng-include src="'indice-producao/sub-producao-animal.html'" ng-controller="ProducaoAnimalCtrl"></ng-include>
                                    <input type="hidden" id="producaoAnimalList" name="producaoAnimalList" ng-model="cadastro.registro.producaoAnimalList.length" >
                                </div>
                            </div>                            
                        </uib-tab>

                        <uib-tab >
                            <uib-tab-heading>Floricultura - [{{cadastro.registro.producaoFloriculturaList.length}}]<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></uib-tab-heading>
                            <div class="col-md-12" title="Produção Floricultura">
                                <div class="form-group">
                                    <ng-include src="'indice-producao/sub-producao-floricultura.html'" ng-controller="ProducaoFloriculturaCtrl"></ng-include>
                                    <input type="hidden" id="producaoFloriculturaList" name="producaoFloriculturaList" ng-model="cadastro.registro.producaoFloriculturaList.length" >
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab >
                            <uib-tab-heading>Agroindústria - [{{cadastro.registro.producaoAgroindustriaList.length}}]<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></uib-tab-heading>
                            <div class="col-md-12" title="Produção da Agroindústira">
                                <div class="form-group">
                                    <ng-include src="'indice-producao/sub-producao-agroindustria.html'" ng-controller="ProducaoAgroindustriaCtrl"></ng-include>
                                    <input type="hidden" id="producaoAgroindustriaList" name="producaoAgroindustriaList" ng-model="cadastro.registro.producaoAgroindustriaList.length" >
                                </div>
                            </div>
                        </uib-tab>

                        <!-- <uib-tab select="true" >
                            <uib-tab-heading>Artesanato - [{{cadastro.registro.producaoArtesanatoList.length}}]<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></uib-tab-heading>
                            <div class="col-md-12" title="Produção Artesanal">
                                <div class="form-group">
                                    <ng-include src="'indice-producao/sub-producao-artesanato.html'" ng-controller="ProducaoArtesanatoCtrl"></ng-include>
                                    <input type="hidden" id="producaoArtesanatoList" name="producaoArtesanatoList" ng-model="cadastro.registro.producaoArtesanatoList.length" >
                                </div>
                            </div>
                        </uib-tab> -->

                    </uib-tabset>

                </div>
<!--
              <div class="row">
                    <div class="col-md-6">
                        <span>&nbsp;</span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-8">
                            <label class="control-label">Resp. Inclusão</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.inclusaoUsuario.pessoa.apelidoSigla"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Dt. Inclusão</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.inclusaoData"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Resp. Atualização</label>
                            <input class="form-control" type="text" readonly="true"  ng-model="cadastro.registro.alteracaoUsuario.pessoa.apelidoSigla"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Dt. Atualização</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.alteracaoData"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Chave Sisater</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.chaveSisater"/>
                        </div>
                    </div>
                </div>
            -->

            </fieldset>
        </form>
    </div>
</div>