<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body" ng-if="!navegador.dados.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-if="navegador.dados.length">
        <table class="table table-hover table-striped" style="padding:0; margin:0;">
            <thead>
                <tr>
                    <th>
                        <frz-seletor ng-model="navegador"></frz-seletor>
                    </th>
                    <th width="30">
                        #
                    </th>
                    <th>Ano</th>
                    <th>Bem de Produção / <br>Classificação</th>
                    <th>Unidade Local / <br>Comunidade</th>
                    <th>Situação</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>Volume</th>
                    <th>Vlr. Unit.</th>
                    <th>Vlr. Total</th>
                    <th>Produtores</th>
                    <th>Unidade de Medida</th>
                </tr>
            </thead>
            <tbody ng-init="cadastro.apoio.escondeDetalhe = false">
                <tr ng-repeat-start="item in navegador.dados | orderBy: '4' | orderBy: '3' | orderBy: '2' | orderBy: '-1' | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: navegador.tamanhoPagina" ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)">
                    <td width="30px" rowspan="3">
                        <input type="radio" ng-show="navegador.selecao.tipo === 'U'" ng-model="navegador.selecao.item" ng-value="item"/>
                        <input type="checkbox" ng-show="navegador.selecao.tipo === 'M'" checklist-model="navegador.selecao.items" checklist-value="item" ng-click="crudMataClick(scp, $event);"/>
                    </td>
                    <td rowspan="3">
                        {{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
                    </td>
                    <td rowspan="3">{{item[PRODUCAO_ANO]}}</td>
                    <td rowspan="3">{{item[BEM_NOME]}}<br><small>{{item[CLASSIFICACAO_BEM]}}</small></td>
                    <td rowspan="3">{{item[PRODUCAO_UNIDADE_LOCAL]}}<small><br>{{item[PRODUCAO_COMUNIDADE]}}</small></td>
                    <td>&nbsp;</td>
                    <td><small ng-if="item[ITEM_NOME_A]">({{item[ITEM_NOME_A]}})</small></td>
                    <td><small ng-if="item[ITEM_NOME_B]">({{item[ITEM_NOME_B]}})</small></td>
                    <td><small ng-if="item[ITEM_NOME_C]">({{item[ITEM_NOME_C]}})</small></td>
                    <td><small>({{item[FORMULA]}})</small></td>
                    <td colspan="3">&nbsp;</td>
                    <td rowspan="3">{{item[UNIDADE_MEDIDA]}}</td>
                </tr>
                <tr ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)">
                    <td>Esperado</td>
                    <td class="text-right">{{resultado(item[ITEM_NOME_A], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_A_VALOR) | number: 5}}</td>
                    <td class="text-right">{{resultado(item[ITEM_NOME_B], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_B_VALOR) | number: 5}}</td>
                    <td class="text-right">{{resultado(item[ITEM_NOME_C], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_C_VALOR) | number: 5}}</td>
                    <td class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME) | number: 5}}</td>
                    <td class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_QTD_PRODUTORES) | number: 0}}</td>
                    <td class="text-right">{{item[PRODUCAO_FORMA_LIST][PROD_FORMA_VLR_UNITARIO] | currency}}</td>
                    <td class="text-right">{{(soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME) * item[PRODUCAO_FORMA_LIST][PROD_FORMA_VLR_UNITARIO]) | currency}}</td>
                </tr>
                <tr ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)">
                    <td>Confirmado</td>
                    <td class="text-right">{{resultado(item[ITEM_NOME_A], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_A_VALOR) | number: 5}}</td>
                    <td class="text-right">{{resultado(item[ITEM_NOME_B], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_B_VALOR) | number: 5}}</td>
                    <td class="text-right">{{resultado(item[ITEM_NOME_C], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_C_VALOR) | number: 5}}</td>
                    <td class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME) | number: 5}}</td>
                    <td class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_QTD_PRODUTORES) | number: 0}}</td>
                    <td class="text-right">{{item[PRODUCAO_FORMA_LIST][PROD_FORMA_VLR_UNITARIO] | currency}}</td>
                    <td class="text-right">{{(soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME) * item[PRODUCAO_FORMA_LIST][PROD_FORMA_VLR_UNITARIO]) | currency}}</td>
                </tr>
                <tr ng-repeat-end ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)" 
                    ng-if="!cadastro.apoio.escondeDetalhe && item[PRODUCAO_FORMA_LIST].length"
                    style="font-size: 90%; padding:0; margin:0;">
                    <td style="padding:0; margin:0;"></td>
                    <td colspan="13" style="padding:0; margin:0;">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-bordered table-condensed table-sm" style="padding:0; margin:0;">
                                <thead>
                                    <tr>
                                        <th colspan="{{item[PRODUCAO_FORMA_LIST][PRODUCAO_FORMA_COMPOSICAO_LIST][COMPOSICAO_FORMA_PRODUCAO_VALOR_ITEM_NOME].length}}">Forma de Produção</th>
                                        <th rowspan="2">Situação</th>
                                        <th rowspan="2" ng-if="item[ITEM_NOME_A]">{{item[ITEM_NOME_A]}}<br><small>(A)</small></th>
                                        <th rowspan="2" ng-if="item[ITEM_NOME_B]">{{item[ITEM_NOME_B]}}<br><small>(B)</small></th>
                                        <th rowspan="2" ng-if="item[ITEM_NOME_C]">{{item[ITEM_NOME_C]}}<br><small>(C)</small></th>
                                        <th rowspan="2">Volume<br><small>({{item[FORMULA]}})</small></th>
                                        <th rowspan="2">Vlr. Unit.</th>
                                        <th rowspan="2">Vlr. Tot</th>
                                        <th rowspan="2">Produtores</th>
                                        <th rowspan="2">Unidade de Medida</th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="forma in item[PRODUCAO_FORMA_LIST][PRODUCAO_FORMA_COMPOSICAO_LIST][COMPOSICAO_FORMA_PRODUCAO_VALOR_ITEM_NOME] | orderBy: '2'">
                                            {{forma[0]}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="linha in item[PRODUCAO_FORMA_LIST] | orderBy: '0.4' | orderBy: '0.3' | orderBy: '0.2' | orderBy: '0.1' | orderBy: '0.0'">
                                        <td rowspan="2" ng-repeat="forma in linha[PRODUCAO_FORMA_COMPOSICAO_LIST] | orderBy: '2'">
                                            {{forma[1]}}
                                        </td>
                                        <td>Esperado</td>
                                        <td class="text-right" ng-if="item[ITEM_NOME_A]">
                                            {{linha[PROD_FORMA_ITEM_A_VALOR] | number: 5}}
                                        </td>
                                        <td class="text-right" ng-if="item[ITEM_NOME_B]">
                                            {{linha[PROD_FORMA_ITEM_B_VALOR] | number: 5}}
                                        </td>
                                        <td class="text-right" ng-if="item[ITEM_NOME_C]">
                                            {{linha[PROD_FORMA_ITEM_C_VALOR] | number: 5}}
                                        </td>
                                        <td class="text-right">
                                            {{formula(item[FORMULA], linha[PROD_FORMA_ITEM_A_VALOR], linha[PROD_FORMA_ITEM_B_VALOR], linha[PROD_FORMA_ITEM_C_VALOR], linha, 1) | number: 5}}
                                        </td>
                                        <td class="text-right">
                                            {{linha[PROD_FORMA_VLR_UNITARIO] | currency}}
                                        </td>
                                        <td class="text-right">
                                            {{(formula(item[FORMULA], linha[PROD_FORMA_ITEM_A_VALOR], linha[PROD_FORMA_ITEM_B_VALOR], linha[PROD_FORMA_ITEM_C_VALOR], linha, 1) * linha[PROD_FORMA_VLR_UNITARIO]) | currency}}
                                        </td>
                                        <td class="text-right">
                                            {{linha[PROD_FORMA_QTD_PRODUTORES] | number: 0}}
                                        </td>
                                        <td rowspan="2">
                                            {{item[UNIDADE_MEDIDA]}}
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end>
                                        <td>Confirmado</td>
                                        <td class="text-right" ng-if="item[ITEM_NOME_A]">
                                            {{linha[PROD_FORMA_ITEM_A_VALOR] | number: 5}}
                                        </td>
                                        <td class="text-right" ng-if="item[ITEM_NOME_B]">
                                            {{linha[PROD_FORMA_ITEM_B_VALOR] | number: 5}}
                                        </td>
                                        <td class="text-right" ng-if="item[ITEM_NOME_C]">
                                            {{linha[PROD_FORMA_ITEM_C_VALOR] | number: 5}}
                                        </td>
                                        <td class="text-right">
                                            {{formula(item[FORMULA], linha[PROD_FORMA_ITEM_A_VALOR], linha[PROD_FORMA_ITEM_B_VALOR], linha[PROD_FORMA_ITEM_C_VALOR], linha, 1) | number: 5}}
                                        </td>
                                        <td class="text-right">
                                            {{linha[PROD_FORMA_VLR_UNITARIO] | currency}}
                                        </td>
                                        <td class="text-right">
                                            {{(formula(item[FORMULA], linha[PROD_FORMA_ITEM_A_VALOR], linha[PROD_FORMA_ITEM_B_VALOR], linha[PROD_FORMA_ITEM_C_VALOR], linha, 1) * linha[PROD_FORMA_VLR_UNITARIO]) | currency}}
                                        </td>
                                        <td class="text-right">
                                            {{linha[PROD_FORMA_QTD_PRODUTORES] | number: 0}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th rowspan="2" colspan="{{item[PRODUCAO_FORMA_LIST][PRODUCAO_FORMA_COMPOSICAO_LIST][COMPOSICAO_FORMA_PRODUCAO_VALOR_ITEM_NOME].length}}" class="text-right">Total</th>
                                        <th>Esperado</th>
                                        <th class="text-right" ng-if="item[ITEM_NOME_A]">{{resultado(item[ITEM_NOME_A], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_A_VALOR) | number: 5}}</th>
                                        <th class="text-right" ng-if="item[ITEM_NOME_B]">{{resultado(item[ITEM_NOME_B], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_B_VALOR) | number: 5}}</th>
                                        <th class="text-right" ng-if="item[ITEM_NOME_C]">{{resultado(item[ITEM_NOME_C], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_C_VALOR) | number: 5}}</th>
                                        <th class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME) | number: 5}}</th>
                                        <th class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VLR_UNITARIO) | currency}}</th>
                                        <th class="text-right">{{(soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VLR_UNITARIO) * soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME)) | currency}}</th>
                                        <th class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_QTD_PRODUTORES) | number: 0}}</th>
                                        <th rowspan="2"></th>
                                    </tr>
                                    <tr>
                                        <th>Confirmado</th>
                                        <th class="text-right" ng-if="item[ITEM_NOME_A]">{{resultado(item[ITEM_NOME_A], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_A_VALOR) | number: 5}}</th>
                                        <th class="text-right" ng-if="item[ITEM_NOME_B]">{{resultado(item[ITEM_NOME_B], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_B_VALOR) | number: 5}}</th>
                                        <th class="text-right" ng-if="item[ITEM_NOME_C]">{{resultado(item[ITEM_NOME_C], item[PRODUCAO_FORMA_LIST], PROD_FORMA_ITEM_C_VALOR) | number: 5}}</th>
                                        <th class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME) | number: 5}}</th>
                                        <th class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VLR_UNITARIO) | currency}}</th>
                                        <th class="text-right">{{(soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VLR_UNITARIO) * soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_VOLUME)) | currency}}</th>
                                        <th class="text-right">{{soma(item[PRODUCAO_FORMA_LIST], PROD_FORMA_QTD_PRODUTORES) | number: 0}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<label class="control-label" ng-if="navegador.selecao.tipo === 'U' && navegador.selecao.item">Produtores</label>
<ng-include src="'indice-producao/sub-produtores.html'" ng-controller="ProdutoresCtrl" ng-if="navegador.selecao.tipo === 'U' && navegador.selecao.item"></ng-include>