<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body" ng-if="!navegador.dados.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-if="navegador.dados.length">
        <table class="table table-hover table-striped" ng-init="cadastro.apoio.escondeDetalhe = true">
            <thead>
                <tr>
                    <th>
                        <frz-seletor ng-model="navegador"></frz-seletor>
                    </th>
                    <th width="30">
                        #
                    </th>
                    <th>Ano</th>
                    <th>Bem</th>
                    <th>Classificação</th>
                    <th>Unidade Organizacional</th>
                </tr> 
            </thead>
            <tbody>
                <tr ng-repeat-start="item in navegador.dados | orderBy: '4' | orderBy: '3' | orderBy: '2' | orderBy: '-1' | pagina: navegador.paginaAtual : navegador.tamanhoPagina | limitTo: navegador.tamanhoPagina" ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)"  title="">
                    <td width="30px" rowspan="2">
                        <input type="radio" ng-show="navegador.selecao.tipo === 'U'" ng-model="navegador.selecao.item" ng-value="item"/>
                        <input type="checkbox" ng-show="navegador.selecao.tipo === 'M'" checklist-model="navegador.selecao.items" checklist-value="item" ng-click="crudMataClick(scp, $event);"/>
                    </td>
                    <td rowspan="2">
                        {{$index + 1 + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)}}
                    </td>
                    <td>
                        {{item.ano}}
                    </td>
                    <td>{{item.bemClassificado.nome}}</td>
                    <td>{{item.bemClassificado.bemClassificacao.nome}}</td>
                    <td>{{item.unidadeOrganizacional.nome}}</td>
                </tr>
                <tr ng-repeat-end ng-click="crudSeleciona(scp, item); navegador.folhaAtual = $index + ((navegador.paginaAtual-1) * navegador.tamanhoPagina)"  title="">
                    <td colspan="4">
                        <table class="table table-hover table-striped table-condensed" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th colspan="{{item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList.length}}"><span ng-if="cadastro.apoio.escondeDetalhe">Forma de Produção</span></th>
                                    <th rowspan="2">Situação</th>
                                    <th>A</th>
                                    <th>B</th>
                                    <th>C</th>
                                    <th>Volume</th>
                                    <th colspan="2">Preço Pago ao Produtor</th>
                                    <th rowspan="2">Quantidade de Produtores</th>
                                </tr> 
                                <tr>
                                    <th ng-repeat="composicao in item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList | orderBy: 'ordem'">
                                        <span ng-if="cadastro.apoio.escondeDetalhe">{{composicao.formaProducaoItem.nome}}</span>
                                    </th>
                                    <th><small ng-if="item.bemClassificado.bemClassificacao.itemANome.nome">({{item.bemClassificado.bemClassificacao.itemANome.nome}})</small></th>
                                    <th><small ng-if="item.bemClassificado.bemClassificacao.itemBNome.nome">({{item.bemClassificado.bemClassificacao.itemBNome.nome}})</small></th>
                                    <th><small ng-if="item.bemClassificado.bemClassificacao.itemCNome.nome">({{item.bemClassificado.bemClassificacao.itemCNome.nome}})</small></th>
                                    <th><small ng-if="item.bemClassificado.bemClassificacao.formula">({{item.bemClassificado.bemClassificacao.formula}})</small></th>
                                    <th>(Valor Unitário R$)</th>
                                    <th>(Valor Total R$)</th>
                                </tr> 
                            </thead>
                            <tfoot ng-if="cadastro.apoio.escondeDetalhe">
                                <tr ng-repeat="producao in item.producaoList | limitTo: -3" title="">
                                    <th ng-repeat="composicao in producao.producaoComposicaoList | orderBy: 'ordem'" ng-if="producao.producaoComposicaoList">
                                        {{composicao.formaProducaoValor.nome}}
                                    </th>
                                    <th ng-if="!producao.producaoComposicaoList" colspan="{{item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList.length + 1}}" class="text-right">
                                        {{producao.situacao}}
                                    </th>
                                    
                                    <th class="text-right">{{producao.itemAValor | number: globalFracaoHectares}}</th>
                                    <th class="text-right">{{producao.itemBValor | number: globalFracaoHectares}}</th>
                                    <th class="text-right">{{producao.itemCValor | number: globalFracaoHectares}}</th>
                                    <th class="text-right">{{producao.volume | number: globalFracaoHectares}}</th>
                                    <th class="text-right">{{producao.valorUnitario | currency}}</th>
                                    <th class="text-right">{{producao.valorTotal | currency}}</th>
                                    <th class="text-right">{{producao.quantidadeProdutores}}</th>
                                </tr>
                            </tfoot>
                            <tbody ng-if="cadastro.apoio.escondeDetalhe">
                                <tr ng-repeat="producao in item.producaoList | limitTo: item.producaoList.length -3" title="">
                                    <td ng-repeat="composicao in producao.producaoComposicaoList | orderBy: 'ordem'" ng-if="producao.producaoComposicaoList">
                                        {{composicao.formaProducaoValor.nome}}
                                    </td>
                                    <td ng-if="!producao.producaoComposicaoList" colspan="{{item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList.length}}">
                                        &nbsp;
                                    </td>
                                    <td>{{producao.situacao}}</td>
                                    <td class="text-right">{{producao.itemAValor | number: globalFracaoHectares}}</td>
                                    <td class="text-right">{{producao.itemBValor | number: globalFracaoHectares}}</td>
                                    <td class="text-right">{{producao.itemCValor | number: globalFracaoHectares}}</td>
                                    <td class="text-right">{{producao.volume | number: globalFracaoHectares}}</td>
                                    <td class="text-right">{{producao.valorUnitario | currency}}</td>
                                    <td class="text-right">{{producao.valorTotal | currency}}</td>
                                    <td class="text-right">{{producao.quantidadeProdutores}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<label class="control-label" ng-if="navegador.selecao.tipo === 'U' && navegador.selecao.item">Produtores ({{navegador.selecao.item.bemClassificado.nome}}) ({{navegador.selecao.item.unidadeOrganizacional.nome}})</label>
<ng-include src="'indice-producao/sub-produtores.html'" ng-controller="ProdutoresCtrl" ng-if="navegador.selecao.tipo === 'U' && navegador.selecao.item">
</ng-include>