<div class="panel panel-default" ng-class="{'ng-invalid': producaoFloriculturaFrm.producaoList.$error.ngValorMin}" id="producaoFloriculturaPnl">
    <div class="panel-heading container-fluid">
        <frz-navegador
            ng-model="producaoFloriculturaNvg" exibe-nome-botao="false"
            dados="cadastro.registro.producaoFloriculturaList"
            acoes-especiais="acoesEspeciais"
            on-abrir = "abrir()"
            on-agir = "agir()"
            on-editar = "editar()"
            on-especial = "especial()"
            on-excluir = "excluir()"
            on-filtrar = "filtrar()"
            on-incluir = "incluir()"
            on-listar = "listar()"
            on-navegar-primeiro = "navegarPrimeiro()"
            on-navegar-anterior = "navegarAnterior()"
            on-navegar-proximo = "navegarPosterior()"
            on-navegar-ultimo = "navegarUltimo()"
            on-proxima-pagina="proximaPagina()"
            on-ultima-pagina="ultimaPagina()"
            >
        </frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.producaoFloriculturaList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" >
        <ng-form name="producaoFloriculturaFrm">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th rowspan="2">
                            <frz-seletor ng-model="producaoFloriculturaNvg"></frz-seletor>
                            #
                        </th>
                        <th>Variedade</th>
                        <th>Proteção</th>
                        <th>Uso D`Água</th>
                        <th>Área (ha)</th>
                        <th></th>
                        <th>Produtividade</th>
                        <th>Produção Anual</th>                        
                        <th ng-show="cadastro.registro.publicoAlvo">Preço Unitário</th>
                        <th ng-show="cadastro.registro.publicoAlvo">Valor Total</th>
                        <th ng-show="!cadastro.registro.publicoAlvo && cadastro.registro.unidadeOrganizacional ">Qtd Produtores</th>
                    </tr>
                    <tr>
                        <td colspan=12>
                                                                         
                        </td>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="producaoFloricultura in cadastro.registro.producaoFloriculturaList " ng-click="producaoFloriculturaNvg.folhaAtual = $index + ((producaoFloriculturaNvg.paginaAtual-1) * producaoFloriculturaNvg.tamanhoPagina)">
                        <td width="30px">
                            <input type="radio" ng-model="producaoFloriculturaNvg.selecao.item" ng-value="producaoFloricultura"/>
                           {{$index + 1 + ((producaoFloriculturaNvg.paginaAtual-1) * producaoFloriculturaNvg.tamanhoPagina)}}
                        </td>
                        <td>
                            <div class="form-group" >
                                <select class="form-control input-sm" style="min-width: 100px;"
                                    id="bemProducaoList_{{$index}}"
                                    name="bemProducaoList_{{$index}}"
                                    ng-model="producaoFloricultura.bemClassificado" 
                                    ng-options="sub as sub.nome for sub in cadastro.apoio.bemClassificadoFloriculturaList | orderBy: 'nome' track by sub.id" 
                                    ng-required="true">
                                </select>
                                
                            </div>
                        </td>
                        <td ng-repeat="forma in producaoFloricultura.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList | orderBy: 'nome'" >
                            <select class="form-control input-sm" style="min-width: 100px;"
                                id="formaProducaoValor_{{$parent.$index}}_{{$index}}"
                                name="formaProducaoValor_{{$parent.$index}}_{{$index}}"
                                ng-model="cadastro.registro.producaoFloriculturaList[$parent.$index].producaoComposicaoList[$index]" 
                                ng-options="sub as sub.nome for sub in forma.formaProducaoItem.formaProducaoValorList | orderBy: 'nome' track by sub.id" 
                                ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && producaoFloriculturaFrm.formaProducaoValor_{{$parent.$index}}_{{$parent.$parent.$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td >
                            <input class="form-control input-sm text-right" id="area_{{$index}}" name="area_{{$index}}" ng-model="producaoFloricultura.area" ng-required="true" ui-number-mask="3" style="min-width: 50px;" ng-blur="calcula($index, 'area');" ng-show="producaoFloricultura.bemClassificado">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoFloriculturaFrm.area_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>                            
                                <span ng-show="producaoFloricultura.bemClassificado">({{ producaoFloricultura.bemClassificado.unidadeMedida.nome}}/ha)</span>
                        </td> 
                        <td >
                            <input class="form-control input-sm text-right" id="produtividade_{{$index}}" name="produtividade_{{$index}}" ng-model="producaoFloricultura.produtividade" ng-required="true" ui-number-mask="3" style="min-width: 50px;" ng-blur="calcula($index, 'produtividade');" ng-show="producaoFloricultura.bemClassificado"
                                   title="Produtividade Min: {{producaoFloricultura.bemClassificado.produtividadeMin}} Max: {{producaoFloricultura.bemClassificado.produtividadeMax}}" >
                            
                            <div class="label label-danger" ng-show="navegador.submetido && producaoFloriculturaFrm.area_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>                        
                        <td>
                            <input class="form-control input-sm text-right" id="producao_{{$index}}" name="producao_{{$index}}" ng-model="producaoFloricultura.producao" ng-required="true" ui-number-mask="3" style="min-width: 50px;" ng-blur="calcula($index, 'producao');" ng-show="producaoFloricultura.bemClassificado">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoFloriculturaFrm.area_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-show="cadastro.registro.publicoAlvo && producaoFloricultura.bemClassificado">
                            <input class="form-control input-sm text-right" id="valorUnitario_{{$index}}" name="valorUnitario_{{$index}}" ng-model="producaoFloricultura.valorUnitario" ng-required="false" ui-money-mask="2" style="min-width: 50px;" ng-show="cadastro.registro.publicoAlvo && producaoFloricultura.bemClassificado">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoFloriculturaFrm.valorUnitario_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-show="cadastro.registro.publicoAlvo && producaoFloricultura.bemClassificado">({{ producaoFloricultura.producao * producaoFloricultura.valorUnitario | currency }})
                        </td>

                            
                        <td ng-if="cadastro.registro.unidadeOrganizacional && !cadastro.registro.publicoAlvo">
                            <input class="form-control input-sm text-right" id="quantidadeProdutores_{{$index}}" name="quantidadeProdutores_{{$index}}" ng-model="producaoFloricultura.quantidadeProdutores" ng-required="false" ui-number-mask="0" style="min-width: 50px;" ng-show="producaoFloricultura.bemClassificado">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoFloriculturaFrm.quantidadeProdutores_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
</div>