<ng-form name="produtoresFrm">
    <div class="panel panel-default">
        <div class="panel-heading container-fluid">
            <frz-navegador
            ng-model="produtoresNvg" exibe-texto-botao="false"
            dados="navegador.selecao.item[7]"
            acoes-especiais="acoesEspeciais"
            on-abrir = "abrir()"
            on-agir = "agir()"
            on-editar = "editar()"
            on-especial = "especial()"
            on-excluir = "excluir()"
            on-filtrar = "filtrar()"
            on-incluir = "incluir()"
            on-listar = "listar()"
            on-navegar-primeiro = "navegarPrimeiro()"
            on-navegar-anterior = "navegarAnterior()"
            on-navegar-proximo = "navegarPosterior()"
            on-navegar-ultimo = "navegarUltimo()"
            on-proxima-pagina="proximaPagina()"
            on-ultima-pagina="ultimaPagina()"
            ></frz-navegador>
        </div>
        <div class="painel-body"  ng-hide="navegador.selecao.item[7].length">
            <div class="alert alert-warning" style="margin: 0px;" role="alert">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                Nenhum registro localizado!
            </div>
        </div>
        <div class="table-responsive" ng-show="navegador.selecao.item[7].length > 0">
            <table class="table table-hover table-striped" style="padding:0; margin:0;">
                <thead>
                    <tr>
                        <th rowspan="2">
                            <frz-seletor ng-model="produtoresNvg"></frz-seletor>
                        </th>
                        <th rowspan="2" width="30">
                            #
                        </th>
                        <th rowspan="2">Produtor</th>
                        <th rowspan="2">Propriedade</th>
                        <th colspan="2">Volume</th>
                        <th rowspan="2">Unidade de Medida</th>
                        <th rowspan="2">Ação</th>
                    </tr>
                    <tr>
                        <th>Esperado</th>
                        <th>Confirmado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="produtor in produtoresNvg.dados | orderBy: 'nome' | pagina: produtoresNvg.paginaAtual : produtoresNvg.tamanhoPagina | limitTo: produtoresNvg.tamanhoPagina" ng-click="produtoresNvg.folhaAtual = $index + ((produtoresNvg.paginaAtual-1) * produtoresNvg.tamanhoPagina)">
                        <td width="30px">
                            <input type="radio" ng-show="produtoresNvg.selecao.tipo === 'U'" ng-model="produtoresNvg.selecao.item" ng-value="produtor"/>
                            <input type="checkbox" ng-show="produtoresNvg.selecao.tipo === 'M'" checklist-model="produtoresNvg.selecao.items" checklist-value="produtor" ng-click="crudMataClick(scp, $event);"/>
                        </td>
                        <td>
                            {{$index + 1 + ((produtoresNvg.paginaAtual-1) * produtoresNvg.tamanhoPagina)}}
                        </td>
                        <td>
                            <a ng-click="modalVerPessoa(22)">{{produtor[1]}}</a>
                        </td>
                        <td><a ng-click="modalVerPropriedadeRural(2)">{{produtor[0]}}</a></td>
                        <td>{{soma(produtor[2], 1) | number: 5}}</td>
                        <td>00000000000000</td>
                        <td>{{navegador.selecao.item[5]}}</td>
                        <th><button class="btn btn-primary btn-sm">Confirmar</button></th>
                    </tr>
                    <tr ng-repeat-end ng-click="produtoresNvg.folhaAtual = $index + ((produtoresNvg.paginaAtual-1) * produtoresNvg.tamanhoPagina)" 
                        ng-if="!cadastro.apoio.escondeDetalhe && produtor[2].length"
                        style="font-size: 90%; padding:0; margin:0;">
                        <td style="padding:0; margin:0;"></td>
                        <td colspan="10" style="padding:0; margin:0;">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-bordered table-condensed table-sm" style="padding:0; margin:0;">
                                    <thead>
                                        <tr>
                                            <th colspan="{{produtor[2][0][0].length}}">Forma de Produção</th>
                                            <th ng-if="navegador.selecao.item[9]">A</th>
                                            <th ng-if="navegador.selecao.item[10]">B</th>
                                            <th ng-if="navegador.selecao.item[11]">C</th>
                                            <th>Volume</th>
                                            <th rowspan="2">Unidade de Medida</th>
                                            <th rowspan="2">Confirmado em</th>
                                        </tr>
                                        <tr>
                                            <th ng-repeat="forma in produtor[2][0][0] | orderBy: '2'">
                                                {{forma[0]}}
                                            </th>
                                            <th ng-if="navegador.selecao.item[9]">{{navegador.selecao.item[9]}}</th>
                                            <th ng-if="navegador.selecao.item[10]">{{navegador.selecao.item[10]}}</th>
                                            <th ng-if="navegador.selecao.item[11]">{{navegador.selecao.item[11]}}</th>
                                            <th>({{navegador.selecao.item[8]}})</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="linha in produtor[2] | orderBy: '0.4' | orderBy: '0.3' | orderBy: '0.2' | orderBy: '0.1' | orderBy: '0.0'"
                                            ng-class="{danger: !linha[10]}">
                                            <td ng-repeat="forma in linha[0] | orderBy: '2'">
                                                {{forma[1]}}
                                            </td>
                                            <td class="text-right" ng-if="navegador.selecao.item[9]">
                                                {{linha[5] | number: 5}}
                                            </td>
                                            <td class="text-right" ng-if="navegador.selecao.item[10]">
                                                {{linha[6] | number: 5}}
                                            </td>
                                            <td class="text-right" ng-if="navegador.selecao.item[11]">
                                                {{linha[7] | number: 5}}
                                            </td>
                                            <td class="text-right">
                                                {{formula(navegador.selecao.item[8], linha[5], linha[6], linha[7], linha, 1) | number: 5}}
                                            </td>
                                            <td>
                                                {{navegador.selecao.item[5]}}
                                            </td>
                                            <td>
                                                {{linha[10] | date: 'dd/MM/yyyy'}}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="{{produtor[2][0][0].length}}" class="text-right">Total</th>
                                            <th class="text-right" ng-if="navegador.selecao.item[9]">{{resultado(navegador.selecao.item[9], produtor[2], 5) | number: 5}}</th>
                                            <th class="text-right" ng-if="navegador.selecao.item[10]">{{resultado(navegador.selecao.item[10], produtor[2], 6) | number: 5}}</th>
                                            <th class="text-right" ng-if="navegador.selecao.item[11]">{{resultado(navegador.selecao.item[11], produtor[2], 7) | number: 5}}</th>
                                            <th class="text-right">{{soma(produtor[2], 1) | number: 5}}</th>
                                            <th>{{navegador.selecao.item[5]}}</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-form>