<div class="panel panel-default" ng-class="{'ng-invalid': producaoProprietarioFrm.producaoList.$error.ngValorMin}">
    <div class="panel-heading container-fluid">
        <frz-navegador
            ng-model="producaoProprietarioNvg" exibe-nome-botao="false"
            dados="cadastro.registro.producaoProprietarioList"
            acoes-especiais="acoesEspeciais"
            on-abrir = "abrir()"
            on-agir = "agir()"
            on-editar = "editar()"
            on-especial = "especial()"
            on-excluir = "excluir()"
            on-filtrar = "filtrar()"
            on-incluir = "incluir()"
            on-listar = "listar()"
            on-navegar-primeiro = "navegarPrimeiro()"
            on-navegar-anterior = "navegarAnterior()"
            on-navegar-proximo = "navegarPosterior()"
            on-navegar-ultimo = "navegarUltimo()"
            on-proxima-pagina="proximaPagina()"
            on-ultima-pagina="ultimaPagina()"
            >
        </frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.producaoProprietarioList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.producaoProprietarioList.length > 0">
        <ng-form name="producaoProprietarioFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th rowspan="3">
                            <frz-seletor ng-model="producaoProprietarioNvg"></frz-seletor>
                        </th>
                        <th width="30" rowspan="3">
                            #
                        </th>
                        <th colspan="{{cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList.length + 1}}">Produtor</th>
                        <th colspan="6">Propriedade Rural</th>
                    </tr>
                    <tr>
                        <th colspan="{{cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList.length}}" ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList.length">Forma de Produção</th>
                        <th ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemANome">A</th>
                        <th ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemBNome">B</th>
                        <th ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemCNome">C</th>
                        <th>Volume</th>
                        <th rowspan="2">Unidade de Medida</th>
                        <th colspan="2">Preço Pago ao Produtor</th>
                        <th rowspan="2">Confirmação</th>
                    </tr>
                    <tr>
                        <th ng-repeat="item in cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList | orderBy: 'ordem' track by item.id" ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList.length">
                            <small>{{item.formaProducaoItem.nome}}</small>
                        </th>
                        <th ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemANome"><small>{{cadastro.registro.bemProducaoList[0].bemClassificacao.itemANome.nome}}</small></th>
                        <th ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemBNome"><small>{{cadastro.registro.bemProducaoList[0].bemClassificacao.itemBNome.nome}}</small></th>
                        <th ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemCNome"><small>{{cadastro.registro.bemProducaoList[0].bemClassificacao.itemCNome.nome}}</small></th>
                        <th><small>({{cadastro.registro.bemProducaoList[0].bemClassificacao.formula}})</small></th>
                        <th>(Unitário)</th>
                        <th>(Total)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="produtor in cadastro.registro.producaoProprietarioList | orderBy: '' track by produtor.id" ng-click="producaoProprietarioNvg.folhaAtual = $index + ((producaoProprietarioNvg.paginaAtual-1) * producaoProprietarioNvg.tamanhoPagina)">
                        <td width="30px">
                            <input type="radio" ng-show="producaoProprietarioNvg.selecao.tipo === 'U'" ng-model="producaoProprietarioNvg.selecao.item" ng-value="produtor"/>
                            <input type="checkbox" ng-show="producaoProprietarioNvg.selecao.tipo === 'M'" checklist-model="producaoProprietarioNvg.selecao.items" checklist-value="produtor" ng-click="crudMataClick(scp, $event);"/>
                        </td>
                        <td>
                            {{$index + 1 + ((producaoProprietarioNvg.paginaAtual-1) * producaoProprietarioNvg.tamanhoPagina)}}
                        </td>
                        <td colspan="{{cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList.length + 1}}">
                            {{produtor.publicoAlvo.pessoa.nome}}
                        </td>
                        <td colspan="6">
                            <select id="propriedadeRural{{$index}}" name="propriedadeRural{{$index}}"
                                class="form-control input-sm" style="min-width: 100px;" ng-required="true"
                                ng-model="produtor.propriedadeRural.id" 
                                ng-options="sub.propriedadeRural.id as (sub.propriedadeRural.nome) for sub in produtor.publicoAlvo.publicoAlvoPropriedadeRuralList | orderBy: 'propriedadeRural.nome'">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.propriedadeRural{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="producao in produtor.producaoList">
                        <td colspan="2">
                            <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
                                <button class="btn btn-danger btn-xs" ng-if="!($first && $last)" ng-click="producaoExcluir(produtor, $index)" title="Excluir item">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-success btn-xs" ng-if="$last" ng-click="producaoIncluir(produtor)" title="Inserir item">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                        <td ng-repeat="forma in cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList | orderBy: 'ordem'" ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.bemClassificacaoFormaProducaoItemList.length">
                            <select id="formaProducaoPropriedade{{$index}}_{{$parent.$index}}" name="formaProducaoPropriedade{{$index}}_{{$parent.$index}}"
                                class="form-control input-sm" style="min-width: 100px;" ng-required="true"
                                ng-model="producao.producaoComposicaoList[$parent.$index].formaProducaoValor.id" 
                                ng-options="sub.id as (sub.nome) for sub in forma.formaProducaoItem.formaProducaoValorList | orderBy: 'ordem'" 
                                >
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.formaProducaoPropriedade{{$index}}_{{$parent.$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemANome">
                            <input class="form-control input-sm text-right" id="itemAValor{{$index}}" name="itemAValor{{$index}}" ng-model="producao.itemAValor" ng-required="true" ui-number-mask="2" style="min-width: 75px;">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.itemAValor{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemBNome">
                            <input class="form-control input-sm text-right" id="itemBValor{{$index}}" name="itemBValor{{$index}}" ng-model="producao.itemBValor" ng-required="true" ui-number-mask="2" style="min-width: 75px;">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.itemBValor{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-if="cadastro.registro.bemProducaoList[0].bemClassificacao.itemCNome">
                            <input class="form-control input-sm text-right" id="itemCValor{{$index}}" name="itemCValor{{$index}}" ng-model="producao.itemCValor" ng-required="true" ui-number-mask="2" style="min-width: 75px;">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.itemCValor{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>{{formula(cadastro.apoio.producao.formula, producao.itemAValor, producao.itemBValor, producao.itemCValor) | number: 2}}</td>
                        <td><small>({{cadastro.registro.bemProducaoList[0].bemClassificacao.unidadeMedida.nome}})</small></td>
                        <td>
                            <input class="form-control input-sm text-right" id="valorUnitario" name="valorUnitario" ng-model="producao.valorUnitario" ng-required="false" ui-money-mask="2" style="min-width: 75px;">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.valorUnitario.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>{{formula(cadastro.apoio.producao.formula, producao.itemAValor, producao.itemBValor, producao.itemCValor) * producao.valorUnitario | currency }}</td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control input-sm" id="dataConfirmacao" name="dataConfirmacao" aria-label="..." ui-date-mask ng-model="producao.dataConfirmacao" style="min-width: 75px;">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a ng-click="producao.dataConfirmacao = hoje()">Hoje</a></li>
                                        <li><a ng-click="producao.dataConfirmacao = null">Limpar</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.dataConfirmacao.$error.date">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Data inválida!
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end></tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <input type="hidden" id="producaoList" name="producaoList" ng-model="cadastro.registro.producaoProprietarioList.length" ng-valor-min="1">

        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
    <div class="label label-danger" ng-show="navegador.submetido && producaoProprietarioFrm.producaoList.$error.ngValorMin">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Campo Obrigatório
    </div>
</div>