<div class="panel panel-default" ng-class="{'ng-invalid': producaoFormaFrm.producaoFormaList.$error.ngValorMin}">
    <div class="panel-heading container-fluid">
        <frz-navegador
            ng-model="producaoFormaNvg" exibe-texto-botao="false"
            dados="cadastro.registro.producaoFormaList"
            acoes-especiais="acoesEspeciais"
            on-abrir = "abrir()"
            on-agir = "agir()"
            on-editar = "editar()"
            on-especial = "especial()"
            on-excluir = "excluir()"
            on-filtrar = "filtrar()"
            on-incluir = "incluir()"
            on-listar = "listar()"
            on-navegar-primeiro = "navegarPrimeiro()"
            on-navegar-anterior = "navegarAnterior()"
            on-navegar-proximo = "navegarPosterior()"
            on-navegar-ultimo = "navegarUltimo()"
            on-proxima-pagina="proximaPagina()"
            on-ultima-pagina="ultimaPagina()"
            >
        </frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.producaoFormaList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.producaoFormaList.length > 0">
        <ng-form name="producaoFormaFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="{{cadastro.apoio.producaoForma.composicao.length}}">Forma Produção</th>
                        <th ng-if="cadastro.apoio.producaoForma.itemANome">A</th>
                        <th ng-if="cadastro.apoio.producaoForma.itemBNome">B</th>
                        <th ng-if="cadastro.apoio.producaoForma.itemCNome">C</th>
                        <th></th>
                        <th>Unidade</th>
                        <th>Quantidade</th>
                        <th>Valor Unitário</th>
                        <th>Valor Total</th>
                    </tr>
                    <tr>
                        <th>
                            <frz-seletor ng-model="producaoFormaNvg"></frz-seletor>
                        </th>
                        <th width="30">
                            #
                        </th>
                        <th ng-repeat="item in cadastro.apoio.producaoForma.composicao">{{item[1]}}</th>
                        <th ng-if="cadastro.apoio.producaoForma.itemANome">{{cadastro.apoio.producaoForma.itemANome}}</th>
                        <th ng-if="cadastro.apoio.producaoForma.itemBNome">{{cadastro.apoio.producaoForma.itemBNome}}</th>
                        <th ng-if="cadastro.apoio.producaoForma.itemCNome">{{cadastro.apoio.producaoForma.itemCNome}}</th>
                        <th>Volume = ({{cadastro.apoio.producaoForma.formula}})</th>
                        <th>Medida</th>
                        <th>Produtores</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produtor in cadastro.registro.producaoFormaList | orderBy: 'nome' | pagina: producaoFormaNvg.paginaAtual : producaoFormaNvg.tamanhoPagina | limitTo: producaoFormaNvg.tamanhoPagina" ng-click="producaoFormaNvg.folhaAtual = $index + ((producaoFormaNvg.paginaAtual-1) * producaoFormaNvg.tamanhoPagina)">
                        <td width="30px">
                            <input type="radio" ng-show="producaoFormaNvg.selecao.tipo === 'U'" ng-model="producaoFormaNvg.selecao.item" ng-value="produtor"/>
                            <input type="checkbox" ng-show="producaoFormaNvg.selecao.tipo === 'M'" checklist-model="producaoFormaNvg.selecao.items" checklist-value="produtor" ng-click="crudMataClick(scp, $event);"/>
                        </td>
                        <td>
                            {{$index + 1 + ((producaoFormaNvg.paginaAtual-1) * producaoFormaNvg.tamanhoPagina)}}
                        </td>
                        <td ng-repeat="forma in produtor.producaoFormaComposicaoList">{{UtilSrv.indiceDePorCampo(cadastro.apoio.producaoForma.composicao[$index][2], forma.formaProducaoValor.id, '0')[1]}}</td>
                        <td ng-if="cadastro.apoio.producaoForma.itemANome">{{produtor.itemAValor | number: 5}}</td>
                        <td ng-if="cadastro.apoio.producaoForma.itemBNome">{{produtor.itemBValor | number: 5}}</td>
                        <td ng-if="cadastro.apoio.producaoForma.itemCNome">{{produtor.itemCValor | number: 5}}</td>
                        <td>{{formula(cadastro.apoio.producaoForma.formula, produtor.itemAValor, produtor.itemBValor, produtor.itemCValor) | number: 5}}</td>
                        <td>{{cadastro.apoio.producaoForma.unidadeMedida}}</td>
                        <td>{{produtor.quantidadeProdutores}}</td>
                        <td>{{produtor.valorUnitario | currency }}</td>
                        <td>{{formula(cadastro.apoio.producaoForma.formula, produtor.itemAValor, produtor.itemBValor, produtor.itemCValor) * produtor.valorUnitario | currency }}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <input type="hidden" id="producaoFormaList" name="producaoFormaList" ng-model="cadastro.registro.producaoFormaList.length" ng-valor-min="1">

        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
    <div class="label label-danger" ng-show="navegador.submetido && producaoFormaFrm.producaoFormaList.$error.ngValorMin">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Campo Obrigatório
    </div>
</div>