<div class="panel panel-default" ng-class="{'ng-invalid': producaoArtesanatoFrm.producaoList.$error.ngValorMin}" id="producaoArtesanatoPnl">
    <div class="panel-heading container-fluid">
        <frz-navegador
            ng-model="producaoArtesanatoNvg" exibe-nome-botao="false"
            dados="cadastro.registro.producaoArtesanatoList"
            acoes-especiais="acoesEspeciais"
            on-abrir = "abrir()"
            on-agir = "agir()"
            on-editar = "editar()"
            on-especial = "especial()"
            on-excluir = "excluir()"
            on-filtrar = "filtrar()"
            on-incluir = "incluir()"
            on-listar = "listar()"
            on-navegar-primeiro = "navegarPrimeiro()"
            on-navegar-anterior = "navegarAnterior()"
            on-navegar-proximo = "navegarPosterior()"
            on-navegar-ultimo = "navegarUltimo()"
            on-proxima-pagina="proximaPagina()"
            on-ultima-pagina="ultimaPagina()"
            >
        </frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.producaoArtesanatoList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" >
        <ng-form name="producaoArtesanatoFrm">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th rowspan="2">
                            <frz-seletor ng-model="producaoArtesanatoNvg"></frz-seletor>
                            #
                        </th>
                        <th>Tipo</th>
                        <th>Categoria</th>
                        <th>Produto</th>
                        <th>Condicao</th>
                        <th>Produção Anual</th>
                        <th ng-show="cadastro.registro.publicoAlvo">Preço Unitário</th>
                        <th ng-show="cadastro.registro.publicoAlvo">Valor Total</th>
                        <th ng-show="!cadastro.registro.publicoAlvo && cadastro.registro.unidadeOrganizacional ">Qtd Produtores</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="producaoArtesanato in cadastro.registro.producaoArtesanatoList" ng-click="producaoArtesanatoNvg.folhaAtual = $index + ((producaoArtesanatoNvg.paginaAtual-1) * producaoArtesanatoNvg.tamanhoPagina)">
                        <td width="30px">
                            <input type="radio" ng-model="producaoArtesanatoNvg.selecao.item" ng-value="producaoArtesanato"/>
                           {{$index + 1 + ((producaoArtesanatoNvg.paginaAtual-1) * producaoArtesanatoNvg.tamanhoPagina)}}
                        </td>
                        <td>
                            <div class="form-group" > 
                                <select class="form-control input-sm" style="min-width: 100px;"
                                    id="bemProducaoTipoList_{{$index}}"
                                    name="bemProducaoTipoList_{{$index}}"
                                    ng-model="producaoArtesanato.tipo" 
                                    ng-options="sub as sub.nome for sub in cadastro.apoio.artesanatoTipo | orderBy: 'ordem' track by sub.id" 
                                    ng-required="true">
                                </select>
                                
                            </div>
                        </td>

                        <td>
                            <div class="form-group" >
                                <select class="form-control input-sm" style="min-width: 100px;"
                                    id="bemProducaoCategoriaList_{{$index}}"
                                    name="bemProducaoCategoriaList_{{$index}}"
                                    ng-model="producaoArtesanato.categoria" 
                                    ng-options="sub as sub.nome for sub in producaoArtesanato.tipo.bemClassificacaoList | orderBy: 'ordem' track by sub.id" 
                                    ng-required="true">
                                </select>
                            </div>
                        </td>
<!-- Produto - Bem Classificado -->
                        <td>
                            <div class="form-group" >
                                <select class="form-control input-sm" style="min-width: 100px;"
                                    id="bemProducaoList_{{$index}}"
                                    name="bemProducaoList_{{$index}}"
                                    ng-model="producaoArtesanato.bemClassificado" 
                                    ng-options="sub as sub.nome for sub in cadastro.apoio.bemClassificadoArtesanatoList | orderBy: 'ordem' track by sub.id" 
                                    ng-required="true">
                                </select>
                            </div>
                        </td>
                        <td > 
 <!-- Produto - ComposicaoList -->
                            <select class="form-control input-sm" style="min-width: 100px;"
                                id="formaProducaoValor_0_{{$index}}"
                                name="formaProducaoValor_0_{{$index}}"
                                ng-model="cadastro.registro.producaoArtesanatoList[$index].producaoComposicaoList[0]"
                                ng-options="sub as sub.nome for sub in producaoArtesanato.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList[0].formaProducaoItem.formaProducaoValorList | orderBy: 'ordem' track by sub.id" 
                                ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && producaoNaoArgicolaFrm.formaProducaoValor_{{$parent.$index}}_{{$parent.$parent.$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-show="false">
                            <input class="form-control input-sm text-right" id="area_{{$index}}" name="area_{{$index}}" ng-model="producaoArtesanato.area" ng-required="true" ui-number-mask="3" style="min-width: 50px;" ng-blur="calcula($index, 'area');" ng-show="false">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoNaoArgicolaFrm.area_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-show="false">
                            <input class="form-control input-sm text-right" id="produtividade_{{$index}}" name="produtividade_{{$index}}" ng-model="producaoArtesanato.produtividade" ng-required="true" ui-number-mask="3" style="min-width: 50px;" ng-blur="calcula($index, 'produtividade');" ng-show="false">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoNaoArgicolaFrm.area_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        
                        <td>
                            <input class="form-control input-sm text-right" id="producao_{{$index}}" name="producao_{{$index}}" ng-model="producaoArtesanato.producao" ng-required="true" ui-number-mask="0" style="min-width: 50px;" ng-show="producaoArtesanato.bemClassificado">
                            <p class="text-right" ng-show="producaoArtesanato.bemClassificado">({{producaoArtesanato.bemClassificado.unidadeMedida.nome}})</p>
                            <div class="label label-danger" ng-show="navegador.submetido && producaoNaoArgicolaFrm.area_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-show="cadastro.registro.publicoAlvo && producaoArtesanato.bemClassificado">
                            <input class="form-control input-sm text-right" id="valorUnitario_{{$index}}" name="valorUnitario_{{$index}}" ng-model="producaoArtesanato.valorUnitario" ng-required="false" ui-money-mask="2" style="min-width: 50px;" ng-show="cadastro.registro.publicoAlvo && producaoArtesanato.bemClassificado">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoNaoArgicolaFrm.valorUnitario_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td ng-show="cadastro.registro.publicoAlvo && producaoArtesanato.bemClassificado">({{ producaoArtesanato.producao * producaoArtesanato.valorUnitario | currency }})
                        </td>

                        <td ng-if="cadastro.registro.unidadeOrganizacional && !cadastro.registro.publicoAlvo">
                            <input class="form-control input-sm text-right" id="quantidadeProdutores_{{$index}}" name="quantidadeProdutores_{{$index}}" ng-model="producaoArtesanato.quantidadeProdutores" ng-required="false" ui-number-mask="0" style="min-width: 50px;" ng-show="producaoArtesanato.bemClassificado">
                            <div class="label label-danger" ng-show="navegador.submetido && producaoNaoArgicolaFrm.quantidadeProdutores_{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
</div>