<div class="panel panel-default" ng-class="{'ng-invalid': produtoresFrm.producaoFormaList.$error.ngValorMin}">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="produtoresProducaoNvg" exibe-texto-botao="false"
        dados="conteudo.producaoFormaList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="conteudo.producaoFormaList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <ng-form name="produtoresFrm">
        <div class="table-responsive" ng-show="conteudo.producaoFormaList.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <!-- th colspan="{{conteudo.producaoFormaList[0].producaoFormaComposicaoList.length}}">Forma de Produção /{{conteudo.producaoFormaList[0].producaoFormaComposicaoList.length}}/</th -->
                        <th colspan="{{conteudo.principal[6][0][0].length}}">Forma de Produção</th>
                        <th ng-if="conteudo.principal[9]">A</th>
                        <th ng-if="conteudo.principal[10]">B</th>
                        <th ng-if="conteudo.principal[11]">C</th>
                        <th>Volume</th>
                        <th>Unidade</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <frz-seletor ng-model="produtoresProducaoNvg"></frz-seletor>
                        </th>
                        <th width="30">
                            #
                        </th>
                        <th ng-repeat="forma in conteudo.principal[6][0][0]">{{forma[0]}}</th>
                        <th ng-if="conteudo.principal[9]">{{conteudo.principal[9]}}</th>
                        <th ng-if="conteudo.principal[10]">{{conteudo.principal[10]}}</th>
                        <th ng-if="conteudo.principal[11]">{{conteudo.principal[11]}}</th>
                        <th>({{conteudo.principal[8]}})</th>
                        <th>Medida</th>
                        <th>Confirmado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="produtor in produtoresProducaoNvg.dados | orderBy: 'nome' | pagina: produtoresProducaoNvg.paginaAtual : produtoresProducaoNvg.tamanhoPagina | limitTo: produtoresProducaoNvg.tamanhoPagina" ng-click="produtoresProducaoNvg.folhaAtual = $index + ((produtoresProducaoNvg.paginaAtual-1) * produtoresProducaoNvg.tamanhoPagina)">
                        <td width="30px">
                            <input type="radio" ng-show="produtoresProducaoNvg.selecao.tipo === 'U'" ng-model="produtoresProducaoNvg.selecao.item" ng-value="produtor"/>
                            <input type="checkbox" ng-show="produtoresProducaoNvg.selecao.tipo === 'M'" checklist-model="produtoresProducaoNvg.selecao.items" checklist-value="produtor" ng-click="crudMataClick(scp, $event);"/>
                        </td>
                        <td>
                            {{$index + 1 + ((produtoresProducaoNvg.paginaAtual-1) * produtoresProducaoNvg.tamanhoPagina)}}
                        </td>
                        <td ng-repeat="forma in produtor.producaoFormaComposicaoList">
                            {{forma.formaProducaoValor.nome}}
                            <!--{{UtilSrv.indiceDePorCampo(forma[], conteudo.producaoFormaList[0].producaoFormaComposicaoList[$index].formaProducaoValor.id, forma[])}}-->
                        </td>
                        <td ng-if="conteudo.principal[9]"><input class="form-control input-sm" id="itemAValor" name="itemAValor{{$index}}" ng-model="produtor.itemAValor" ui-number-mask="5" ng-required="conteudo.principal[9]"></td>
                        <td ng-if="conteudo.principal[10]"><input class="form-control input-sm" id="itemBValor" name="itemBValor{{$index}}" ng-model="produtor.itemBValor" ui-number-mask="5" ng-required="conteudo.principal[10]"></td>
                        <td ng-if="conteudo.principal[11]"><input class="form-control input-sm" id="itemCValor" name="itemCValor{{$index}}" ng-model="produtor.itemCValor" ui-number-mask="5" ng-required="conteudo.principal[11]"></td>
                        <td>{{conteudo.formula(conteudo.principal[8], produtor.itemAValor, produtor.itemBValor, produtor.itemCValor) | number: 5}}</td>
                        <td>{{conteudo.principal[5]}}</td>
                        <th>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control input-sm" aria-label="..." ui-date-mask ng-model="produtor.dataConfirmacao">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" 
                                        aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a ng-click="produtor.dataConfirmacao = hoje()">Hoje</a></li>
                                        <li><a ng-click="produtor.dataConfirmacao = null">Limpar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr ng-repeat-end ng-click="produtoresProducaoNvg.folhaAtual = $index + ((produtoresProducaoNvg.paginaAtual-1) * produtoresProducaoNvg.tamanhoPagina)" 
                        ng-if="!cadastro.apoio.escondeDetalhe && produtor[2].length"
                        style="font-size: 90%; padding:0; margin:0;">
                        <td style="padding:0; margin:0;"></td>
                        <td colspan="10" style="padding:0; margin:0;">
                            <table class="table table-hover table-striped" style="padding:0; margin:0;">
                                <thead>
                                    <tr>
                                        <th colspan="{{produtor[2][0][0].length}}">Forma de Produção</th>
                                        <th ng-if="navegador.selecao.item[9]">A</th>
                                        <th ng-if="navegador.selecao.item[10]">B</th>
                                        <th ng-if="navegador.selecao.item[11]">C</th>
                                        <th>Volume</th>
                                        <th>Unidade</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="forma in produtor[2][0][0] | orderBy: '2'">
                                            {{forma[0]}}
                                        </th>
                                        <th ng-if="navegador.selecao.item[9]">{{navegador.selecao.item[9]}}</th>
                                        <th ng-if="navegador.selecao.item[10]">{{navegador.selecao.item[10]}}</th>
                                        <th ng-if="navegador.selecao.item[11]">{{navegador.selecao.item[11]}}</th>
                                        <th>({{navegador.selecao.item[8]}})</th>
                                        <th>Medida</th>
                                        <th>Confirmado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="linha in produtor[2] | orderBy: '0.4' | orderBy: '0.3' | orderBy: '0.2' | orderBy: '0.1' | orderBy: '0.0'"
                                        ng-class="{danger: !linha[10]}">
                                        <td ng-repeat="forma in linha[0] | orderBy: '2'">
                                            {{forma[1]}}
                                        </td>
                                        <td class="text-right" ng-if="navegador.selecao.item[9]">
                                            {{linha[5] | number: 5}}
                                        </td>
                                        <td class="text-right" ng-if="navegador.selecao.item[10]">
                                            {{linha[6] | number: 5}}
                                        </td>
                                        <td class="text-right" ng-if="navegador.selecao.item[11]">
                                            {{linha[7] | number: 5}}
                                        </td>
                                        <td class="text-right">
                                            {{formula(navegador.selecao.item[8], linha[5], linha[6], linha[7]) | number: 5}}
                                        </td>
                                        <td>
                                            {{navegador.selecao.item[5]}}
                                        </td>
                                        <td>
                                            {{linha[10] | date: 'dd/MM/yyyy'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="{{produtor[2][0][0].length}}" class="text-right">Total</th>
                                        <th class="text-right" ng-if="navegador.selecao.item[9]">{{soma(produtor[2], 5) | number: 5}}</th>
                                        <th class="text-right" ng-if="navegador.selecao.item[10]">{{soma(produtor[2], 6) | number: 5}}</th>
                                        <th class="text-right" ng-if="navegador.selecao.item[11]">{{soma(produtor[2], 7) | number: 5}}</th>
                                        <th class="text-right">{{soma(produtor[2], 1) | number: 5}}</th>
                                        <th>{{navegador.selecao.item[5]}}</th>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <input type="hidden" id="producaoFormaList" name="producaoFormaList" ng-model="produtoresProducaoNvg.dados.length" ng-valor-min="1">
            <div class="label label-danger" ng-show="produtoresFrm.producaoFormaList.$error.ngValorMin">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </ng-form>
    <div class="panel-footer">
    </div>
</div>