<ng-form name="produtoresFrm">
    <div class="panel panel-default">
        <div class="panel-heading container-fluid">
            <frz-navegador
                ng-model="produtoresNvg" exibe-nome-botao="false"
                dados="navegador.selecao.item.producaoProprietarioList"
                acoes-especiais="acoesEspeciais"
                on-abrir = "abrir()"
                on-agir = "agir()"
                on-editar = "editar()"
                on-especial = "especial()"
                on-excluir = "excluir()"
                on-filtrar = "filtrar()"
                on-incluir = "incluir()"
                on-listar = "listar()"
                on-navegar-primeiro = "navegarPrimeiro()"
                on-navegar-anterior = "navegarAnterior()"
                on-navegar-proximo = "navegarPosterior()"
                on-navegar-ultimo = "navegarUltimo()"
                on-proxima-pagina="proximaPagina()"
                on-ultima-pagina="ultimaPagina()"
                ></frz-navegador>
        </div>
        <div class="painel-body"  ng-hide="navegador.selecao.item.producaoProprietarioList.length">
            <div class="alert alert-warning" style="margin: 0px;" role="alert">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                Nenhum registro localizado!
            </div>
        </div>
        <div class="table-responsive" ng-show="navegador.selecao.item.producaoProprietarioList.length > 0">

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            <frz-seletor ng-model="produtoresNvg"></frz-seletor>
                        </th>
                        <th width="30">
                            #
                        </th>
                        <th>Produtor</th>
                        <th>Propriedade</th>
                        <th>Comunidade</th>
                        <th><span class="sr-only">Ação</span></th>
                    </tr> 
                </thead>
                <tbody>
                    <tr ng-repeat-start="item in navegador.selecao.item.producaoProprietarioList | orderBy: ['publicoAlvo.pessoa.nome', 'propriedadeRural.nome', 'propriedadeRural.comunidade.nome']  | pagina: produtoresNvg.paginaAtual : produtoresNvg.tamanhoPagina | limitTo: produtoresNvg.tamanhoPagina" ng-click="produtoresNvg.folhaAtual = $index + ((produtoresNvg.paginaAtual-1) * produtoresNvg.tamanhoPagina)"
                         title="">
                        <td width="30px" rowspan="2">
                            <input type="radio" ng-show="produtoresNvg.selecao.tipo === 'U'" ng-model="produtoresNvg.selecao.item" ng-value="item"/>
                            <input type="checkbox" ng-show="produtoresNvg.selecao.tipo === 'M'" checklist-model="produtoresNvg.selecao.items" checklist-value="item" ng-click="crudMataClick(scp, $event);"/>
                        </td>
                        <td rowspan="2">
                            {{$index + 1 + ((produtoresNvg.paginaAtual-1) * produtoresNvg.tamanhoPagina)}}
                        </td>
                        <td>
                            <a ng-click="modalVerPessoa(item.publicoAlvo.pessoa.id)">{{item.publicoAlvo.pessoa.nome}}</a>
                        </td>
                        <td><a ng-click="modalVerPropriedadeRural(item.propriedadeRural.id)">{{item.propriedadeRural.nome}}</a></td>
                        <td>{{item.propriedadeRural.comunidade.nome}}</td>
                        <td><button class="btn btn-primary btn-sm sr-only">Confirmar</button></td>
                    </tr>
                    <tr ng-repeat-end>
                        <td colspan="4">
                            <table class="table table-hover table-striped table-condensed" style="font-size: 12px;">
                                <thead>
                                    <tr>
                                        <th colspan="{{item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList.length}}"><span ng-if="cadastro.apoio.escondeDetalhe">Forma de Produção</span></th>
                                        <th>A</th>
                                        <th>B</th>
                                        <th>C</th>
                                        <th>Volume</th>
                                        <th colspan="2">Preço Pago ao Produtor</th>
                                        <th rowspan="2">Data de Confirmação</th>
                                    </tr> 
                                    <tr>
                                        <th ng-repeat="composicao in item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList | orderBy: 'ordem'">
                                            <span ng-if="cadastro.apoio.escondeDetalhe">{{composicao.formaProducaoItem.nome}}</span>
                                        </th>
                                        <th><small ng-if="item.bemClassificado.bemClassificacao.itemANome.nome">({{item.bemClassificado.bemClassificacao.itemANome.nome}})</small></th>
                                        <th><small ng-if="item.bemClassificado.bemClassificacao.itemBNome.nome">({{item.bemClassificado.bemClassificacao.itemBNome.nome}})</small></th>
                                        <th><small ng-if="item.bemClassificado.bemClassificacao.itemCNome.nome">({{item.bemClassificado.bemClassificacao.itemCNome.nome}})</small></th>
                                        <th><small ng-if="item.bemClassificado.bemClassificacao.formula">({{item.bemClassificado.bemClassificacao.formula}})</small></th>
                                        <th>(Valor Unitário R$)</th>
                                        <th>(Valor Total R$)</th>
                                    </tr> 
                                </thead>
                                <tfoot ng-if="cadastro.apoio.escondeDetalhe">
                                    <tr ng-repeat="producao in item.producaoList | limitTo: -2" title="">
                                        <th ng-repeat="composicao in producao.producaoComposicaoList | orderBy: 'ordem'" ng-if="producao.producaoComposicaoList">
                                            {{composicao.formaProducaoValor.nome}}
                                        </th>
                                        <th ng-if="!producao.producaoComposicaoList" colspan="{{item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList.length}}" class="text-right">
                                            {{producao.situacao}}
                                        </th>
                                        <th class="text-right">{{producao.itemAValor | number: globalFracaoHectares}}</th>
                                        <th class="text-right">{{producao.itemBValor | number: globalFracaoHectares}}</th>
                                        <th class="text-right">{{producao.itemCValor | number: globalFracaoHectares}}</th>
                                        <th class="text-right">{{producao.volume | number: globalFracaoHectares}}</th>
                                        <th class="text-right">{{producao.valorUnitario | currency}}</th>
                                        <th class="text-right">{{producao.valorTotal | currency}}</th>
                                        <th class="text-right">{{producao.dataConfirmacao | date: 'dd/MM/yyyy'}}</th>
                                    </tr>
                                </tfoot>
                                <tbody ng-if="cadastro.apoio.escondeDetalhe">
                                    <tr ng-repeat="producao in item.producaoList | limitTo: item.producaoList.length -2" ng-class="{danger: (!producao.dataConfirmacao)}" title="">
                                        <td ng-repeat="composicao in producao.producaoComposicaoList | orderBy: 'ordem'" ng-if="producao.producaoComposicaoList">
                                            {{composicao.formaProducaoValor.nome}}
                                        </td>
                                        <td ng-if="!producao.producaoComposicaoList" colspan="{{item.bemClassificado.bemClassificacao.bemClassificacaoFormaProducaoItemList.length}}" class="text-right">
                                            {{producao.situacao}}
                                        </td>
                                        <td class="text-right">{{producao.itemAValor | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{producao.itemBValor | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{producao.itemCValor | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{producao.volume | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{producao.valorUnitario | currency}}</td>
                                        <td class="text-right">{{producao.valorTotal | currency}}</td>
                                        <td class="text-right">{{producao.dataConfirmacao | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-form>