<div ui-tree-handle ng-show="visible(item)">
    <a class="btn btn-primary btn-xs Tooltip" data-nodrag data-ng-click="toggleChildren(this)" title="Expandir/Recolher">
        <span class="glyphicon glyphicon-chevron-right" data-ng-show="collapsed"></span>
        <span class="glyphicon glyphicon-chevron-down" data-ng-show="!collapsed"></span>
    </a>
    <label>
        <!-- input type="checkbox" ng-model="item.selecionado" ng-true-value="true" ng-false-value="false" -->
        {{item.unidadeOrganizacional.nome}}
    </label>
</div>
<ol ui-tree-nodes="" ng-model="item.lotacaoList" ng-class="{hidden: collapsed}" ng-hide="item.selecionado" ng-show="visible(item)">
    <li ng-repeat="subSubItem in item.lotacaoList | orderBy: 'emprego.pessoaRelacionamentoList[0].pessoa.nome' track by subSubItem.id" ui-tree-node ng-show="visible(subSubItem)">
        <div ui-tree-handle>
            <span ng-hide="node.bemClassificacaoList.length">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <label>
                <input type="checkbox" ng-model="subSubItem.selecionado" checklist-model="ngModel" checklist-value="subSubItem.emprego.pessoaRelacionamentoList[0].pessoa.id">
                {{subSubItem.emprego.matricula}}
                <span ng-class="{azul: subSubItem.gestor === 'S'}">{{subSubItem.emprego.pessoaRelacionamentoList[0].pessoa.nome}}</span>
            </label>
        </div>
    </li>
</ol>
<ol ui-tree-nodes="" ng-model="item.descendenteList" ng-class="{hidden: collapsed}" ng-hide="item.selecionado" ng-show="visible(item)">
    <li ng-repeat="item in item.descendenteList | orderBy: 'unidadeOrganizacional.nome'" ui-tree-node ng-show="visible(subSubItem)" ng-include src="'directive/frz-unidade-colaborador/organograma.html'">
    </li>
</ol>