<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <legend>Dados Pessoais/{{cadastro.filtro}}/</legend>
                <!-- Text input-->
                <div class="form-group" title="Razao Social/Sigla ou Nome/Apelido">
                    <label class="col-md-4 control-label" for="nome">
                        <span ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PF') >= 0">Razao Social/Sigla</span>
                        <span ng-hide="cadastro.filtro.tipoPessoa.length === 1">ou</span>
                        <span ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">Nome/Apelido</span>
                    </label>
                    <div class="col-md-6">
                        <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.nome">
                        <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.nome.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Tipo de Pessoa">
                    <label class="col-md-4 control-label" for="tipoPessoa">Tipo de Pessoa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="tipoPessoa-2">
                            <input type="checkbox" name="tipoPessoa" id="tipoPessoa-2" checklist-model="cadastro.filtro.tipoPessoa" checklist-value="'PJ'">
                            Pessoa Jurídica
                        </label>
                        <label class="checkbox-inline" for="tipoPessoa-1">
                            <input type="checkbox" name="tipoPessoa" id="tipoPessoa-1" checklist-model="cadastro.filtro.tipoPessoa" checklist-value="'PF'">
                            Pessoa Física
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.tipoPessoa.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group" title="Cadastro Nacional de Pessoa Jurídica" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PF') >= 0">
                    <label class="col-md-4 control-label" for="cnpj">CNPJ</label>
                    <div class="col-md-3">
                        <input id="cnpj" name="cnpj" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.cnpj" ui-br-cnpj-mask>
                        <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.cnpj.$error.cnpj">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Número inválido!
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group" title="Cadastro de Pessoa Física" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">
                    <label class="col-md-4 control-label" for="cpf">CPF</label>
                    <div class="col-md-3">
                        <input id="cpf" name="cpf" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.cpf" ui-br-cpf-mask>
                        <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.cpf.$error.cpf">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Número inválido!
                        </div>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Gênero da Pessoa" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">
                    <label class="col-md-4 control-label" for="pessoaGenero">Gênero da Pegessoa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="pessoaGenero-1">
                            <input type="checkbox" name="pessoaGenero" id="pessoaGenero-1" checklist-model="cadastro.filtro.pessoaGenero" checklist-value="'M'">
                            Masculino
                        </label>
                        <label class="checkbox-inline" for="pessoaGenero-2">
                            <input type="checkbox" name="pessoaGenero" id="pessoaGenero-2" checklist-model="cadastro.filtro.pessoaGenero" checklist-value="'F'">
                            Feminino
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.pessoaGenero.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Geração da Pessoa" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">
                    <label class="col-md-4 control-label" for="pessoaGeracao">Geração da Pessoa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="pessoaGeracao-1">
                            <input type="checkbox" name="pessoaGeracao" id="pessoaGeracao-1" checklist-model="cadastro.filtro.pessoaGeracao" checklist-value="'I'">
                            Idoso
                        </label>
                        <label class="checkbox-inline" for="pessoaGeracao-2">
                            <input type="checkbox" name="pessoaGeracao" id="pessoaGeracao-2" checklist-model="cadastro.filtro.pessoaGeracao" checklist-value="'A'">
                            Adulto
                        </label>
                        <label class="checkbox-inline" for="pessoaGeracao-3">
                            <input type="checkbox" name="pessoaGeracao" id="pessoaGeracao-3" checklist-model="cadastro.filtro.pessoaGeracao" checklist-value="'J'">
                            Jovem
                        </label>
                        <label class="checkbox-inline" for="pessoaGeracao-4">
                            <input type="checkbox" name="pessoaGeracao" id="pessoaGeracao-4" checklist-model="cadastro.filtro.pessoaGeracao" checklist-value="'C'">
                            Crianca
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.pessoaGeracao.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Situação da Pessoa">
                    <label class="col-md-4 control-label" for="pessoaSituacao">Situação da Pessoa</label>
                    <div class="col-md-7">
                        <label class="checkbox-inline" for="pessoaSituacao-1">
                            <input type="checkbox" name="pessoaSituacao" id="pessoaSituacao-1" checklist-model="cadastro.filtro.pessoaSituacao" checklist-value="'A'">
                            Ativo
                        </label>
                        <label class="checkbox-inline" for="pessoaSituacao-2">
                            <input type="checkbox" name="pessoaSituacao" id="pessoaSituacao-2" checklist-model="cadastro.filtro.pessoaSituacao" checklist-value="'U'">
                            Inativo falta de uso
                        </label>
                        <label class="checkbox-inline" for="pessoaSituacao-3">
                            <input type="checkbox" name="pessoaSituacao" id="pessoaSituacao-3" checklist-model="cadastro.filtro.pessoaSituacao" checklist-value="'F'">
                            Inativo falecimento
                        </label>
                        <label class="checkbox-inline" for="pessoaSituacao-4">
                            <input type="checkbox" name="pessoaSituacao" id="pessoaSituacao-4" checklist-model="cadastro.filtro.pessoaSituacao" checklist-value="'O'">
                            Inativo outro motivo
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.pessoaSituacao.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group" title="Grupos Sociais">
                    <label class="col-md-4 control-label" for="grupoSocialList">Grupos Sociais</label>
                    <div class="col-md-7">
                        <input type="hidden" name="grupoSocialList" id="grupoSocialList" ng-model="cadastro.filtro.grupoSocialList.length">
                        <ng-include src="'pessoa/filtro-sub-grupo-social.html'" ng-controller="FiltroSubGrupoSocialCtrl"></ng-include>
                        <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.grupoSocialList.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <legend>Beneficiário</legend>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Categoria">
                    <label class="col-md-4 control-label" for="publicoAlvoCategoria">Categoria</label>
                    <div class="col-md-8">
                        <label class="checkbox-inline" for="publicoAlvoCategoria-1">
                            <input type="checkbox" name="publicoAlvoCategoria" id="publicoAlvoCategoria-1" checklist-model="cadastro.filtro.publicoAlvoCategoria" checklist-value="'EP'">
                            Empreendedor Patronal
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoCategoria-2">
                            <input type="checkbox" name="publicoAlvoCategoria" id="publicoAlvoCategoria-2" checklist-model="cadastro.filtro.publicoAlvoCategoria" checklist-value="'EF'">
                            Empreendedor Familiar
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoCategoria-3">
                            <input type="checkbox" name="publicoAlvoCategoria" id="publicoAlvoCategoria-3" checklist-model="cadastro.filtro.publicoAlvoCategoria" checklist-value="'HP'">
                            Habitante Patronal
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoCategoria-4">
                            <input type="checkbox" name="publicoAlvoCategoria" id="publicoAlvoCategoria-4" checklist-model="cadastro.filtro.publicoAlvoCategoria" checklist-value="'HF'">
                            Habitante Familiar
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoCategoria-5">
                            <input type="checkbox" name="publicoAlvoCategoria" id="publicoAlvoCategoria-5" checklist-model="cadastro.filtro.publicoAlvoCategoria" checklist-value="'T'">
                            Trabalhador
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoCategoria.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="publicoAlvoSetor">Setor</label>
                    <div class="col-md-4">
                        <select id="publicoAlvoSetor" name="publicoAlvoSetor" class="form-control" ng-model="cadastro.filtro.publicoAlvoSetor">
                            <option value="1">A</option>
                            <option value="2">B</option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="publicoAlvoPropriedadeUtilizacaoEspacoRural">Espaco Rural</label>
                    <div class="col-md-4">
                        <select id="publicoAlvoPropriedadeUtilizacaoEspacoRural" name="publicoAlvoPropriedadeUtilizacaoEspacoRural" class="form-control" ng-model="cadastro.filtro.publicoAlvoPropriedadeUtilizacaoEspacoRural">
                            <option value="1">A</option>
                            <option value="2">B</option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="comunidade">Comunidade</label>
                    <div class="col-md-4">
                        <select id="comunidade" name="comunidade" class="form-control">
                            <option value="1">A</option>
                            <option value="2">B</option>
                        </select>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="ATER">
                    <label class="col-md-4 control-label" for="publicoAlvoAter">ATER</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoAter-1">
                            <input type="checkbox" name="publicoAlvoAter" id="publicoAlvoAter-1" checklist-model="cadastro.filtro.publicoAlvoAter" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoAter-2">
                            <input type="checkbox" name="publicoAlvoAter" id="publicoAlvoAter-2" checklist-model="cadastro.filtro.publicoAlvoAter" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoAter.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="DAP">
                    <label class="col-md-4 control-label" for="publicoAlvoDap">DAP</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoDap-1">
                            <input type="checkbox" name="publicoAlvoDap" id="publicoAlvoDap-1" checklist-model="cadastro.filtro.publicoAlvoDap" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoDap-2">
                            <input type="checkbox" name="publicoAlvoDap" id="publicoAlvoDap-2" checklist-model="cadastro.filtro.publicoAlvoDap" checklist-value="'N'">
                            Nao
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoDap-3">
                            <input type="checkbox" name="publicoAlvoDap" id="publicoAlvoDap-3" checklist-model="cadastro.filtro.publicoAlvoDap" checklist-value="'ND'">
                            Nao Dapeavel
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoDap.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Compras Institucionais">
                    <label class="col-md-4 control-label" for="publicoAlvoComprasInstitucionais">Compras Institucionais</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoComprasInstitucionais-1">
                            <input type="checkbox" name="publicoAlvoComprasInstitucionais" id="publicoAlvoComprasInstitucionais-1" checklist-model="cadastro.filtro.publicoAlvoComprasInstitucionais" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoComprasInstitucionais-2">
                            <input type="checkbox" name="publicoAlvoComprasInstitucionais" id="publicoAlvoComprasInstitucionais-2" checklist-model="cadastro.filtro.publicoAlvoComprasInstitucionais" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoComprasInstitucionais.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Beneficio Social">
                    <label class="col-md-4 control-label" for="publicoAlvoBeneficioSocial">Beneficio Social</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoBeneficioSocial-1">
                            <input type="checkbox" name="publicoAlvoBeneficioSocial" id="publicoAlvoBeneficioSocial-1" checklist-model="cadastro.filtro.publicoAlvoBeneficioSocial" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoBeneficioSocial-2">
                            <input type="checkbox" name="publicoAlvoBeneficioSocial" id="publicoAlvoBeneficioSocial-2" checklist-model="cadastro.filtro.publicoAlvoBeneficioSocial" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoBeneficioSocial.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Incra">
                    <label class="col-md-4 control-label" for="publicoAlvoIncra">Incra</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIncra-1">
                            <input type="checkbox" name="publicoAlvoIncra" id="publicoAlvoIncra-1" checklist-model="cadastro.filtro.publicoAlvoIncra" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoIncra-2">
                            <input type="checkbox" name="publicoAlvoIncra" id="publicoAlvoIncra-2" checklist-model="cadastro.filtro.publicoAlvoIncra" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoIncra.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Atepa">
                    <label class="col-md-4 control-label" for="publicoAlvoAtepa">Atepa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoAtepa-1">
                            <input type="checkbox" name="publicoAlvoAtepa" id="publicoAlvoAtepa-1" checklist-model="cadastro.filtro.publicoAlvoAtepa" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoAtepa-2">
                            <input type="checkbox" name="publicoAlvoAtepa" id="publicoAlvoAtepa-2" checklist-model="cadastro.filtro.publicoAlvoAtepa" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoAtepa.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="BSM">
                    <label class="col-md-4 control-label" for="publicoAlvoBsm">BSM</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoBsm-1">
                            <input type="checkbox" name="publicoAlvoBsm" id="publicoAlvoBsm-1" checklist-model="cadastro.filtro.publicoAlvoBsm" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoBsm-2">
                            <input type="checkbox" name="publicoAlvoBsm" id="publicoAlvoBsm-2" checklist-model="cadastro.filtro.publicoAlvoBsm" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoBsm.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Sustentabilidade">
                    <label class="col-md-4 control-label" for="publicoAlvoSustentabilidade">Sustentabilidade</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoSustentabilidade-1">
                            <input type="checkbox" name="publicoAlvoSustentabilidade" id="publicoAlvoSustentabilidade-1" checklist-model="cadastro.filtro.publicoAlvoSustentabilidade" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoSustentabilidade-2">
                            <input type="checkbox" name="publicoAlvoSustentabilidade" id="publicoAlvoSustentabilidade-2" checklist-model="cadastro.filtro.publicoAlvoSustentabilidade" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoSustentabilidade.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Agricola">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaAgricola">IPA Agricola</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaAgricola-1">
                            <input type="checkbox" name="publicoAlvoIpaAgricola" id="publicoAlvoIpaAgricola-1" checklist-model="cadastro.filtro.publicoAlvoIpaAgricola" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoIpaAgricola-2">
                            <input type="checkbox" name="publicoAlvoIpaAgricola" id="publicoAlvoIpaAgricola-2" checklist-model="cadastro.filtro.publicoAlvoIpaAgricola" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoIpaAgricola.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Animal">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaAnimal">IPA Animal</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaAnimal-1">
                            <input type="checkbox" name="publicoAlvoIpaAnimal" id="publicoAlvoIpaAnimal-1" checklist-model="cadastro.filtro.publicoAlvoIpaAnimal" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoIpaAnimal-2">
                            <input type="checkbox" name="publicoAlvoIpaAnimal" id="publicoAlvoIpaAnimal-2" checklist-model="cadastro.filtro.publicoAlvoIpaAnimal" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoIpaAnimal.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Nao Agricola">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaNaoAgricola">IPA Nao Agricola</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaNaoAgricola-1">
                            <input type="checkbox" name="publicoAlvoIpaNaoAgricola" id="publicoAlvoIpaNaoAgricola-1" checklist-model="cadastro.filtro.publicoAlvoIpaNaoAgricola" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoIpaNaoAgricola-2">
                            <input type="checkbox" name="publicoAlvoIpaNaoAgricola" id="publicoAlvoIpaNaoAgricola-2" checklist-model="cadastro.filtro.publicoAlvoIpaNaoAgricola" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoIpaNaoAgricola.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Flores">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaFlores">IPA Flores</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaFlores-1">
                            <input type="checkbox" name="publicoAlvoIpaFlores" id="publicoAlvoIpaFlores-1" checklist-model="cadastro.filtro.publicoAlvoIpaFlores" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoIpaFlores-2">
                            <input type="checkbox" name="publicoAlvoIpaFlores" id="publicoAlvoIpaFlores-2" checklist-model="cadastro.filtro.publicoAlvoIpaFlores" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoIpaFlores.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Organização">
                    <label class="col-md-4 control-label" for="publicoAlvoOrganizacao">Organização</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoOrganizacao-1">
                            <input type="checkbox" name="publicoAlvoOrganizacao" id="publicoAlvoOrganizacao-1" checklist-model="cadastro.filtro.publicoAlvoOrganizacao" checklist-value="'S'">
                            Sim
                        </label>
                        <label class="checkbox-inline" for="publicoAlvoOrganizacao-2">
                            <input type="checkbox" name="publicoAlvoOrganizacao" id="publicoAlvoOrganizacao-2" checklist-model="cadastro.filtro.publicoAlvoOrganizacao" checklist-value="'N'">
                            Nao
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submitido && frm.filtro.publicoAlvoOrganizacao.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>