<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <legend>Dados Pessoais</legend>
                <!-- Text input-->
                <div class="form-group" title="Razao Social/Sigla ou Nome/Apelido">
                    <label class="col-md-4 control-label" for="nome">
                        <span ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PF') >= 0">Razao Social/Sigla</span>
                        <span ng-hide="cadastro.filtro.tipoPessoa.length === 1">ou</span>
                        <span ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">Nome/Apelido</span>
                    </label>
                    <div class="col-md-6">
                        <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.nome">
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.nome.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Tipo de Pessoa">
                    <label class="col-md-4 control-label" for="tipoPessoa">Tipo de Pessoa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="tipoPessoa-{{$index}}" ng-repeat="item in cadastro.apoio.pessoaTipoList">
                            <input type="checkbox" name="tipoPessoa" id="tipoPessoa-{{$index}}" checklist-model="cadastro.filtro.tipoPessoa" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.tipoPessoa.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group" title="Cadastro Nacional de Pessoa Jurídica" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PF') >= 0">
                    <label class="col-md-4 control-label" for="cnpj">CNPJ</label>
                    <div class="col-md-3">
                        <input id="cnpj" name="cnpj" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.cnpj" ui-br-cnpj-mask>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.cnpj.$error.cnpj">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Número inválido!
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group" title="Cadastro de Pessoa Física" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">
                    <label class="col-md-4 control-label" for="cpf">CPF</label>
                    <div class="col-md-3">
                        <input id="cpf" name="cpf" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.cpf" ui-br-cpf-mask>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.cpf.$error.cpf">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Número inválido!
                        </div>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Gênero da Pessoa" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">
                    <label class="col-md-4 control-label" for="genero">Gênero da Pessoa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="genero-{{$index}}" ng-repeat="item in cadastro.apoio.generoList">
                            <input type="checkbox" name="genero" id="genero-{{$index}}" checklist-model="cadastro.filtro.genero" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.genero.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Geração da Pessoa" ng-hide="cadastro.filtro.tipoPessoa.length === 1 && cadastro.filtro.tipoPessoa.indexOf('PJ') >= 0">
                    <label class="col-md-4 control-label" for="pessoaGeracao">Geração da Pessoa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="pessoaGeracao-{{$index}}" ng-repeat="item in cadastro.apoio.pessoaGeracaoList">
                            <input type="checkbox" name="pessoaGeracao" id="pessoaGeracao-{{$index}}" checklist-model="cadastro.filtro.pessoaGeracao" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.pessoaGeracao.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Situação da Pessoa">
                    <label class="col-md-4 control-label" for="pessoaSituacao">Situação da Pessoa</label>
                    <div class="col-md-7">
                        <label class="checkbox-inline" for="pessoaSituacao-{{$index}}" ng-repeat="item in cadastro.apoio.pessoaSituacaoList">
                            <input type="checkbox" name="pessoaSituacao" id="pessoaSituacao-{{$index}}" checklist-model="cadastro.filtro.pessoaSituacao" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.pessoaSituacao.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group" title="Programas Sociais">
                    <label class="col-md-4 control-label" for="grupoSocialList">Programas Sociais</label>
                    <div class="col-md-7">
                        <input type="hidden" name="grupoSocialList" id="grupoSocialList" ng-model="cadastro.filtro.grupoSocialList.length">
                        <ng-include src="'pessoa/filtro-sub-grupo-social.html'" ng-controller="FiltroSubGrupoSocialCtrl"></ng-include>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.grupoSocialList.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <legend>Beneficiário</legend>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Segmento">
                    <label class="col-md-4 control-label" for="publicoAlvoSegmento">Segmento</label>
                    <div class="col-md-8">
                        <label class="checkbox-inline" for="publicoAlvoSegmento-{{$index}}" ng-repeat="item in cadastro.apoio.publicoAlvoSegmentoList">
                            <input type="checkbox" name="publicoAlvoSegmento" id="publicoAlvoSegmento-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoSegmento" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoSegmento.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>

                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Categoria">
                    <label class="col-md-4 control-label" for="publicoAlvoCategoria">Categoria</label>
                    <div class="col-md-8">
                        <label class="checkbox-inline" for="publicoAlvoCategoria-{{$index}}" ng-repeat="item in cadastro.apoio.publicoAlvoCategoriaList">
                            <input type="checkbox" name="publicoAlvoCategoria" id="publicoAlvoCategoria-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoCategoria" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoCategoria.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="publicoAlvoSetor">Setor</label>
                    <div class="col-md-4">
                        <select id="publicoAlvoSetor" name="publicoAlvoSetor" class="form-control" ng-model="cadastro.filtro.publicoAlvoSetor" ng-options="item as item.nome for item in cadastro.apoio.setorList track by item.id">
                            <option value="">-- Ignorar --</option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="publicoAlvoPropriedadeUtilizacaoEspacoRural">Espaco Rural</label>
                    <div class="col-md-4">
                        <select id="publicoAlvoPropriedadeUtilizacaoEspacoRural" name="publicoAlvoPropriedadeUtilizacaoEspacoRural" class="form-control" ng-model="cadastro.filtro.publicoAlvoPropriedadeUtilizacaoEspacoRural">
                            <option value="1">A</option>
                            <option value="2">B</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" title="Unidade Organizacional/Comunidade">
                    <label class="col-md-4 control-label" for="unidadeOrganizacionalComunidade">
                        Unidade Organizacional/Comunidade
                    </label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="cadastro.apoio.localFiltro" placeholder="Filtrar por Comunidade">
                            <span class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="cadastro.apoio.localFiltro = ''">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="row" style="height: 200px; overflow: scroll;">
                            <div ui-tree drag-enabled="false">
                                <ol ui-tree-nodes="" ng-model="cadastro.apoio.localList">
                                    <li ng-repeat="item in cadastro.apoio.localList" ui-tree-node>
                                        <div ui-tree-handle>
                                            <a class="btn btn-primary btn-xs Tooltip" data-nodrag data-ng-click="toggleChildren(this)" title="Expandir/Recolher">
                                                <span class="glyphicon glyphicon-chevron-right" data-ng-show="collapsed"></span>
                                                <span class="glyphicon glyphicon-chevron-down" data-ng-show="!collapsed"></span>
                                            </a>
                                            <label>
                                                <input type="checkbox" ng-model="item.selecionado" ng-true-value="true" ng-false-value="false" ng-if="!cadastro.apoio.unidadeOrganizacionalSomenteLeitura">
                                                {{item.nome}}
                                            </label>
                                        </div>
                                        <ol ui-tree-nodes="" ng-model="item.unidadeList" ng-class="{hidden: collapsed}">
                                            <li ng-repeat="subItem in item.unidadeList" ui-tree-node>
                                                <div ui-tree-handle>
                                                    <a class="btn btn-primary btn-xs Tooltip" data-nodrag data-ng-click="toggleChildren(this)" title="Expandir/Recolher">
                                                        <span class="glyphicon glyphicon-chevron-right" data-ng-show="collapsed"></span>
                                                        <span class="glyphicon glyphicon-chevron-down" data-ng-show="!collapsed"></span>
                                                    </a>
                                                    <label>
                                                        <input type="checkbox" ng-model="subItem.selecionado" ng-true-value="true" ng-false-value="false">
                                                        {{subItem.nome}}
                                                    </label>
                                                </div>
                                                <ol ui-tree-nodes="" ng-model="subItem.comunidadeList" ng-class="{hidden: collapsed}">
                                                    <li ng-repeat="subSubItem in subItem.comunidadeList" ui-tree-node ng-show="visible(subSubItem)">
                                                        <div ui-tree-handle>
                                                            <label>
                                                                <input type="checkbox" ng-model="subSubItem.selecionado" ng-true-value="true" ng-false-value="false">
                                                                {{subSubItem.nome}}
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.unidadeOrganizacionalComunidade.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="ATER">
                    <label class="col-md-4 control-label" for="publicoAlvoAter">ATER</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoAter-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoAter" id="publicoAlvoAter-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoAter" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoAter.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="DAP">
                    <label class="col-md-4 control-label" for="publicoAlvoDap">DAP</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoDap-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoDapList">
                            <input type="checkbox" name="publicoAlvoDap" id="publicoAlvoDap-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoDap" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoDap.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Compras Institucionais">
                    <label class="col-md-4 control-label" for="publicoAlvoComprasInstitucionais">Compras Institucionais</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoComprasInstitucionais-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoComprasInstitucionais" id="publicoAlvoComprasInstitucionais-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoComprasInstitucionais" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoComprasInstitucionais.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Beneficio Social">
                    <label class="col-md-4 control-label" for="publicoAlvoBeneficioSocial">Beneficio Social</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoBeneficioSocial-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoBeneficioSocial" id="publicoAlvoBeneficioSocial-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoBeneficioSocial" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoBeneficioSocial.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group sr-only" title="Incra">
                    <label class="col-md-4 control-label" for="publicoAlvoIncra">Incra</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIncra-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoIncra" id="publicoAlvoIncra-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoIncra" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoIncra.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group sr-only" title="Atepa">
                    <label class="col-md-4 control-label" for="publicoAlvoAtepa">Atepa</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoAtepa-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoAtepa" id="publicoAlvoAtepa-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoAtepa" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoAtepa.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group sr-only" title="BSM">
                    <label class="col-md-4 control-label" for="publicoAlvoBsm">BSM</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoBsm-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoBsm" id="publicoAlvoBsm-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoBsm" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoBsm.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group sr-only" title="Sustentabilidade">
                    <label class="col-md-4 control-label" for="publicoAlvoSustentabilidade">Sustentabilidade</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoSustentabilidade-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoSustentabilidade" id="publicoAlvoSustentabilidade-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoSustentabilidade" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoSustentabilidade.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Agricola">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaAgricola">IPA Agricola</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaAgricola-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoIpaAgricola" id="publicoAlvoIpaAgricola-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoIpaAgricola" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoIpaAgricola.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Animal">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaAnimal">IPA Animal</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaAnimal-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoIpaAnimal" id="publicoAlvoIpaAnimal-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoIpaAnimal" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoIpaAnimal.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Nao Agricola">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaNaoAgricola">IPA Nao Agricola</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaNaoAgricola-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoIpaNaoAgricola" id="publicoAlvoIpaNaoAgricola-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoIpaNaoAgricola" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoIpaNaoAgricola.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="IPA Flores">
                    <label class="col-md-4 control-label" for="publicoAlvoIpaFlores">IPA Flores</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoIpaFlores-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoIpaFlores" id="publicoAlvoIpaFlores-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoIpaFlores" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoIpaFlores.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Organização">
                    <label class="col-md-4 control-label" for="publicoAlvoOrganizacao">Organização</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="publicoAlvoOrganizacao-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="publicoAlvoOrganizacao" id="publicoAlvoOrganizacao-{{$index}}" checklist-model="cadastro.filtro.publicoAlvoOrganizacao" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.publicoAlvoOrganizacao.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>