<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form name="frm.formulario" novalidate>
            <fieldset ng-disabled="['INCLUINDO', 'EDITANDO'].indexOf(navegador.estadoAtual()) < 0">
            <!--<fieldset>-->
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label"><span ng-if="cadastro.registro.pessoaTipo==='PF'">Foto</span><span ng-if="cadastro.registro.pessoaTipo==='PJ'">Logomarca</span></label>
                            <div>
                                <img class="img-thumbnail" src="img/foto.png" ng-click="selecionaFotoPerfil()" ng-hide="cadastro.registro.perfilArquivo.localDiretorioWeb.length" width="180px" height="180px" />
                                <img class="img-thumbnail" ng-src="{{servicoUrl}}/arquivo-descer?arquivo={{cadastro.registro.perfilArquivo.md5}}" ng-click="selecionaFotoPerfil()" ng-if="cadastro.registro.perfilArquivo.md5.length" width="180px" height="180px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label" for="pessoaTipo">Tipo de Pessoa</label>
                                <select id="pessoaTipo" name="pessoaTipo" class="form-control" required ng-model="cadastro.registro.pessoaTipo" ng-disabled="true" ng-options="item.codigo as item.descricao for item in cadastro.apoio.pessoaTipoList">
                                </select>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.pessoaTipo.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" for="nome"><span ng-if="cadastro.registro.pessoaTipo==='PF'">Nome Completo</span><span ng-if="cadastro.registro.pessoaTipo==='PJ'">Razão Social</span></label>
                                <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" required ng-model="cadastro.registro.nome" ng-model-options="{ updateOn: 'blur'}">
                                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.nome.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label"><span ng-if="cadastro.registro.pessoaTipo==='PF'">Apelido</span><span ng-if="cadastro.registro.pessoaTipo==='PJ'">Sigla</span></label>
                                <input class="form-control" type="text" ng-model="cadastro.registro.apelidoSigla"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Situação</label>
                                <select class="form-control" required ng-model="cadastro.registro.situacao" ng-options="item.codigo as item.descricao for item in cadastro.apoio.pessoaSituacaoList">
                                </select>
                            </div>
                            <div class="form-group col-md-4" title="Cadastro de Pessoa Física" ng-show="cadastro.registro.pessoaTipo === 'PF'">
                                <label class="control-label" for="cpf">CPF</label>
                                <input id="cpf" name="cpf" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.registro.cpf" ui-br-cpf-mask>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.cpf.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.cpf.$error.cpf">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Número inválido!
                                </div>
                            </div>
                            <div class="form-group col-md-4" title="Cadastro Nacional de Pessoa Jurídica" ng-show="cadastro.registro.pessoaTipo === 'PJ'">
                                <label class="control-label" for="cnpj">CNPJ</label>
                                <input id="cnpj" name="cnpj" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.registro.cnpj" ui-br-cnpj-mask>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.cnpj.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.cnpj.$error.cnpj">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Número inválido!
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                               <label class="control-label">Cadastro Especial</label>
                               <div class="form-control">
                                   <label class="checkbox-inline" for="publicoAlvoConfirmacao">
                                       <input type="checkbox" name="publicoAlvoConfirmacao" id="publicoAlvoConfirmacao" ng-model="cadastro.registro.publicoAlvoConfirmacao" ng-true-value="'S'" ng-false-value="'N'">
                                       Beneficiário
                                   </label>
                                   <label class="checkbox-inline" for="colaborador" ng-show="false">
                                       <input type="checkbox" name="colaborador" id="colaborador" ng-model="cadastro.registro.colaborador" ng-click="tabVisivelColaborador(cadastro.registro.colaborador);">
                                       Colaborador
                                   </label>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <uib-tabset active="tabAtiva">
                    <uib-tab ng-repeat="tab in tabs | filter: {'visivel': true}" select="tab.selecao()" index="tab.indice">
                        <uib-tab-heading>
                            {{$index + 1}} {{tab.nome}}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </uib-tab-heading>
                        <ng-include src="tab.include"/>
                    </uib-tab>
                </uib-tabset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Observações</label>
                            <textarea class="form-control" rows="4" ng-model="cadastro.registro.observacoes"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-8">
                            <label class="control-label">Resp. Inclusão</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.usuarioInclusao.pessoa.apelidoSigla"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Dt. Inclusão</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.inclusaoData"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Resp. Atualização</label>
                            <input class="form-control" type="text" readonly="true"  ng-model="cadastro.registro.usuarioAlteracao.pessoa.apelidoSigla"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Dt. Atualização</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.alteracaoData"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>