<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="pessoaRelacionamentoNvg" exibe-nome-botao="false"
        dados="cadastro.registro.relacionamentoList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.relacionamentoList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.relacionamentoList.length > 0">
        <ng-form name="relacionamentoListFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><frz-seletor ng-model="pessoaRelacionamentoNvg" dados="cadastro.registro.relacionamentoList"></frz-seletor></th>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Relacionamento</th>
                        <th>Início</th>
                        <th>Término</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reg in cadastro.registro.relacionamentoList | filter: {cadastroAcao: '!E'}">
                        <td>
                            <input type="radio" ng-show="pessoaRelacionamentoNvg.selecao.tipo === 'U'" ng-model="pessoaRelacionamentoNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="pessoaRelacionamentoNvg.selecao.tipo === 'M'" checklist-model="pessoaRelacionamentoNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td>
                            {{$index + 1 + ((pessoaRelacionamentoNvg.paginaAtual-1) * pessoaRelacionamentoNvg.tamanhoPagina)}}
                            /{{reg}}/
                        </td>
                        <td><a ng-click="modalVerPessoa(reg.pessoa.id)">{{reg.pessoa.nome}}</a></td>
                        <td>
                            <select class="form-control input-sm" id="relacionamentoTipo" name="relacionamentoTipo{{$index}}" ng-model="reg.relacionamento.relacionamentoTipo" 
                                ng-options="item as item.nome for item in scp.cadastro.apoio.relacionamentoTipoList | orderBy: ['nome'] track by item.id" ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && relacionamentoListFrm.relacionamentoTipo{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <select class="form-control input-sm" id="relacionamentoFuncao" name="relacionamentoFuncao{{$index}}" ng-model="reg.relacionamentoFuncao" 
                                ng-options="item as item.nomeSeFeminino group by item.tipoNome for item in scp.cadastro.apoio.relacionamentoFuncaoList | orderBy: ['tipoNome', 'nomeSeFeminino'] track by item.id" ng-required="true"
                                ng-if="reg.pessoa.genero === 'F'">
                            </select>
                            <select class="form-control input-sm" id="relacionamentoFuncao" name="relacionamentoFuncao{{$index}}" ng-model="reg.relacionamentoFuncao" 
                                ng-options="item as item.nomeSeMasculino group by item.tipoNome for item in scp.cadastro.apoio.relacionamentoFuncaoList | orderBy: ['tipoNome', 'nomeSeMasculino'] track by item.id" ng-required="true"
                                ng-if="reg.pessoa.genero !== 'F'">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && relacionamentoListFrm.relacionamentoFuncao{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="inicio" name="inicio{{$index}}" ng-model="reg.inicio" ui-date-mask ng-show="['S', 'O'].indexOf(reg.relacionamentoFuncao.configTemporario) >= 0">
                            <div class="label label-danger" ng-show="navegador.submetido && relacionamentoListFrm.inicio{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                            <div class="label label-danger" ng-show="navegador.submetido && relacionamentoListFrm.inicio{{$index}}.$error.date">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Data inválida!
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="termino" name="termino{{$index}}" ng-model="reg.termino" ui-date-mask ng-show="['S', 'O'].indexOf(reg.relacionamentoFuncao.configTemporario) >= 0">
                            <div class="label label-danger" ng-show="navegador.submetido && relacionamentoListFrm.termino{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                            <div class="label label-danger" ng-show="navegador.submetido && relacionamentoListFrm.termino{{$index}}.$error.date">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Data inválida!
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
</div>