<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="pessoaTelefoneNvg" exibe-texto-botao="false"
        dados="cadastro.registro.telefoneList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.telefoneList.length">
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsible" ng-show="cadastro.registro.telefoneList.length > 0">
        <ng-form name="telefoneListFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th rowspan="2"><frz-seletor ng-model="pessoaTelefoneNvg" dados="cadastro.registro.telefoneList"></frz-seletor></th>
                        <th rowspan="2">#</th>
                        <th colspan="2">Número</th>
                    </tr>
                    <tr>
                        <th><small>Tipo</small></th>
                        <th><small>Finalidade</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="reg in cadastro.registro.telefoneList | filter: {cadastroAcao: '!E'}">
                        <td rowspan="2">
                            <input type="radio" ng-show="pessoaTelefoneNvg.selecao.tipo === 'U'" ng-model="pessoaTelefoneNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="pessoaTelefoneNvg.selecao.tipo === 'M'" checklist-model="pessoaTelefoneNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td rowspan="2">
                            {{$index + 1 + ((pessoaTelefoneNvg.paginaAtual-1) * pessoaTelefoneNvg.tamanhoPagina)}}
                        </td>
                        <td colspan="2">{{reg.telefone.numero}}</td>
                    </tr>
                    <tr ng-repeat-end>
                        <td>
                            <select class="form-control input-sm" id="tipo" name="tipo{{$index}}" ng-model="reg.tipo" ng-options="item.codigo as item.descricao for item in scp.cadastro.apoio.telefoneTipoList" ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submitido && telefoneListFrm.tipo{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <select class="form-control input-sm" id="finalidade" name="finalidade{{$index}}" ng-model="reg.finalidade" ng-options="item.codigo as item.descricao for item in scp.cadastro.apoio.meioContatoFinalidadeList" ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submitido && telefoneListFrm.finalidade{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
    <script type="text/ng-template" id="pessoa-telefone-frm.html">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Telefone</label>
                        <input type="text" class="form-control" name="numero" ng-model="conteudo.telefone.numero" ui-br-phone-number model-view-value="true" required="true">
                        <div class="label label-danger" ng-show="confirmacaoFrm.numero.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             Campo Obrigatório
                        </div>
                        <div class="label label-danger" ng-show="confirmacaoFrm.numero.$error.brPhoneNumber">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             Número inválido!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>