<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="pessoaGrupoSocialNvg" exibe-texto-botao="false"
        dados="cadastro.registro.grupoSocialList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.grupoSocialList.length">
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsible" ng-show="cadastro.registro.grupoSocialList.length > 0">
        <ng-form name="grupoSocialListFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><frz-seletor ng-model="pessoaGrupoSocialNvg" dados="cadastro.registro.grupoSocialList"></frz-seletor></th>
                        <th>#</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reg in cadastro.registro.grupoSocialList | filter: {cadastroAcao: '!E'}">
                        <td>
                            <input type="radio" ng-show="pessoaGrupoSocialNvg.selecao.tipo === 'U'" ng-model="pessoaGrupoSocialNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="pessoaGrupoSocialNvg.selecao.tipo === 'M'" checklist-model="pessoaGrupoSocialNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td>
                            {{$index + 1 + ((pessoaGrupoSocialNvg.paginaAtual-1) * pessoaGrupoSocialNvg.tamanhoPagina)}}
                        </td>
                        <td>{{reg.grupoSocial.nome}}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
    <script type="text/ng-template" id="pessoa-grupoSocial-frm.html">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <label class="form-label">GrupoSocial</label>
                        <select class="form-control" id="grupoSocial"  name="grupoSocial" ng-model="conteudo.grupoSocial.id" required="true" ng-options="item.id as item.nome for item in conteudo.grupoSocialList">
                        </select>
                        <div class="label label-danger" ng-show="confirmacaoFrm.grupoSocial.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             Campo Obrigatório
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>