<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="pessoaTelefoneNvg" exibe-texto-botao="false"
        dados="cadastro.registro.telefoneList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.telefoneList.length">
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsible" ng-show="cadastro.registro.telefoneList.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><frz-seletor ng-model="pessoaTelefoneNvg" dados="cadastro.registro.telefoneList"></frz-seletor></th>
                    <th>#</th>
                    <th>Finalidade</th>
                    <th>Tipo</th>
                    <th>Numero</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tel in cadastro.registro.telefoneList">
                    <td>
                        <input type="radio" ng-show="pessoaTelefoneNvg.selecao.tipo === 'U'" ng-model="pessoaTelefoneNvg.selecao.item" ng-value="tel"/>
                        <input type="checkbox" ng-show="pessoaTelefoneNvg.selecao.tipo === 'M'" checklist-model="pessoaTelefoneNvg.selecao.items" checklist-value="tel"/>
                    </td>
                    <td>
                        {{$index + 1 + ((pessoaTelefoneNvg.paginaAtual-1) * pessoaTelefoneNvg.tamanhoPagina)}}
                    </td>
                    <td>
                        <select class="form-control" ng-model="tel.finalidade">
                            <option value="C">Comercial</option>
                            <option value="P,C">Particular & Comercial</option>
                            <option value="P">Particular</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option value="F">Fixo</option>
                            <option value="C">Celular</option>
                            <option value="F">Fax</option>
                        </select>
                    </td>
                    <td>{{tel.meioContato.numero}}</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
    </div>
    <script type="text/ng-template" id="pessoa-telefone-frm.html">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Telefone</label>
                        <input type="text" class="form-control" ng-model="conteudo.numero" ui-br-phone-number model-view-value="false">
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>