<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="pessoaEnderecoNvg" exibe-nome-botao="false"
        dados="cadastro.registro.enderecoList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="table-responsive" ng-if="cadastro.registro.publicoAlvoConfirmacao === 'S' && cadastro.registro.publicoAlvo.publicoAlvoPropriedadeRuralList.length">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="11" class="text-center"><h4>Endereço das Propriedades Rurais Vinculadas</h4></th>
                </tr>
                <tr>
                    <th>Comunidade</th>
                    <th>Nome</th>
                    <th>Logradouro</th>
                    <th>Complemento</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>CEP</th>
                    <th>Código IBGE</th>
                    <th>Cidade</th>
                    <th>Municipio</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody ng-if="cadastro.registro.publicoAlvo.publicoAlvoPropriedadeRuralList">
                <tr ng-repeat="reg in cadastro.registro.publicoAlvo.publicoAlvoPropriedadeRuralList | orderBy: ['comunidade.nome', 'propriedadeRural.nome'] track by reg.id">
                    <td>{{reg.comunidade.nome}}</td>
                    <td><a ng-click="modalVerPropriedadeRural(reg.propriedadeRural.id)">{{reg.propriedadeRural.nome}}</a></td>
                    <td>{{reg.propriedadeRural.endereco.logradouro}}</td>
                    <td>{{reg.propriedadeRural.endereco.complemento}}</td>
                    <td>{{reg.propriedadeRural.endereco.numero}}</td>
                    <td>{{reg.propriedadeRural.endereco.bairro}}</td>
                    <td>{{reg.propriedadeRural.endereco.cep}}</td>
                    <td>{{reg.propriedadeRural.endereco.codigoIbge}}</td>
                    <td>{{reg.propriedadeRural.endereco.cidade.nome}}</td>
                    <td>{{reg.propriedadeRural.endereco.municipio.nome}}</td>
                    <td>{{reg.propriedadeRural.endereco.estado.sigla}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.enderecoList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.enderecoList.length > 0">
        <ng-form name="enderecoListFrm">
            <table class="table table-striped">
                <thead>
                    <tr ng-if="cadastro.registro.publicoAlvoConfirmacao === 'S' && cadastro.registro.publicoAlvo.publicoAlvoPropriedadeRuralList.length">
                        <th colspan="11" class="text-center"><h4>Outros endereços de contato</h4></th>
                    </tr>
                    <tr>
                        <th rowspan="2"><frz-seletor ng-model="pessoaEnderecoNvg" dados="cadastro.registro.enderecoList"></frz-seletor></th>
                        <th rowspan="2">#</th>
                        <th>Logradouro</th>
                        <th>Complemento</th>
                        <th>Número</th>
                        <th>Bairro</th>
                        <th>CEP</th>
                        <th>Código IBGE</th>
                        <th>Cidade</th>
                        <th>Municipio</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <th><small>Finalidade</small></th>
                        <th colspan="8"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="reg in cadastro.registro.enderecoList | orderBy: ['endereco.logradouro', 'endereco.complemento', 'reg.endereco.numero', 'reg.endereco.bairro', 'reg.endereco.cep', 'endereco.cidade.nome', 'endereco.municipio.nome', 'endereco.estado.sigla'] track by reg.id">
                        <td rowspan="2">
                            <input type="radio" ng-show="pessoaEnderecoNvg.selecao.tipo === 'U'" ng-model="pessoaEnderecoNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="pessoaEnderecoNvg.selecao.tipo === 'M'" checklist-model="pessoaEnderecoNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td rowspan="2">
                            {{$index + 1 + ((pessoaEnderecoNvg.paginaAtual-1) * pessoaEnderecoNvg.tamanhoPagina)}}
                        </td>
                        <td>{{reg.endereco.logradouro}}</td>
                        <td>{{reg.endereco.complemento}}</td>
                        <td>{{reg.endereco.numero}}</td>
                        <td>{{reg.endereco.bairro}}</td>
                        <td>{{reg.endereco.cep}}</td>
                        <td>{{reg.endereco.codigoIbge}}</td>
                        <td>{{reg.endereco.cidade.nome}}</td>
                        <td>{{reg.endereco.municipio.nome}}</td>
                        <td>{{reg.endereco.estado.sigla}}</td>
                    </tr>
                    <tr ng-repeat-end>
                        <td>
                            <select class="form-control input-sm" id="finalidade" name="finalidade{{$index}}" ng-model="reg.finalidade" ng-options="item.codigo as item.descricao for item in scp.cadastro.apoio.meioContatoFinalidadeList" ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && enderecoListFrm.finalidade{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td colspan="8">&nbsp;</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
</div>