<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label">Categoria</label>
        <select class="form-control" id="categoria" name="categoria" ng-model="cadastro.registro.publicoAlvo.categoria" ng-required="cadastro.registro.publicoAlvoConfirmacao === 'S'" ng-options="item.codigo as item.descricao for item in cadastro.apoio.publicoAlvoCategoriaList | filter: {pessoaTipoList: cadastro.registro.pessoaTipo} | orderBy: 'descricao'">
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.categoria.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Segmento</label>
        <select class="form-control" id="segmento" name="segmento" ng-model="cadastro.registro.publicoAlvo.segmento" ng-options="item.codigo as item.descricao for item in cadastro.apoio.publicoAlvoSegmentoList | orderBy: 'descricao'" ng-required="cadastro.registro.publicoAlvoConfirmacao === 'S'">
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.segmento.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3" ng-if="cadastro.registro.pessoaTipo==='PF'">
        <label class="control-label">Geração</label>
        <input class="form-control" id="geracao" name="geracao" type="text" ng-model="cadastro.apoio.geracao" readonly="true" ng-required="true"/>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.geracao.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3" ng-if="cadastro.registro.pessoaTipo==='PJ'">
        <label class="control-label">Organização</label>
        <select class="form-control" id="organizacaoTipo" name="organizacaoTipo" ng-model="cadastro.registro.publicoAlvo.organizacaoTipo" ng-options="item as item.nome for item in cadastro.apoio.organizacaoTipoList | orderBy : 'nome' track by item.id" ng-required="true">
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.organizacaoTipo.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Tradição</label>
        <select class="form-control" ng-model="cadastro.registro.publicoAlvo.tradicao" ng-options="item as item for item in cadastro.apoio.tradicaoList">
            <option value="">-- Não informado --</option>
        </select>
    </div>
</div>
<div class="row" ng-if="cadastro.registro.publicoAlvo.categoria === 'E' && cadastro.registro.publicoAlvo.segmento === 'F'">
    <div class="form-group col-md-12">
        <label class="control-label">DAP - Declaração de Aptidão ao PRONAF (<small><a href="http://smap14.mda.gov.br/extratopf/PesquisaTitular.aspx" target="_blank">Acessar Sistema de Extrato DAP</a></small>) (<small><a href="http://dap.mda.gov.br/dapweb/login/default.aspx" target="_blank">Acessar Cadastro de DAP</a></small>)</label>
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Tem DAP?</label>
                <select class="form-control" ng-model="cadastro.registro.publicoAlvo.dapSituacao" ng-options="item.codigo as item.descricao for item in cadastro.apoio.confirmacaoDapList">
                    <option value="">-- Não informado --</option>
                </select>
            </div>
            <div class="col-md-4" ng-if="cadastro.registro.publicoAlvo.dapSituacao === 'S'">
                <label class="control-label">Número de Registro da DAP</label>
                <input class="form-control" id="dapNumero" name="dapNumero" type="text" ng-model="cadastro.registro.publicoAlvo.dapNumero" ng-required="cadastro.registro.publicoAlvo.dapSituacao === 'S'" style="text-transform: uppercase" ng-pattern="/^([a-z|A-Z]{3})([0-9]{22})$/" placeholder="Formato LLL9999999999999999999999" title="Formato LLL9999999999999999999999, ou seja, 3 letras e 22 números" />
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.dapNumero.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
                <div class="label label-danger" ng-show="navegador.submetido && (frm.formulario.dapNumero.$error.minlength || frm.formulario.dapNumero.$error.maxlength)">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Quantidade de caracteres inválido!
                </div>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.dapNumero.$error.pattern">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor inválido!
                </div>
            </div>
            <div class="col-md-2" ng-if="cadastro.registro.publicoAlvo.dapSituacao === 'S'">
                <label class="control-label">Validade da DAP</label>
                <input class="form-control" type="text" id="dapValidade" name="dapValidade" ng-model="cadastro.registro.publicoAlvo.dapValidade" ui-date-mask ng-required="cadastro.registro.publicoAlvo.dapSituacao === 'S'"/>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.dapValidade.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.dapValidade.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>
            </div>
            <div class="col-md-3" ng-if="cadastro.registro.publicoAlvo.dapSituacao === 'S'">
                <label class="control-label">Observações sobre a DAP</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.publicoAlvo.dapObservacao"/>
            </div>
            <div class="col-md-1" ng-if="cadastro.registro.publicoAlvo.dapSituacao === 'S'">
                <img ng-src="{{cadastro.apoio.dapImagem}}" width="40px" height="40px" />
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo==='PF'">
    <div class="form-group col-md-6">
        <label class="control-label">Carteira do Produtor</label>
        <div class="row">
            <div class="col-md-4 sr-only">
                <label class="control-label">Número</label>
                <input class="form-control" type="text" id="carteiraProdutorNumero" name="carteiraProdutorNumero" ng-model="cadastro.registro.publicoAlvo.carteiraProdutorNumero"/>
            </div>
            <div class="col-md-6">
                <label class="control-label">Emissão</label>
                <input class="form-control" type="text" id="carteiraProdutorEmissao" name="carteiraProdutorEmissao" ng-model="cadastro.registro.publicoAlvo.carteiraProdutorEmissao" ui-date-mask ng-disabled="true"/>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.carteiraProdutorEmissao.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label">Validade</label>
                <input class="form-control" type="text" id="carteiraProdutorExpiracao" name="carteiraProdutorExpiracao" ng-model="cadastro.registro.publicoAlvo.carteiraProdutorExpiracao" ui-date-mask ng-disabled="true"/>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.carteiraProdutorExpiracao.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-2" ng-class="{'ng-invalid': frm.formulario.publicoAlvoSetorListTotal.$error.ngValorMin}">
        <label class="control-label">Setor</label>

        <div class="pre-scrollable">
            <div class="checkbox" ng-repeat="item in cadastro.apoio.publicoAlvoSetorList | orderBy: ['setor.nome']">
                <label for="publicoAlvoSetorList{{$index}}">
                    <input type="checkbox" name="publicoAlvoSetorList" id="publicoAlvoSetorList{{$index}}" checklist-model="cadastro.registro.publicoAlvo.publicoAlvoSetorList" checklist-value="item">
                    {{item.setor.nome}}
                </label>
            </div>
            <input type="hidden" id="publicoAlvoSetorListTotal" name="publicoAlvoSetorListTotal" ng-model="cadastro.registro.publicoAlvo.publicoAlvoSetorList.length" ng-valor-min="1">
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.publicoAlvoSetorListTotal.$error.ngValorMin">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="form-group col-md-10">
        <label class="control-label">Propriedades Vinculadas</label>
        <ng-include src="'pessoa/sub-publico-alvo-propriedade-rural.html'" ng-controller="PublicoAlvoPropriedadeRuralCtrl" />
    </div>
</div>
<div class="row" ng-if="cadastro.registro.publicoAlvo.id">
    <div class="form-group col-md-12">
        <label class="control-label">Índices de Produção</label>
        <ng-include src="'pessoa/sub-publico-alvo-indice-producao.html'" ng-controller="PublicoAlvoIndiceProducaoCtrl" />
    </div>
</div>
<div class="row sr-only">
    <div class="form-group col-md-2">
        <label class="control-label">Qtd. ATER no ano</label>
        <input class="form-control" type="text" readonly="true" />
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">IPA AG</label>
        <input class="form-control" type="text" readonly="true" />
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">IPA AN</label>
        <input class="form-control" type="text" readonly="true" />
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">IPA NA</label>
        <input class="form-control" type="text" readonly="true" />
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">IPA FL</label>
        <input class="form-control" type="text" readonly="true" />
    </div>
    <div class="form-group col-md-2">
        <button class="form-control button" type="button" readonly="true">Consultar</button>
    </div>
</div>
