<div class="row" ng-if="cadastro.registro.pessoaTipo==='PF' || cadastro.registro.pessoaTipo==='PJ'">
    <div class="form-group col-md-12">
        <label class="control-label">
            <span ng-if="cadastro.registro.pessoaTipo==='PF'">
                Nascimento <small ng-show="cadastro.apoio.geracao">({{cadastro.apoio.geracao}})</small> <small ng-show="cadastro.apoio.nacionalidade.descricao">({{cadastro.apoio.nacionalidade.descricao}})</small>
            </span>
            <span ng-if="cadastro.registro.pessoaTipo==='PJ'">Fundação</span>
        </label>
        <div class="row">
            <div class="form-group col-md-2">
                <label class="control-label">Data</label>
                <input class="form-control" type="text" id="nascimento" name="nascimento" ng-model="cadastro.registro.nascimento" ui-date-mask ng-required="cadastro.registro.pessoaTipo==='PF' && cadastro.registro.publicoAlvoConfirmacao === 'S'" ng-show="cadastro.registro.pessoaTipo === 'PF'">
                <input class="form-control" type="text" id="fundacao" name="fundacao" ng-model="cadastro.registro.fundacao" ui-date-mask ng-show="cadastro.registro.pessoaTipo === 'PJ'">
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.nascimento.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.nascimento.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
            </div>
            <div class="form-group col-md-2" ng-if="cadastro.registro.pessoaTipo==='PF'">
                <label class="control-label">Idade</label>
                <input class="form-control" id="idade" name="idade" type="text" readonly="true" ng-model="cadastro.registro.idade" />
            </div>
            <div class="form-group col-md-2" ng-if="cadastro.registro.pessoaTipo==='PF'">
                <label class="control-label">País</label>
                <select class="form-control" id="nascimentoPais" name="nascimentoPais" ng-model="cadastro.registro.nascimentoPais" ng-options="item as item.nome for item in cadastro.apoio.paisList | orderBy: ['-padrao','nome'] track by item.id">
                    <option value="">-- Não informado --</option>
                </select>
            </div>
            <div class="form-group col-md-3" ng-show="cadastro.registro.nascimentoPais.padrao === 'S'" ng-if="cadastro.registro.pessoaTipo==='PF'">
                <label class="control-label">Estado</label>
                <select class="form-control" if="nascimentoEstado" name="nascimentoEstado" ng-model="cadastro.registro.nascimentoEstado" ng-options="item as item.nome for item in cadastro.apoio.nascimentoEstadoList | orderBy: ['-padrao','-capital','nome'] track by item.id" >
                </select>
            </div>
            <div class="form-group col-md-3" ng-show="cadastro.registro.nascimentoPais.padrao === 'S'" ng-if="cadastro.registro.pessoaTipo==='PF'">
                <label class="control-label">Município</label>
                <select class="form-control" id="nascimentoMunicipio" name="nascimentoMunicipio" ng-model="cadastro.registro.nascimentoMunicipio" ng-options="item as item.nome for item in cadastro.apoio.nascimentoMunicipioList | orderBy: ['-padrao','-capital','nome'] track by item.id">
                </select>
            </div>
            <div class="form-group col-md-3" ng-show="cadastro.registro.nascimentoPais.id && cadastro.registro.nascimentoPais.padrao === 'N'" ng-if="cadastro.registro.pessoaTipo==='PF'">
                <label class="radio-inline" for="naturalizado-1">
                    <input type="checkbox" name="naturalizado" id="naturalizado-1" ng-model="cadastro.registro.naturalizado">
                    Naturalizado?
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo==='PF'">
    <div class="form-group col-md-3">
        <label class="control-label">Gênero</label>
        <div ng-class="{'ng-invalid': frm.formulario.genero.$invalid}">
            <label class="radio-inline" for="genero-{{$index}}" ng-repeat="item in cadastro.apoio.generoList">
                <input type="radio" name="genero" id="genero-{{$index}}" value="{{item.codigo}}" ng-model="cadastro.registro.genero" ng-required="cadastro.registro.pessoaTipo === 'PF'">
                {{item.descricao}}
            </label>
        </div>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.genero.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div> 
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Escolaridade</label>
        <select class="form-control" ng-model="cadastro.registro.escolaridade" ng-options="item.codigo as item.descricao for item in cadastro.apoio.escolaridadeList">
            <option value="">-- Não informado --</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Profissão</label>
        <select class="form-control" ng-model="cadastro.registro.profissao.id" ng-options="item.id as item.nome for item in cadastro.apoio.profissaoList">
            <option value="">-- Não informado --</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Estado Civil</label>
        <select class="form-control" ng-model="cadastro.registro.estadoCivil" ng-options="item.codigo as item.descricao for item in cadastro.apoio.estadoCivilList">
            <option value="">-- Não informado --</option>
        </select>
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo === 'GS'">
    <div class="form-group col-md-3">
        <label class="control-label">Tipo de Grupo</label>
        <select class="form-control" id="grupoSocialTipo" name="grupoSocialTipo" ng-model="cadastro.registro.grupoSocialTipo" ng-options="item as item.nome for item in cadastro.apoio.grupoSocialTipoList | orderBy : 'nome' track by item.id" ng-disabled="cadastro.registro.id" ng-required="true">
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.grupoSocialTipo.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Escopo do Grupo</label>
        <select class="form-control" id="escopo" name="escopo" ng-model="cadastro.registro.escopo" ng-options="item.codigo as item.descricao for item in cadastro.apoio.grupoSocialEscopoList | orderBy : 'ordem'" ng-required="true">
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.escopo.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
</div>
<div class="row" ng-hide="cadastro.registro.pessoaTipo === 'GS'">
    <div class="form-group col-md-12">
        <label class="control-label">Endereço para Contato</label>
        <ng-include src="'pessoa/sub-endereco.html'" ng-controller="PessoaEnderecoCtrl" />
    </div>
</div>
<div class="row" ng-hide="cadastro.registro.pessoaTipo === 'GS'">
    <div class="form-group col-md-6">
        <label class="control-label">Telefone</label>
        <ng-include src="'pessoa/sub-telefone.html'" ng-controller="PessoaTelefoneCtrl" />
    </div>
    <div class="form-group col-md-6">
        <label class="control-label">E-mail</label>
        <ng-include src="'pessoa/sub-email.html'" ng-controller="PessoaEmailCtrl" />
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo !== 'GS'">
    <div class="form-group col-md-12">
        <label class="control-label">Relacionamentos</label>
        <ng-include src="'pessoa/sub-relacionamento.html'" ng-controller="PessoaRelacionamentoCtrl" />
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo==='PF'">
    <fieldset class="form-group col-md-8">
        <label class="control-label">RG - Registro Geral</label>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Número</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.rgNumero"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">Órg. Emis.</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.rgOrgaoEmissor"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">UF</label>
                <select class="form-control" ng-model="cadastro.registro.rgUf" 
                    ng-options="item.sigla as item.sigla for item in cadastro.apoio.estadoList | orderBy: ['-padrao','-capital','nome']">
                    <option value="">-- Não informado --</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="control-label">Data</label>
                <input class="form-control" type="text" id="rgDataEmissao" name="rgDataEmissao" ng-model="cadastro.registro.rgDataEmissao" ui-date-mask/>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.rgDataEmissao.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group col-md-4">
        <label class="control-label">NIS - Número de Identificação Social</label>
        <input class="form-control" type="text" ng-model="cadastro.registro.nisNumero"/>
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo==='PF'">
    <div class="form-group col-md-6" ng-show="cadastro.registro.colaborador">
        <label class="control-label">Certidão de Casamento</label>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Cartório</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.certidaoCasamentoCartorio"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">Folha</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.certidaoCasamentoFolha"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">Livro</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.certidaoCasamentoLivro"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">Regime</label>
                <select class="form-control" ng-model="cadastro.registro.certidaoCasamentoRegime" ng-options="item.codigo as item.descricao for item in cadastro.apoio.regimeCasamentoList">
                    <option value="">-- Não informado --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group col-md-6" ng-show="cadastro.registro.colaborador">
        <label class="control-label">Título de Eleitor</label>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Número</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.tituloNumero"/>
            </div>
            <div class="col-md-4">
                <label class="control-label">Seção</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.tituloSecao"/>
            </div>
            <div class="col-md-4">
                <label class="control-label">Zona</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.tituloZona"/>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo !== 'GS' && (!(cadastro.registro.pessoaTipo === 'PF' && cadastro.registro.publicoAlvoConfirmacao === 'N'))">
    <fieldset class="form-group col-md-6">
        <label class="control-label">Inscrição Estadual</label>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">UF</label>
                <select class="form-control" ng-model="cadastro.registro.inscricaoEstadualUf" 
                    ng-options="item.sigla as item.sigla for item in cadastro.apoio.estadoList | orderBy: ['-padrao','-capital','nome']">
                    <option value="">-- Não informado --</option>
                </select>
            </div>
            <div class="col-md-9" ng-if="cadastro.registro.inscricaoEstadualUf">
                <label class="control-label">Número</label>
                <input class="form-control" type="text" id="inscricaoEstadual" name="inscricaoEstadual" ng-model="cadastro.registro.inscricaoEstadual" ng-required="true" ui-br-ie-mask="cadastro.registro.inscricaoEstadualUf"/>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.inscricaoEstadual.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.inscricaoEstadual.$error.ie">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo==='PF'">
    <div class="form-group col-md-6" ng-show="cadastro.registro.colaborador">
        <label class="control-label">CNH - Carteira Nacional de Habilitação</label>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Categoria</label>
                <select class="form-control" ng-model="cadastro.registro.cnhCategoria" ng-options="item.codigo as item.descricao for item in cadastro.apoio.cnhCategoriaList">
                    <option value="">-- Não informado --</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="control-label">Número</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.cnhNumero"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">1º Habil.</label>
                <input class="form-control" type="text" id="" name="" ng-model="cadastro.registro.cnhPrimeiraHabilitacao" ui-date-mask/>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.cnhPrimeiraHabilitacao.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>
            </div>
            <div class="col-md-3">
                <label class="control-label">Validade</label>
                <input class="form-control" type="text" id="" name="" ng-model="cadastro.registro.cnhValidade" ui-date-mask/>
                <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.cnhValidade.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Valor Inválido!
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-6" ng-show="cadastro.registro.colaborador" ng-if="cadastro.registro.pessoaTipo==='PF'">
        <label class="control-label">CTPS - Cateira de Trabalho e Previdência Social</label>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Número</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.ctpsNumero"/>
            </div>
            <div class="col-md-6">
                <label class="control-label">Série</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.ctpsSerie"/>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="cadastro.registro.pessoaTipo==='PF'">
    <div class="form-group col-md-6" ng-show="cadastro.registro.colaborador">
        <label class="control-label">CAM - Certificado de Alistamento Militar</label>
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Número</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.camNumero"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">Órgão</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.camOrgao"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">Série</label>
                <input class="form-control" type="text" ng-model="cadastro.registro.camSerie"/>
            </div>
            <div class="col-md-3">
                <label class="control-label">Unid. Militar</label>
                <select class="form-control" ng-model="cadastro.registro.camUnidadeMilitar" ng-options="item.codigo as item.descricao for item in cadastro.apoio.camOrgaoList">
                    <option value="">-- Não informado --</option>
                </select>
            </div>
        </div>
    </div>
</div>