<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <div class="form-group" title="Nome da Propriedade" >
                    <label class="col-md-4 control-label" for="nomePropriedade">Nome da Propriedade</label> 
                    <div class="col-md-6">
                        <tags-input id="nomePropriedadeList" name="nomePropriedadeList" ng-model="cadastro.filtro.nomePropriedadeList" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.nomePropriedadeList.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group" title="Pessoa Vinculada" >
                    <label class="col-md-4 control-label" for="pessoaVinculada">Pessoa Vinculada</label> 
                    <div class="col-md-6">
                        <tags-input id="pessoaVinculadaList" name="pessoaVinculadaList" ng-model="cadastro.filtro.pessoaVinculadaList" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.pessoaVinculadaList.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="Pendência">
                    <label class="col-md-4 control-label" for="pendencia">Com pendências do tipo</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="pendencia-{{$index}}" ng-repeat="item in cadastro.apoio.pendenciaTipoList">
                            <input type="checkbox" name="pendencia" id="pendencia-{{$index}}" checklist-model="cadastro.filtro.pendencia" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.pendencia.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group" title="Chave Sisater">
                    <label class="col-md-4 control-label" for="nome">
                        Chave Sisater
                    </label>
                    <div class="col-md-6">
                        <tags-input id="chaveSisaterList" name="chaveSisaterList" ng-model="cadastro.filtro.chaveSisaterList" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.chaveSisaterList.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group" title="Unidade Organizacional/Comunidade">
                    <label class="col-md-4 control-label" for="unidadeOrganizacionalComunidade">
                        Unidade Organizacional/Comunidade
                    </label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="cadastro.apoio.localFiltro" placeholder="Filtrar por Comunidade">
                            <span class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="cadastro.apoio.localFiltro = limparRegistroSelecionado(cadastro.apoio.localList)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="row" style="height: 200px; overflow: scroll;">
                            <div ui-tree drag-enabled="false">
                                <ol ui-tree-nodes="" ng-model="cadastro.apoio.localList">
                                    <li ng-repeat="item in cadastro.apoio.localList | orderBy: 'nome' track by item.id" ui-tree-node>
                                        <div ui-tree-handle>
                                            <a class="btn btn-primary btn-xs Tooltip" data-nodrag data-ng-click="toggleChildren(this)" title="Expandir/Recolher">
                                                <span class="glyphicon glyphicon-chevron-right" data-ng-show="collapsed"></span>
                                                <span class="glyphicon glyphicon-chevron-down" data-ng-show="!collapsed"></span>
                                            </a>
                                            <label>
                                                <input type="checkbox" ng-model="item.selecionado" ng-true-value="true" ng-false-value="false" ng-if="!cadastro.apoio.unidadeOrganizacionalSomenteLeitura">
                                                {{item.nome}}
                                            </label>
                                        </div>
                                        <ol ui-tree-nodes="" ng-model="item.unidadeList" ng-class="{hidden: collapsed}">
                                            <li ng-repeat="subItem in item.unidadeList | unidadeOrganizacionalComunidadeFltr:cadastro.apoio.localFiltro | orderBy: ['nome'] track by subItem.id" ui-tree-node>
                                                <div ui-tree-handle>
                                                    <a class="btn btn-primary btn-xs Tooltip" data-nodrag data-ng-click="toggleChildren(this)" title="Expandir/Recolher">
                                                        <span class="glyphicon glyphicon-chevron-right" data-ng-show="collapsed"></span>
                                                        <span class="glyphicon glyphicon-chevron-down" data-ng-show="!collapsed"></span>
                                                    </a>
                                                    <label>
                                                        <input type="checkbox" ng-model="subItem.selecionado" ng-true-value="true" ng-false-value="false">
                                                        {{subItem.nome}}
                                                    </label>
                                                </div>
                                                <ol ui-tree-nodes="" ng-model="subItem.comunidadeList" ng-class="{hidden: collapsed}">
                                                    <li ng-repeat="subSubItem in subItem.comunidadeList | orderBy: 'nome' track by subSubItem.id" ui-tree-node ng-show="visible(subSubItem)">
                                                        <div ui-tree-handle>
                                                            <label>
                                                                <input type="checkbox" ng-model="subSubItem.selecionado" ng-true-value="true" ng-false-value="false">
                                                                {{subSubItem.nome}}
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.unidadeOrganizacionalComunidade.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="situacaoFundiaria">Situação Fundiária</label>
                    <div class="col-md-2">
                        <select id="situacaoFundiaria" name="situacaoFundiaria" class="form-control" ng-model="cadastro.filtro.situacaoFundiaria" ng-options="item.codigo as item.descricao for item in cadastro.apoio.situacaoFundiariaList">
                            <option value="">-- Ignorar --</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label" for="areaUtil">Área Útil</label>
                    <div class="col-md-2">
                        <select id="areaUtil" name="areaUtil" class="form-control" ng-model="cadastro.filtro.areaUtil" ng-options="item.codigo as item.descricao for item in cadastro.apoio.areaUtilList">
                            <option value="">-- Ignorar --</option>
                        </select>
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sistemaProducao">Sistema de Produção</label>
                    <div class="col-md-2">
                        <select id="sistemaProducao" name="sistemaProducao" class="form-control" ng-model="cadastro.filtro.sistemaProducao.id" ng-options="item.id as item.nome for item in cadastro.apoio.sistemaProducaoList">
                            <option value="">-- Ignorar --</option>
                        </select>
                    </div>
                </div>
                <!-- Multiple Checkboxes (inline) -->
                <div class="form-group" title="ATER">
                    <label class="col-md-4 control-label" for="outorga">Outorga</label>
                    <div class="col-md-6">
                        <label class="checkbox-inline" for="outorga-{{$index}}" ng-repeat="item in cadastro.apoio.confirmacaoList">
                            <input type="checkbox" name="outorga" id="outorga-{{$index}}" checklist-model="cadastro.filtro.outorga" checklist-value="item.codigo">
                            {{item.descricao}}
                        </label>
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.outorga.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>

                <div class="form-group" title="Mapa">
                    <label class="col-md-4 control-label" for="map">Mapa</label>
                    <div class="col-md-7">
                        <ui-gmap-google-map 
                            id="cadastro.apoio.filtro.map"
                            control="cadastro.apoio.filtro.map.controle"
                            center="{latitude: -15.732687616157767, longitude: -47.90378594955473}"
                            pan="cadastro.apoio.filtro.map.pan"
                            zoom="15"
                            refresh="cadastro.apoio.filtro.map.refresh"
                            options="cadastro.apoio.filtro.map.options"
                            events="cadastro.apoio.filtro.map.events"
                            bounds="cadastro.apoio.filtro.map.bounds"
                            draggable="true">

                            <ui-gmap-drawing-manager 
                                options="cadastro.apoio.filtro.drawingManager.opcoes"
                                control="cadastro.apoio.filtro.drawingManager.controle"
                                events="cadastro.apoio.filtro.drawingManager.eventos">
                            </ui-gmap-drawing-manager>

                            <ui-gmap-markers
                                idkey="'elementoId'" 
                                models="cadastro.apoio.filtro.map.markers" 
                                control="cadastro.apoio.filtro.marker.controle" 
                                coords="cadastro.apoio.filtro.marker.coords" 
                                options="cadastro.apoio.filtro.marker.opcoes" 
                                events="cadastro.apoio.filtro.marker.eventos">
                            </ui-gmap-markers>

                            <ui-gmap-polygons 
                                idkey="'elementoId'" 
                                models="cadastro.apoio.filtro.map.polys" 
                                control="cadastro.apoio.filtro.poly.controle" 
                                path="cadastro.apoio.filtro.poly.path" 
                                events="cadastro.apoio.filtro.poly.eventos">
                            </ui-gmap-polygons>

                            <ui-gmap-map-control template="filtro.control.tpl.html" position="bottom-center" index="-1" controller="MapaCtrl"></ui-gmap-map-control>

                            <ui-gmap-search-box template="cadastro.apoio.filtro.searchbox.template" events="cadastro.apoio.filtro.searchbox.eventos" position="'BOTTOM_LEFT'">Digite</ui-gmap-search-box>
                        </ui-gmap-google-map>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>