<div class="panel panel-default" ng-class="{'ng-invalid': indiceProducaoFrm.indiceProducaoList.$error.ngValorMin}">
    <div class="panel-heading container-fluid">
        <frz-navegador
            ng-model="indiceProducaoNvg" exibe-nome-botao="false"
            dados="cadastro.registro.indiceProducaoList"
            acoes-especiais="acoesEspeciais"
            on-abrir = "abrir()"
            on-agir = "agir()"
            on-editar = "editar()"
            on-especial = "especial()"
            on-excluir = "excluir()"
            on-filtrar = "filtrar()"
            on-incluir = "incluir()"
            on-listar = "listar()"
            on-navegar-primeiro = "navegarPrimeiro()"
            on-navegar-anterior = "navegarAnterior()"
            on-navegar-proximo = "navegarPosterior()"
            on-navegar-ultimo = "navegarUltimo()"
            on-proxima-pagina="proximaPagina()"
            on-ultima-pagina="ultimaPagina()"
            >
        </frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.indiceProducaoList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.indiceProducaoList.length > 0">
        <ng-form name="indiceProducaoFrm">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            <frz-seletor ng-model="indiceProducaoNvg"></frz-seletor>
                        </th>
                        <th width="30">
                            #
                        </th>
                        <th>Ano</th>
                        <th>Bem</th>
                        <th>Classificacao</th>
                        <th>Produtor</th>
                        <th><span class="sr-only">Ação</span></th>
                    </tr> 
                </thead>
                <tbody>
                    <tr ng-repeat-start="item in indiceProducaoNvg.dados | orderBy: [PRODUCAO_PUBLICO_ALVO_NOME] | orderBy: [PRODUCAO_PROPRIEDADE_RURAL_NOME] | orderBy: [PRODUCAO_COMUNIDADE_NOME] | pagina: indiceProducaoNvg.paginaAtual : indiceProducaoNvg.tamanhoPagina | limitTo: indiceProducaoNvg.tamanhoPagina" ng-click="indiceProducaoNvg.folhaAtual = $index + ((indiceProducaoNvg.paginaAtual-1) * indiceProducaoNvg.tamanhoPagina)"
                         title="Cadastrado por: {{item[PRODUCAO_INCLUSAO_NOME]}} em {{item[PRODUCAO_INCLUSAO_DATA] | date: 'dd/MM/yyyy'}}, alterado por: {{item[PRODUCAO_ALTERACAO_NOME]}} em {{item[PRODUCAO_ALTERACAO_DATA] | date: 'dd/MM/yyyy'}}">
                        <td width="30px" rowspan="2">
                            <input type="radio" ng-show="indiceProducaoNvg.selecao.tipo === 'U'" ng-model="indiceProducaoNvg.selecao.item" ng-value="item"/>
                            <input type="checkbox" ng-show="indiceProducaoNvg.selecao.tipo === 'M'" checklist-model="indiceProducaoNvg.selecao.items" checklist-value="item" ng-click="crudMataClick(scp, $event);"/>
                        </td>
                        <td rowspan="2">
                            {{$index + 1 + ((indiceProducaoNvg.paginaAtual-1) * indiceProducaoNvg.tamanhoPagina)}}
                        </td>
                        <td>{{item[PRODUCAO_ANO]}}</td>
                        <td>{{item[PRODUCAO_BEM_NOME]}}</td>
                        <td>{{item[PRODUCAO_BEM_CLASSIFICACAO]}}</td>
                        <td>
                            <a ng-click="modalVerPessoa(item[PRODUCAO_PUBLICO_ALVO_PESSOA_ID])">{{item[PRODUCAO_PUBLICO_ALVO_NOME]}}</a>
                        </td>
                        <td><button class="btn btn-primary btn-sm sr-only">Confirmar</button></td>
                    </tr>
                    <tr ng-repeat-end  title="Cadastrado por: {{item[PRODUCAO_INCLUSAO_NOME]}} em {{item[PRODUCAO_INCLUSAO_DATA] | date: 'dd/MM/yyyy'}}, alterado por: {{item[PRODUCAO_ALTERACAO_NOME]}} em {{item[PRODUCAO_ALTERACAO_DATA] | date: 'dd/MM/yyyy'}}">
                        <td colspan="4">
                            <table class="table table-hover table-striped table-condensed" style="font-size: 12px;">
                                <thead>
                                    <tr>
                                        <th colspan="{{item[PRODUCAO_FORMA_LIST][0][FORMA_COMPOSICAO_LIST].length}}"><span>Forma de Producao</span></th>
                                        <th>A</th>
                                        <th>B</th>
                                        <th>C</th>
                                        <th>Volume</th>
                                        <th rowspan="2">Valor Unitário</th>
                                        <th rowspan="2">Valor Total</th>
                                        <th rowspan="2">Data de Confirmação</th>
                                    </tr> 
                                    <tr>
                                        <th ng-repeat="composicao in item[PRODUCAO_FORMA_LIST][0][FORMA_COMPOSICAO_LIST]">
                                            <span>{{composicao[COMPOSICAO_FORMA_PRODUCAO_VALOR_ITEM_NOME]}}</span>
                                        </th>
                                        <th><small ng-if="item[PRODUCAO_NOME_ITEM_A]">({{item[PRODUCAO_NOME_ITEM_A]}})</small></th>
                                        <th><small ng-if="item[PRODUCAO_NOME_ITEM_B]">({{item[PRODUCAO_NOME_ITEM_B]}})</small></th>
                                        <th><small ng-if="item[PRODUCAO_NOME_ITEM_C]">({{item[PRODUCAO_NOME_ITEM_C]}})</small></th>
                                        <th><small ng-if="item[PRODUCAO_FORMULA]">({{item[PRODUCAO_FORMULA]}})</small></th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr ng-repeat="forma in item[PRODUCAO_FORMA_LIST] | limitTo: item[PRODUCAO_FORMA_LIST].length - 2" ng-class="{danger: (!forma[FORMA_DATA_CONFIRMACAO])}" title="Cadastrado por: {{forma[FORMA_INCLUSAO_NOME]}} em {{forma[FORMA_INCLUSAO_DATA] | date: 'dd/MM/yyyy'}}, alterado por: {{forma[FORMA_ALTERACAO_NOME]}} em {{forma[FORMA_ALTERACAO_DATA] | date: 'dd/MM/yyyy'}}">
                                        <td ng-repeat="composicao in forma[FORMA_COMPOSICAO_LIST]">
                                            {{composicao[COMPOSICAO_FORMA_PRODUCAO_VALOR_NOME]}}
                                        </td>
                                        <td class="text-right">{{forma[FORMA_VALOR_ITEM_A] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VALOR_ITEM_B] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VALOR_ITEM_C] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VOLUME] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VLR_UNIT] | currency}}</td>
                                        <td class="text-right">{{forma[FORMA_VLR_TOTAL] | currency}}</td>
                                        <td>{{forma[FORMA_DATA_CONFIRMACAO] | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr ng-repeat="forma in item[PRODUCAO_FORMA_LIST] | limitTo: -2">
                                        <td class="text-right" colspan="{{item[PRODUCAO_FORMA_LIST][0][FORMA_COMPOSICAO_LIST].length}}">Total {{forma[FORMA_NOME_CALCULO]}}</td>
                                        <td class="text-right">{{forma[FORMA_VALOR_ITEM_A] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VALOR_ITEM_B] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VALOR_ITEM_C] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VOLUME] | number: globalFracaoHectares}}</td>
                                        <td class="text-right">{{forma[FORMA_VLR_UNIT] | currency}}</td>
                                        <td class="text-right">{{forma[FORMA_VLR_TOTAL] | currency}}</td>
                                        <td>--</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                    </tr> 
                </tfoot>
            </table>
            <input type="hidden" id="indiceProducaoList" name="indiceProducaoList" ng-model="cadastro.registro.indiceProducaoList.length">

        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
    <div class="label label-danger" ng-show="indiceProducaoNvg.submetido && indiceProducaoFrm.indiceProducaoList.$error.ngValorMin">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Campo Obrigatório
    </div>
</div>