
<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="publicoAlvoPropriedadeRuralNvg" exibe-nome-botao="false"
        dados="cadastro.registro.publicoAlvoPropriedadeRuralList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.publicoAlvoPropriedadeRuralList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.publicoAlvoPropriedadeRuralList.length > 0">
        <ng-form name="publicoAlvoPropriedadeRuralListFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><frz-seletor ng-model="publicoAlvoPropriedadeRuralNvg" dados="cadastro.registro.publicoAlvoPropriedadeRuralList"></frz-seletor></th>
                        <th>#</th>
                        <th>Beneficiário</th>
                        <th>Exploração</th>
                        <th>Área (ha)</th>
                        <th>Início</th>
                        <th>Término</th>
                        <th>Mapa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reg in cadastro.registro.publicoAlvoPropriedadeRuralList | filter: {cadastroAcao: '!E'}">
                        <td>
                            <input type="radio" ng-show="publicoAlvoPropriedadeRuralNvg.selecao.tipo === 'U'" ng-model="publicoAlvoPropriedadeRuralNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="publicoAlvoPropriedadeRuralNvg.selecao.tipo === 'M'" checklist-model="publicoAlvoPropriedadeRuralNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td>
                            {{$index + 1 + ((publicoAlvoPropriedadeRuralNvg.paginaAtual-1) * publicoAlvoPropriedadeRuralNvg.tamanhoPagina)}}
                        </td>
                        <td><a ng-click="modalVerPessoa(publicoAlvo.pessoa.id)">{{reg.publicoAlvo.pessoa.nome}}</a></td>
                        <td>
                            <select class="form-control input-sm" id="vinculo" name="vinculo{{$index}}" ng-model="reg.vinculo" ng-options="item.codigo as item.descricao for item in scp.cadastro.apoio.propriedadeRuralVinculoTipoList" ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && publicoAlvoPropriedadeRuralListFrm.vinculo{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="area" name="area{{$index}}" ng-model="reg.area" ng-required="['PR', 'PA'].indexOf(reg.vinculo) >= 0"  ui-number-mask="globalFracaoHectares">
                            <div class="label label-danger" ng-show="navegador.submetido && publicoAlvoPropriedadeRuralListFrm.area{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="inicio" name="inicio{{$index}}" ng-model="reg.inicio" ui-date-mask>
                            <div class="label label-danger" ng-show="navegador.submetido && publicoAlvoPropriedadeRuralListFrm.inicio{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="termino" name="termino{{$index}}" ng-model="reg.termino" ui-date-mask>
                            <div class="label label-danger" ng-show="navegador.submetido && publicoAlvoPropriedadeRuralListFrm.termino{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <button id="exibeMapa" name="exibeMapa" class="btn btn-primary" ng-click="exibeMapa()">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
</div>