<div class="row">
    <div class="form-group col-md-2">
        <label class="control-label">Identificação</label>
        <button id="identificacao" name="identificacao" class="btn btn-primary" ng-click="identificacaoModalAbrir()">Identificação</button>
    </div>
    <div class="form-group col-md-2">
        <label class="control-label sr-only">Código</label>
        <input class="form-control input-md sr-only" id="codigoPropriedade" name="codigoPropriedade" ng-readonly="true" ng-model="cadastro.registro.codigoPropriedade">
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.codigoPropriedade.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-4">
        <label class="control-label">Comunidade</label>
        <select class="form-control" id="comunidade" name="comunidade" ng-model="cadastro.registro.comunidade" ng-options="item as item.nome group by item.unidadeOrganizacional.nome for item in cadastro.apoio.comunidadeList | orderBy: ['unidadeOrganizacional.nome', 'nome'] track by item.id" ng-required="true">
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.comunidade.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-4">
        <label class="control-label">Bacia Hidrográfica</label>
        <select class="form-control" id="baciaHidrografica" name="baciaHidrografica" ng-model="cadastro.registro.baciaHidrografica" ng-options="item as item.nome for item in cadastro.apoio.baciaHidrograficaList | orderBy: ['nome'] track by item.id" ng-required="true">
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.baciaHidrografica.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-4">
        <div class="row">            
            <label class="control-label">Endereço</label>
            <textarea class="form-control input-md" id="enderecoResumo" name="enderecoResumo" ng-model="cadastro.apoio.enderecoResumo" ng-readonly="true" rows="8" required="true"></textarea>
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.enderecoResumo.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
        <div class="row">
            <label class="control-label">Roteiro de Acesso</label>
            <textarea class="form-control input-md" id="roteiroAcesso" name="roteiroAcesso" ng-model="cadastro.registro.roteiroAcesso" rows="8"></textarea>
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.roteiroAcesso.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="form-group col-md-8">
        <label class="control-label">Mapa</label>
        <ui-gmap-google-map 
            id="cadastro.apoio.form.map"
            control="cadastro.apoio.form.map.controle"
            center="cadastro.apoio.form.map.center"
            pan="cadastro.apoio.form.map.pan"
            zoom="cadastro.apoio.form.map.zoom"
            refresh="cadastro.apoio.form.map.refresh"
            options="cadastro.apoio.form.map.options"
            events="cadastro.apoio.form.map.events"
            bounds="cadastro.apoio.form.map.bounds"
            draggable="true">

            <ui-gmap-drawing-manager 
                options="cadastro.apoio.form.drawingManager.opcoes"
                control="cadastro.apoio.form.drawingManager.controle"
                events="cadastro.apoio.form.drawingManager.eventos">
            </ui-gmap-drawing-manager>

            <ui-gmap-markers
                idkey="'elementoId'" 
                models="cadastro.apoio.form.map.markers" 
                control="cadastro.apoio.form.marker.controle" 
                coords="cadastro.apoio.form.marker.coords" 
                options="cadastro.apoio.form.marker.opcoes" 
                events="cadastro.apoio.form.marker.eventos">
            </ui-gmap-markers>

            <ui-gmap-polygons 
                idkey="'elementoId'" 
                models="cadastro.apoio.form.map.polys" 
                control="cadastro.apoio.form.poly.controle" 
                path="cadastro.apoio.form.poly.path" 
                events="cadastro.apoio.form.poly.eventos">
            </ui-gmap-polygons>

            <ui-gmap-map-control template="form.control.tpl.html" position="bottom-center" index="-1" controller="MapaCtrl"></ui-gmap-map-control>

            <ui-gmap-search-box template="cadastro.apoio.form.searchbox.template" events="cadastro.apoio.form.searchbox.eventos" position="'BOTTOM_LEFT'">Digite</ui-gmap-search-box>
        </ui-gmap-google-map>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-5">
        <label class="control-label">Situação Fundiária</label>
        <select class="form-control" id="situacaoFundiaria" name="situacaoFundiaria" ng-model="cadastro.registro.situacaoFundiaria" ng-options="item.codigo as item.descricao for item in cadastro.apoio.situacaoFundiariaList">
            <option value="">-- Não informado --</option>
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.situacaoFundiaria.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">Área Total</label>
        <input class="form-control input-md" id="areaTotal" name="areaTotal" ng-model="cadastro.registro.areaTotal" ui-number-mask="globalFracaoHectares">
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.areaTotal.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-5">
        <label class="control-label">Sistema de Produção</label>
        <select class="form-control" id="sistemaProducao" name="sistemaProducao" ng-model="cadastro.registro.sistemaProducao.id" ng-options="item.id as item.nome for item in cadastro.apoio.sistemaProducaoList">
            <option value="">-- Não informado --</option>
        </select>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.sistemaProducao.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label">Reg. Núm., Lv, Fl, Matrícula</label>
        <input class="form-control input-md" id="numeroRegistro" name="numeroRegistro" ng-model="cadastro.registro.numeroRegistro">
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.numeroRegistro.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Outorga</label>
        <label class="checkbox-inline" for="outorga">
            <input type="checkbox" name="outorga" id="outorga" ng-model="cadastro.registro.outorga" ng-true-value="'S'" ng-false-value="'N'">
            Ativo
        </label>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.outorga.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Data de Validade</label>
        <input class="form-control input-md" id="outorgaValidade" name="outorgaValidade" ng-model="cadastro.registro.outorgaValidade" ui-date-mask>
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.outorgaValidade.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Nº da Outorga</label>
        <input class="form-control input-md" id="outorgaNumero" name="outorgaNumero" ng-model="cadastro.registro.outorgaNumero">
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.outorgaNumero.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label class="control-label">Principais Atividades Produtivas</label>
        <input class="form-control input-md" id="principaisAtividadesProdutivas" name="principaisAtividadesProdutivas" ng-model="cadastro.registro.principaisAtividadesProdutivas">
        <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.principaisAtividadesProdutivas.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Campo Obrigatório
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-2" ng-class="{'ng-invalid': frm.formulario.propriedadeRuralFormaUtilizacaoEspacoRuralListTotal.$error.ngValorMin}">
        <label class="control-label">Forma Utilização Espaço Rural</label>
        <div class="pre-scrollable">
            <div class="checkbox" ng-repeat="item in cadastro.apoio.formaUtilizacaoEspacoRuralList | orderBy: ['formaUtilizacaoEspacoRural.nome']">
                <label for="propriedadeRuralFormaUtilizacaoEspacoRuralList{{$index}}">
                    <input type="checkbox" name="propriedadeRuralFormaUtilizacaoEspacoRuralList" id="propriedadeRuralFormaUtilizacaoEspacoRuralList{{$index}}" checklist-model="cadastro.registro.formaUtilizacaoEspacoRuralList" checklist-value="item">
                    {{item.formaUtilizacaoEspacoRural.nome}}
                </label>
            </div>
            <input type="hidden" id="propriedadeRuralFormaUtilizacaoEspacoRuralListTotal" name="propriedadeRuralFormaUtilizacaoEspacoRuralListTotal" ng-model="cadastro.registro.formaUtilizacaoEspacoRuralList.length">
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.propriedadeRuralFormaUtilizacaoEspacoRuralListTotal.$error.ngValorMin">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="form-group col-md-10">
        <label class="control-label">Beneficiários Vinculados</label>
        <ng-include src="'propriedade-rural/sub-propriedade-rural-publico-alvo.html'" ng-controller="PropriedadeRuralPublicoAlvoCtrl" />
    </div>
</div>