
<div class="panel-body">

  <div class="row">

      <div class="col-md-4" >
          <label class="control-label" for="data">Data da Coleta</label><BR>
          <input id="data" name="data" type="text" class="form-control input-md text-right" ng-model="DiagnosticoNvg.selecao.item.data" ui-date-mask="dd/MM/yyyy">
      </div>
      <div class="col-md-4" >
          <label class="control-label" for="nome">Nome da Coleda</label><BR>
          <input id="nome" name="nome" type="text" class="form-control input-md text-right" ng-model="DiagnosticoNvg.selecao.item.moraFamilia" ui-number-mask="globalFracaoSem" >
      </div>
        <div class="col-md-4" >
        <label class="control-label" for="situacao">Situação</label><br>
        <select id="situacao" name="situacao" class="form-control"  ng-model="DiagnosticoNvg.selecao.item.situacao.codigo" >
            <option value="1">Em Aberto</option>
            <option value="2">Fechado</option>
            <option value="3">Em Análise</option>
        </select>

  </div>    

  <div class="row">

    <div class="col-md-4" >
        <label class="control-label" for="responsavel">Responsável</label><br>
        <select id="responsavel" name="responsavel" class="form-control"  ng-model="DiagnosticoNvg.selecao.item.responsavel.codigo" >
            <option value="111">José das Couves</option>
            <option value="154">Fulano de Tal</option>
            <option value="199">Jõao do Feijão</option>
            <option value="222">Beltrano de Tal</option>
        </select>
    </div>

    <div class="col-md-4" >
        <label class="control-label" for="versao">Responsável</label><br>
        <select id="versao" name="versao" class="form-control"  ng-model="DiagnosticoNvg.selecao.item.versao.codigo" >
            <option value="1">Versão 1.01</option>
            <option value="2">Versão 1.02</option>
            <option value="3">Versão 1.03</option>
            <option value="5">Versão 1.04</option>
        </select>
    </div>

</div>
