<div class="caixa-login de-vidro margem-superior centralizado">
	<div class="form-group">
		<div class="pull-center centralizado">
			<img src="img/logo-transparente-pequeno.png" width="100%" />
		</div>
	</div>
	<form class="form-horizontal" novalidate name="$parent.loginForm" ng-submit="submitForm()">
		<fieldset>

			<!-- Form Name -->
			<legend>Login</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-sm-4 control-label" for="username" title="Nome do Usuário do Sistema" accesskey="U"><u>U</u>suário *</label>
				<div class="col-sm-8">
					<input id="username" name="username" type="text" placeholder="Nome do Usuário" class="form-control input-md" autofocus ng-model="cadastro.registro.username" required="true" list="browsers">
					<datalist id="browsers">
						<option value="Internet Explorer">
						<option value="Firefox">
						<option value="Chrome">
						<option value="Opera">
						<option value="Safari">
					</datalist>					
					<div ng-show="($parent.loginForm.username.$dirty || submitted) && $parent.loginForm.username.$invalid">
						<div class="label label-danger" ng-show="$parent.loginForm.username.$error.required">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Campo Obrigatório
						</div>
					</div>
				</div>
			</div>

			<!-- Password input-->
			<div class="form-group">
				<label class="col-sm-4 control-label" for="password" title="Senha de Acesso ao Sistema" accesskey="S"><u>S</u>enha *</label>
				<div class="col-sm-8">
					<input id="password" name="password" type="password" placeholder="Senha de Acesso" class="form-control input-md" ng-model="cadastro.registro.password" required="true">
					<div ng-show="($parent.loginForm.password.$dirty || submitted) && $parent.loginForm.password.$invalid">
						<div class="label label-danger" ng-show="$parent.loginForm.password.$error.required">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Campo Obrigatório
						</div>
					</div>
				</div>
			</div>

			<!-- Select Basic -->
			<div class="form-group sr-only">
				<label class="col-sm-4 control-label" for="modulo" title="Módulo do Sistema" accesskey="M"><u>M</u>ódulo *</label>
				<div class="col-sm-8">
					<select id="modulo" name="modulo" class="form-control" ng-model="cadastro.registro.modulo" ng-options="item as item.nome for item in cadastro.apoio.moduloList | orderBy: ['nome'] track by item.id">
					</select>
					<div ng-show="($parent.loginForm.modulo.$dirty || submitted) && $parent.loginForm.modulo.$invalid">
						<div class="label label-danger" ng-show="$parent.loginForm.modulo.$error.required">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Campo Obrigatório
						</div>
					</div>
				</div>
			</div>

			<!-- Multiple Checkboxes (inline) -->
			<div class="form-group sr-only">
				<label class="col-sm-4 control-label" for="administrador" accesskey="A"></label>
				<div class="col-sm-8">
					<label class="checkbox-inline" for="administrador" title="Solicitar Perfil de Administrador do Sistema">
						<input type="checkbox" name="administrador" id="administrador" ng-true-value="'S'" ng-false-value="'N'" ng-model="cadastro.registro.administrador">
						<u>A</u>dministrador
					</label>
				</div>
			</div>

			<!-- Button (Double) -->
			<div class="form-group">
				<div class="col-md-12 col-sm-12 col-xs-12 text-right">
					<button type="submit" class="btn btn-primary hidden-xs" id="ok" name="ok" accesskey="O" title="Executar a ação deste formulário"><u>O</u>K</button>
					<button type="button" class="btn btn-warning hidden-xs" id="reiniciar" name="reiniciar" ng-click="reiniciar();" accesskey="R" title="Reiniciar os dados deste formulário"><u>R</u>einiciar</button>
					<button type="button" class="btn btn-danger  hidden-xs" id="cancelar" name="cancelar" accesskey="C" title="Cancelar a ação deste formulário" ng-click="fechar();"><u>C</u>ancelar</button>

					<button type="submit" class="btn btn-primary btn-block hidden-sm hidden-md hidden-lg" id="ok" name="ok" accesskey="O" title="Executar a ação deste formulário"><u>O</u>K</button>
					<button type="button" class="btn btn-warning btn-block hidden-sm hidden-md hidden-lg" id="reiniciar" name="reiniciar" ng-click="reiniciar();" accesskey="R" title="Reiniciar os dados deste formulário"><u>R</u>einiciar</button>
					<button type="button" class="btn btn-danger  btn-block hidden-sm hidden-md hidden-lg" id="cancelar" name="cancelar" accesskey="C" title="Cancelar a ação deste formulário" ng-click="fechar();"><u>C</u>ancelar</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12 text-center">
					<a id="esqueciMinhaSenha" href="" ng-click="esqueciMinhaSenha();" accesskey="E" title="Recuperar o seu acesso ao sistema"><u>E</u>squeci Minha Senha</a>
				</div>
			</div>

		</fieldset>
	</form>
</div>