<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <div class="form-group" title="Nome do Usuário">
                    <label class="col-md-4 control-label" for="usuario">
                        Nome do Usuário
                    </label>
                    <div class="col-md-6">
                        <tags-input id="usuario" name="usuario" ng-model="cadastro.filtro.usuario" placeholder="Digite o nome, ou parte dele, e tecle enter" replace-spaces-with-dashes="false" min-length="1"></tags-input>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.usuario.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Início do Log no Sistema">
                    <label class="col-md-4 control-label" for="inicio">
                        Início do Log
                    </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="inicio" name="inicio" ng-model="cadastro.filtro.inicio" ui-date-mask ng-required="true">
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.inicio.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.inicio.$error.date">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Data Inválida!
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Término do Log no Sistema">
                    <label class="col-md-4 control-label" for="termino">
                        Término do Log
                    </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="termino" name="termino" ng-model="cadastro.filtro.termino" ui-date-mask ng-required="true">
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.termino.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.termino.$error.date">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Data Inválida!
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>