<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="funcionalidadeModuloNvg" exibe-nome-botao="false"
        dados="cadastro.apoio.moduloList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.apoio.moduloList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.apoio.moduloList.length > 0">
        <ng-form name="moduloListFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><frz-seletor ng-model="funcionalidadeModuloNvg" dados="cadastro.apoio.moduloList"></frz-seletor></th>
                        <th>#</th>
                        <th>Pertence</th>
                        <th>Módulo</th>
                        <th>Código</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reg in cadastro.apoio.moduloList | filter: {cadastroAcao: '!E'} | pagina: funcionalidadeModuloNvg.paginaAtual : funcionalidadeModuloNvg.tamanhoPagina | limitTo: funcionalidadeModuloNvg.tamanhoPagina | orderBy: ['modulo.nome']">
                        <td>
                            <input type="radio" ng-show="funcionalidadeModuloNvg.selecao.tipo === 'U'" ng-model="funcionalidadeModuloNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="funcionalidadeModuloNvg.selecao.tipo === 'M'" checklist-model="funcionalidadeModuloNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td>
                            {{$index + 1 + ((funcionalidadeModuloNvg.paginaAtual-1) * funcionalidadeModuloNvg.tamanhoPagina)}}
                        </td>
                        <td>
                            <input type="checkbox" checklist-model="cadastro.registro.moduloList" checklist-value="reg"></input>
                        </td>
                        <td>
                            {{reg.modulo.nome}}
                        </td>
                        <td>
                            {{reg.modulo.codigo}}
                        </td>
                        <td>
                            {{reg.modulo.ativo === 'S' ? 'Sim': 'Não'}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
</div>