<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form class="form-horizontal" name="frm.filtro" novalidate>
            <fieldset>
                <legend>Dados Básicos</legend>
                <div class="form-group" title="Período">
                    <label class="col-md-4 control-label" for="inicio">
                        Período entre
                    </label>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inicio" name="inicio" ng-model="cadastro.filtro.inicio" ui-date-mask ng-required="true">
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.inicio.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.inicio.$error.date">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Data Inválida!
                                </div>
                            </div>
                            <label class="col-md-2">
                                e 
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="termino" name="termino" ng-model="cadastro.filtro.termino" ui-date-mask ng-required="true">
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.termino.$error.required">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Campo Obrigatório
                                </div>
                                <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.termino.$error.date">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Data Inválida!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Unidade Organizacional/Colaborador -->
                <div class="form-group" title="Unidade Organizacional/Colaborador">
                    <label class="col-md-4 control-label" for="unidadeOrganizacionalColaborador">
                        Unidade Organizacional/Colaborador
                    </label>
                   <div class="col-md-7">
                        <frz-unidade-colaborador id="unidadeOrganizacionalColaborador" name="unidadeOrganizacionalColaborador" dados="cadastro.apoio.colaboradorList" ng-model="cadastro.filtro.pessoaIdList">
                        </frz-unidade-colaborador>
                        <input type="hidden" id="unidadeOrganizacionalColaboradorTotal" name="unidadeOrganizacionalColaboradorTotal" ng-model="cadastro.apoio.colaboradorList.length" ng-valor-min="0">
                    </div>
                    <div class="label label-danger" ng-show="navegador.submetido && (frm.filtro.unidadeOrganizacionalColaboradorTotal.$error.required || frm.filtro.unidadeOrganizacionalColaboradorTotal.$error.ngValorMin)">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Campo Obrigatório
                    </div>
                </div>
                <div class="form-group" title="Método">
                    <label class="col-md-4 control-label" for="metodo">
                        Método
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" id="metodo" name="metodo" ng-model="cadastro.filtro.metodo.id" ng-options="item.id as item.nome for item in cadastro.apoio.metodoList track by item.id">
                            <option value="">-- Ignorar --</option>
                        </select>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.metodo.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group" title="Assunto">
                    <label class="col-md-4 control-label" for="assunto">
                        Assunto
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" id="assunto" name="assunto" ng-model="cadastro.filtro.assunto.id" ng-options="item.id as item.nome for item in cadastro.apoio.assuntoList track by item.id">
                            <option value="">-- Ignorar --</option>
                        </select>
                        <div class="label label-danger" ng-show="navegador.submetido && frm.filtro.assunto.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Campo Obrigatório
                        </div>
                    </div>
                </div>                
            </fieldset>
        </form>
    </div>
</div>
