<div class="panel panel-default">
  <div class="panel-heading container-fluid">
    <frz-navegador ng-model="subVinculadoNvg" 
      exibe-nome-botao = "false"
      on-abrir = "abrir()"
      on-agir = "agir()"
      on-ajudar = "ajudar()"
      on-alterar-tamanho-pagina = "alterarTamanhoPagina()"
      on-cancelar = "cancelar()"
      on-cancelar-editar = "cancelarEditar()"
      on-cancelar-excluir = "cancelarExcluir()"
      on-cancelar-filtrar = "cancelarFiltrar()"
      on-cancelar-incluir = "cancelarIncluir()"
      on-confirmar = "confirmar()"
      on-confirmar-editar = "confirmarEditar()"
      on-confirmar-excluir = "confirmarExcluir()"
      on-confirmar-filtrar = "confirmarFiltrar()"
      on-confirmar-incluir = "confirmarIncluir()"
      on-editar = "editar()"
      on-excluir = "excluir()"
      on-filtrar = "filtrar()"
      on-folhear-anterior = "folhearAnterior()"
      on-folhear-primeiro = "folhearPrimeiro()"
      on-folhear-proximo = "folhearProximo()"
      on-folhear-ultimo = "folhearUltimo()"
      on-incluir = "incluir()"
      on-informacao = "informacao()"
      on-limpar = "limpar()"
      on-paginar-anterior = "paginarAnterior()"
      on-paginar-primeiro = "paginarPrimeiro()"
      on-paginar-proximo = "paginarProximo()"
      on-paginar-ultimo = "paginarUltimo()"
      on-restaurar = "restaurar()"
      on-visualizar = "visualizar()"
      on-voltar = "voltar()"
      on-tem-mais-registros = "temMaisRegistros()">
    </frz-navegador>
  </div>
  <div class="painel-body"  ng-if="!subVinculadoNvg.dados.length">
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Nenhum registro localizado!
    </div>
  </div>
  <div class="table-responsible" ng-if="subVinculadoNvg.dados.length">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><frz-seletor ng-model="subVinculadoNvg"></frz-seletor></th>
          <th width="30">#</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Exploração</th>
          <th>Hectares (ha)</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in subVinculadoNvg.dados | orderBy: 'nome' | pagina: subVinculadoNvg.paginaAtual : subVinculadoNvg.tamanhoPagina | limitTo: subVinculadoNvg.tamanhoPagina" ng-click="seleciona(item); subVinculadoNvg.folhaAtual = $index + ((subVinculadoNvg.paginaAtual-1) * subVinculadoNvg.tamanhoPagina)" ng-form name="documentoFrm">
          <td width="30px">
            <input type="radio" ng-show="subVinculadoNvg.selecao.tipo === 'U'" ng-model="subVinculadoNvg.selecao.item" ng-value="item"/>
            <input type="checkbox" ng-show="subVinculadoNvg.selecao.tipo === 'M'" checklist-model="subVinculadoNvg.selecao.items" checklist-value="item" ng-click="mataClick($event);"/>
          </td>
          <td>
            {{$index + 1 + ((subVinculadoNvg.paginaAtual-1) * subVinculadoNvg.tamanhoPagina)}}
          </td>
          <td class="col-xs-3">{{item.nome}}</td>
          <td class="col-xs-2">{{item.cpf}}</td>
          <td>
            <div  >
                <select id="tpExploracao" name="tpExploracao" class="form-control" ng-model="item.tpExploracao">
                    <option value="A">Arrendado</option>
                    <option value="P">Parceria</option>
                    <option value="R">Própri</option>
                </select>
            </div>
          </td>
          <td>
            <div class="col-xs-4" >
              <input id="ha{{$index}}" name="ha{{$index}}" type="text" class="form-control input-md text-right" ng-model="item.ha" ui-number-mask="globalFracaoHectares" >
            </div>
          </td>
          <td >
              <div > 
                  <label class="checkbox-inline" for="ativo" >
                      <input type="checkbox" name="ativo" id="ativo" ng-model="item.situacao" ng-true-value="'S'"  ng-false-value="'N'">Ativo
                  </label>
              </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <div class="panel-footer">
  </div>
</div>

<script type="text/ng-template" id="vinculadoFrm.html">
  <div class="modal-header">
    <h3 class="modal-title">Upload de Arquivos</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <frz-arquivo ng-model="teste"></frz-arquivo>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalOk()" ng-show="$flow.files.length">OK</button>
    <button class="btn btn-warning" ng-click="modalCancel()">Cancelar</button>
  </div>
</script>
