
<div class="panel panel-default">
  <div class="panel-heading container-fluid">
    <frz-navegador ng-model="DiagnosticoBenfeitoriaNvg" 
      exibe-nome-botao = "false"
      on-abrir = "abrir()"
      on-agir = "agir()"
      on-ajudar = "ajudar()"
      on-alterar-tamanho-pagina = "alterarTamanhoPagina()"
      on-cancelar = "cancelar()"
      on-cancelar-editar = "cancelarEditar()"
      on-cancelar-excluir = "cancelarExcluir()"
      on-cancelar-filtrar = "cancelarFiltrar()"
      on-cancelar-incluir = "cancelarIncluir()"
      on-confirmar = "confirmar()"
      on-confirmar-editar = "confirmarEditar()"
      on-confirmar-excluir = "confirmarExcluir()"
      on-confirmar-filtrar = "confirmarFiltrar()"
      on-confirmar-incluir = "confirmarIncluir()"
      on-editar = "editar()"
      on-excluir = "excluir()"
      on-filtrar = "filtrar()"
      on-folhear-anterior = "folhearAnterior()"
      on-folhear-primeiro = "folhearPrimeiro()"
      on-folhear-proximo = "folhearProximo()"
      on-folhear-ultimo = "folhearUltimo()"
      on-incluir = "incluir()"
      on-informacao = "informacao()"
      on-limpar = "limpar()"
      on-paginar-anterior = "paginarAnterior()"
      on-paginar-primeiro = "paginarPrimeiro()"
      on-paginar-proximo = "paginarProximo()"
      on-paginar-ultimo = "paginarUltimo()"
      on-restaurar = "restaurar()"
      on-visualizar = "visualizar()"
      on-voltar = "voltar()"
      on-tem-mais-registros = "temMaisRegistros()">
    </frz-navegador>
  </div>

  <div class="painel-body"  ng-if="!DiagnosticoBenfeitoriaNvg.dados.length">
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Nenhum registro localizado!
    </div>
  </div>
  <div class="table-responsible" ng-if="DiagnosticoBenfeitoriaNvg.dados.length">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><frz-seletor ng-show="false" ng-model="DiagnosticoBenfeitoriaNvg"></frz-seletor></th>        
          <th>Especificação</th>
          <th>Característica</th>
          <th>Unidade</th>
          <th>Quantidade</th>
          <th>Valor Unitário</th>
          <th>Valor Total</th>
          <th>Dt. Última Atualização</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in DiagnosticoBenfeitoriaNvg.dados | orderBy: 'nome' | pagina: DiagnosticoBenfeitoriaNvg.paginaAtual : DiagnosticoBenfeitoriaNvg.tamanhoPagina | limitTo: DiagnosticoBenfeitoriaNvg.tamanhoPagina" ng-click="seleciona(DiagnosticoBenfeitoriaNvg, item); DiagnosticoBenfeitoriaNvg.folhaAtual = $index + ((DiagnosticoBenfeitoriaNvg.paginaAtual-1) * DiagnosticoBenfeitoriaNvg.tamanhoPagina)" ng-form name="documentoFrm">
          <td width="30px">
            <input type="radio" ng-show="DiagnosticoBenfeitoriaNvg.selecao.tipo === 'U'" ng-model="DiagnosticoBenfeitoriaNvg.selecao.item" ng-value="item"/>
            <input type="checkbox" ng-show="DiagnosticoBenfeitoriaNvg.selecao.tipo === 'M'" checklist-model="DiagnosticoBenfeitoriaNvg.selecao.items" checklist-value="item" ng-click="mataClick(DiagnosticoBenfeitoriaNvg, $event);"/>
          </td>
          <td class="">{{item.nome}}</td>
          <td class="">{{item.descricao}}</td>
          <td class="">{{item.unidade}}</td>
          <td class="text-right">{{item.area}}</td>
          <td class="text-right">{{item.valor|currency}}</td>
          <td class="text-right">{{(item.area*item.valor)|currency}}</td>
          <td class="text-center">{{item.dtAtul}}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <div class="panel-footer">
  </div>
</div>

