<div class="row"> 
    <div class="panel-body">
        <table class="table table-hover table-striped table-vcenter">
            <thead>
                <tr>
                    <th>Tipo de Pastagem</th>
                    <th>Área (ha)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tabSoloItem.dados" >
                    <td style="vertical-align:middle">                    
                        <label>{{item.nome}}</label>
                    </td>
                    <td> 
                       <input id="area{{$index}}" name="area{{$index}}" type="text" class="form-control input-md text-right" ng-model="item.area" ui-number-mask="3" >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
