                        <div class="row"> 

                            <div class="col-md-2" >
                                <label class="control-label" for="identficacao">&nbsp;</label><BR>
                                <button id="identficacao" name="identficacao" class="btn btn-primary" ng-click="identificacaoModalAbrir('lg')">Indetificação da Propriedade</button>                            
                            </div>

                            <div class="col-md-3" >
                                <label class="control-label" for="codPropriedade">Código da Propriedade</label><BR>
                                <input id="codPropriedade" name="codPropriedade" type="text" class="form-control input-md" ng-disabled="['INCLUINDO'].indexOf(navegador.estadoAtual()) < 0" ng-model="cadastro.registro.codPropriedaede">
                            </div>
                            <div class="col-md-3" >
                                <label class="control-label" for="sitFundiaria">Situação Fundiaria</label><BR>
                                <select id="sitFundiaria" name="sitFundiaria" class="form-control">
                                    <option value="C">Concessão de Uso</option>
                                    <option value="E">Escritura Definitiva</option>
                                    <option value="P">Posse</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="areaUtil">Área Útil</label><BR>
                                <select id="areaUtil" name="areaUtil" class="form-control">
                                    <option value="1">< 2ha </option>
                                    <option value="2">de 2ha a 4ha</option>
                                    <option value="2">de 4ha a 6ha</option>
                                </select>
                            </div>
                            <div class="col-md-1"> 
                                <label class="control-label" for="ativo">&nbsp;</label><BR>
                                    <input type="checkbox" name="ativo" id="ativo-1" checklist-model="cadastro.filtro.ativo" checklist-value="'S'">&nbsp;<B>Ativo</B>
                                </label>
                            </div>
                        </div>


                       
                        <div class="form-group" title="Pessoas Vinculadas" style="padding: 10px;">
                            <input type="hidden" name="vinculado" id="Vinculado" ng-model="cadastro.registro.vinculado.length" required ng-min="1">
                            <ng-include src="'propriedade/registro-sub-vinculado.html'" ng-controller="RegistroVinculadoCtrl"></ng-include>
                            <div class="label label-danger" ng-show="navegador.submitido && frm.registro.vinculado.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-9" >

                                <div class="row">
                                    <div class="col-md-4" >
                                        <label class="control-label" for="area">Área da Propriedade</label><BR>
                                        <input id="area" name="area" type="number" class="form-control input-md" ng-model="cadastro.registro.area">
                                    </div>
                                    <div class="col-md-4" >
                                        <label class="control-label" for="identificacao">Identificação</label><br>
                                            <textarea class="form-control" id="identificacao" name="identificacao" ng-model="cadastro.registro.identificacao">
                                            </textarea>
                                    </div>
                                    <div class="col-md-4" >
                                        <label class="control-label" for="comunidade">Comunidade</label><br>
                                            <textarea class="form-control" id="comunidade" name="comunidade" ng-model="cadastro.registro.comunidade">
                                            </textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4" >
                                        <label class="control-label" for="matricula">Matrícula</label><BR>
                                        <input id="matricula" name="matricula" type="text" class="form-control input-md" ng-model="cadastro.registro.matricula">
                                    </div>
                                    <div class="col-md-4" >
                                        <label class="control-label" for="registro">Registro</label><BR>
                                        <input id="registro" name="registro" type="text" class="form-control input-md" ng-model="cadastro.registro.registro">
                                    </div>
                                    <div class="col-md-4" >
                                        <label class="control-label" for="sisProducao">Sistema de Produção</label><br>
                                        <select id="areaUtil" name="areaUtil" class="form-control">
                                            <option value="B">Base Agroecológica</option>
                                            <option value="C">Convenciona</option>
                                            <option value="P">Convencional (Prat.Preserv.)</option>
                                            <option value="T">Transição Agroecológica</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4" >
                                        <label class="control-label" for="Outorga">&nbsp;</label><BR>
                                        <input type="checkbox" name="outorga" id="outorga" checklist-model="cadastro.registro.outorga" checklist-value="'S'">&nbsp;<B>Outorga</B>
                                    </div>
                                    <div class="col-md-4" >
                                        <label class="control-label" for="outorgaNumero">Número da Outorga</label><BR>
                                        <input id="outorgaNumero" name="outorgaNumero" type="text" class="form-control input-md" ng-model="cadastro.registro.outorgaNumero">
                                    </div>
                                    <div class="col-md-4" >
                                        <label class="control-label" for="outorgaValidade">Validade</label><BR>
                                        <input id="outorgaValidade" name="outorgaValidade" type="text" class="form-control input-md" ng-model="cadastro.registro.outorgaValidade">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" >
                                        <label class="control-label" for="observacao">Observações</label><br>
                                            <textarea class="form-control" id="observacao" name="observacao" ng-model="cadastro.registro.observacao">
                                            </textarea>
                                    </div>
                                </div>
                                    
                            </div>

                            <div class="col-md-3" >
                                <div class="row">
                                    <div class="col-md-12" >
                                        <label class="control-label" for="roteiro">Roteiro de Acesso ou Referência</label><br>
                                        <textarea class="form-control" id="roteiro" name="roteiro" ng-model="cadastro.registro.roteiro">
                                        </textarea>
                                    </div>                            
                                </div>
                                <div class="row">
                                    <div class="col-md-12"  >
                                        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
                                    </div>
                                </div>
                            </div>

                        </div>

   