<div class="row"> 
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Uso do Solo</th>
                        <th>Área (ha)</th>
                        <th>Valor Unitário (R$)</th>
                        <th>Valor Total (R$)</th>
                        <th>Mapa</th>
                        <th>Complemento</th>
                    </tr>
                </thead>
                  <tbody>
                    <tr ng-repeat="item in subVinculadoNvg.dados | orderBy: 'nome' | pagina: subVinculadoNvg.paginaAtual : subVinculadoNvg.tamanhoPagina | limitTo: subVinculadoNvg.tamanhoPagina" ng-click="seleciona(item); subVinculadoNvg.folhaAtual = $index + ((subVinculadoNvg.paginaAtual-1) * subVinculadoNvg.tamanhoPagina)" ng-form name="documentoFrm">
                      <td width="30px">
                        <input type="radio" ng-show="subVinculadoNvg.selecao.tipo === 'U'" ng-model="subVinculadoNvg.selecao.item" ng-value="item"/>
                        <input type="checkbox" ng-show="subVinculadoNvg.selecao.tipo === 'M'" checklist-model="subVinculadoNvg.selecao.items" checklist-value="item" ng-click="mataClick($event);"/>
                      </td>
                      <td>
                        {{$index + 1 + ((subVinculadoNvg.paginaAtual-1) * subVinculadoNvg.tamanhoPagina)}}
                      </td>
                      <td class="col-xs-3">{{item.nome}}</td>
                      <td class="col-xs-2">{{item.cpf}}</td>
                      <td>
                        <div  >
                            <select id="tpExploracao" name="tpExploracao" class="form-control" ng-model="item.tpExploracao">
                                <option value="A">Arrendado</option>
                                <option value="P">Parceria</option>
                                <option value="R">Própri</option>
                            </select>
                        </div>
                      </td>
                      <td>
                        <div class="col-xs-4" >
                          <input id="ha" name="ha" type="number" class="form-control input-md" ng-model="item.ha">
                        </div>
                      </td>
                      <td >
                          <div > 
                              <label class="checkbox-inline" for="ativo" >
                                  <input type="checkbox" name="ativo" id="ativo" ng-model="item.situacao" ng-true-value="'S'"  ng-false-value="'N'">Ativo
                              </label>
                          </div>
                      </td>
                    </tr>
                  </tbody>

          </table>
      </div>
    </div>
</div>

   