<div class="row"> 
    <div class="panel-body">
        <table class="table table-hover table-striped table-vcenter">
            <thead>
                <tr>
                    <th>Uso do Solo</th>
                    <th>Área (ha)</th>
                    <th>Valor Unitário (R$)</th>
                    <th>Valor Total (R$)</th>
                    <th>Mapa</th>
                    <th>Complemento</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cadastro.registro.solo" >
                    <td style="vertical-align:middle">                    
                        <label>{{item.nome}}</label>
                    </td>
                    <td> 
                       <input id="area{{$index}}" name="area{{$index}}" type="text" class="form-control input-md text-right" ng-model="item.area" ui-number-mask="3"  ng-disabled="item.detalhe">
                    </td>
                    <td> 
                       <input id="unitario{{$index}}" name="unitario{{$index}}" type="text" class="form-control input-md text-right" ng-model="item.unitario" ui-money-mask="2" ng-disabled="item.detalhe">
                    </td>
                    <td> 
                       <input id="total{{$index}}" name="total{{$index}}" type="text" class="form-control input-md text-right" value="{{item.area*item.unitario | currency}}" ng-disabled="true">
                    </td>
                    <td> 
                       <button type="button" class="btn btn-default" aria-label="Center Align" id="map{{$index}}" name="map{{$index}}" ng-click="mapaModalAbrir(item.nome,item.mapa)">
                          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td > 
                       <button type="button" class="btn btn-default" aria-label="Center Align" ng-hide="!item.detalhe" >
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="soloPastagemModalAbrir(item)" ></span>
                        </button>
                    </td>       
                </tr>
            </tbody>
        </table>
    </div>
</div>

   