<div class="panel panel-default">
    <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
    <div class="panel-body">
        <form name="frm.formulario" novalidate>
            <fieldset ng-disabled="['INCLUINDO', 'EDITANDO'].indexOf(navegador.estadoAtual()) < 0 && !modalCadastro">
                <div class="row">
                    <div class="col-md-2" title="Código da Atividade">
                        <div class="form-group">
                            <label class="control-label" for="codigo">Código da Atividade</label>
                            
                            <input type="text" class="form-control text-center codigoAtividade" id="codigo" name="codigo" readonly="true" data-ng-model="cadastro.registro.codigo">
                            
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.codigo.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" title="Formato"  ng-show="false">
                        <div class="form-group">
                            <label class="control-label" for="formato" ng-click="cadastro.registro.formato = 'E'">Formato</label>
                            
                            <div class="radio" ng-repeat="item in cadastro.apoio.atividadeFormatoList track by item.codigo">
                                <label for="formato-{{$index}}">
                                    <input type="radio" name="formato" id="formato-{{$index}}" ng-model="cadastro.registro.formato" ng-value="item.codigo" required="true" ng-disabled="true">
                                    {{item.descricao}}
                                </label>
                            </div>

                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.formato.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" title="Finalidade"   ng-show="false">
                        <div class="form-group">
                            <label class="control-label" for="finalidade">Finalidade</label>
                            <div class="radio" ng-repeat="item in cadastro.apoio.atividadeFinalidadeList track by item.codigo">
                                <label for="finalidade-{{$index}}">
                                    <input type="radio" name="finalidade" id="finalidade-{{$index}}" ng-model="cadastro.registro.finalidade" ng-value="item.codigo" required="true" ng-disabled="true || cadastro.registro.metodo">
                                    {{item.descricao}}
                                </label>
                            </div>

                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.finalidade.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" title="Natureza"   ng-show="false">
                        <div class="form-group">
                            <label class="control-label" for="natureza">Natureza</label>
                            
                            <div class="radio" ng-repeat="item in cadastro.apoio.atividadeNaturezaList track by item.codigo">
                                <label for="natureza-{{$index}}">
                                    <input type="radio" name="natureza" id="natureza-{{$index}}" ng-model="cadastro.registro.natureza" ng-value="item.codigo" required="true" ng-disabled="true">
                                    {{item.descricao}}
                                </label>
                            </div>

                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.natureza.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" title="Prioridade"   ng-show="false">
                        <div class="form-group">
                            <label class="control-label" for="prioridade">Prioridade</label>
                            
                            <div class="radio" ng-repeat="item in cadastro.apoio.atividadePrioridadeList track by item.codigo">
                                <label for="prioridade-{{$index}}">
                                    <input type="radio" name="prioridade" id="prioridade-{{$index}}" ng-model="cadastro.registro.prioridade" ng-value="item.codigo" required="true" ng-disabled="true">
                                    <span class="label" ng-class="{'label-success' : item.codigo === 'N', 'label-info' : item.codigo === 'B', 'label-danger' : item.codigo === 'A'}">
                                        {{item.descricao}}
                                    </span>
                                </label>
                            </div>

                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.prioridade.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" title="Situação"   ng-show="false">
                        <div class="form-group">
                            <label class="control-label" for="situacao">Situação</label>

                            <div class="form-control" ng-if="cadastro.registro.situacao === 'B' || cadastro.registro.situacao === 'X'">
                                {{UtilSrv.indiceDePorCampo(cadastro.apoio.atividadeSituacaoList, cadastro.registro.situacao, 'codigo').descricao}}
                            </div>
                            <select id="situacao" name="situacao" class="form-control" ng-model="cadastro.registro.situacao" ng-options="item.codigo as item.descricao disable when item.codigo === 'B' for item in cadastro.apoio.atividadeSituacaoList | filter: ((!cadastro.registro.id && {inicial : true}) || (cadastro.registro.id !== null && {})) | orderBy: 'ordem'" required="true" ng-disabled="true" ng-if="cadastro.registro.situacao !== 'B' && cadastro.registro.situacao !== 'X'">
                            </select>

                            <label class="control-label" for="situacao" ng-show="cadastro.registro.situacaoData">Desde</label>
                            <div class="form-control" ng-show="cadastro.registro.situacaoData">
                                {{cadastro.registro.situacaoData}}
                            </div>

                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.situacao.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" title="Método">
                        <div class="form-group">
                            <label class="control-label" for="metodo">Método</label>
                            <div class="form-control" ng-if="cadastro.registro.id">
                                {{cadastro.registro.metodo.nome}}
                            </div>
                            <select id="metodo" name="metodo" class="form-control" ng-model="cadastro.registro.metodo" 
                            ng-options="item as item.nome for item in cadastro.apoio.metodoList | orderBy: 'nome' | filter: {finalidade: cadastro.registro.finalidade, ativo: 'S'} track by item.id" 
                              required="true" ng-if="!cadastro.registro.id" ng-change="seProjetoDeCredito();" >
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.metodo.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="cadastro.registro.situacao === 'X' || cadastro.registro.situacao === 'S'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Motivo da Situação ({{UtilSrv.indiceDePorCampo(cadastro.apoio.atividadeSituacaoList, cadastro.registro.situacao, 'codigo').descricao}})</label>
                            <textarea id="situacaoMotivo" name="situacaoMotivo" class="form-control" rows="4" ng-model="cadastro.registro.situacaoMotivo" required="true"></textarea>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.situacaoMotivo.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>
                <uib-tabset active="tabAtiva" >
                    <uib-tab ng-repeat="tab in tabs | filter: {'visivel': true}" select="tab.selecao()" index="tab.indice">
                        <uib-tab-heading>
                            {{$index + 1}} {{tab.nome}}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </uib-tab-heading>
                        <ng-include src="tab.include"/>
                    </uib-tab>
                </uib-tabset>
                <div class="row"  ng-show="false" ><!--ng-show="__cadastro.registro.pessoaExecutorList.length" -->
                    <div class="col-md-12" title="Ocorrências" >
                        <div class="form-group" ng-class="{'ng-invalid': frm.formulario.ocorrenciaTotal.$error.ngValorMin}">
                            <label class="control-label" for="ocorrenciaTotal">Ocorrências</label>

                            <ng-include src="'atividade/sub-ocorrencia.html'" ng-controller="AtividadeOcorrenciaCtrl" />

                            <input type="hidden" id="ocorrenciaTotal" name="ocorrenciaTotal" ng-model="cadastro.registro.ocorrenciaList.length">
                            
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.ocorrenciaTotal.$error.ngValorMin">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Detalhamento</label>
                            <textarea id="detalhamento" name="detalhamento" class="form-control" rows="4" ng-model="cadastro.registro.detalhamento"></textarea>
                            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.detalhamento.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-8">
                            <label class="control-label">Resp. Inclusão</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.inclusaoUsuario.pessoa.apelidoSigla"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Dt. Inclusão</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.inclusaoData"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Resp. Atualização</label>
                            <input class="form-control" type="text" readonly="true"  ng-model="cadastro.registro.alteracaoUsuario.pessoa.apelidoSigla"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Dt. Atualização</label>
                            <input class="form-control" type="text" readonly="true" ng-model="cadastro.registro.alteracaoData"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>