<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="pessoaEmailNvg" exibe-texto-botao="false"
        dados="cadastro.registro.emailList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.emailList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsible" ng-show="cadastro.registro.emailList.length > 0">
        <ng-form name="emailListFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th rowspan="2"><frz-seletor ng-model="pessoaEmailNvg" dados="cadastro.registro.emailList"></frz-seletor></th>
                        <th rowspan="2">#</th>
                        <th colspan="2">Endereço</th>
                    </tr>
                    <tr>
                        <th><small>Finalidade</small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="reg in cadastro.registro.emailList | filter: {cadastroAcao: '!E'}">
                        <td rowspan="2">
                            <input type="radio" ng-show="pessoaEmailNvg.selecao.tipo === 'U'" ng-model="pessoaEmailNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="pessoaEmailNvg.selecao.tipo === 'M'" checklist-model="pessoaEmailNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td rowspan="2">
                            {{$index + 1 + ((pessoaEmailNvg.paginaAtual-1) * pessoaEmailNvg.tamanhoPagina)}}
                        </td>
                        <td colspan="2">{{reg.email.endereco}}</td>
                    </tr>
                    <tr ng-repeat-end>
                        <td>
                            <select class="form-control input-sm" id="finalidade" name="finalidade{{$index}}" ng-model="reg.finalidade" ng-options="item.codigo as item.descricao for item in scp.cadastro.apoio.meioContatoFinalidadeList" ng-required="true">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && emailListFrm.finalidade{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
    <script type="text/ng-template" id="pessoa-email-frm.html">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="endereco" ng-model="conteudo.email.endereco" required="true">
                        <div class="label label-danger" ng-show="confirmacaoFrm.endereco.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             Campo Obrigatório
                        </div>
                        <div class="label label-danger" ng-show="confirmacaoFrm.endereco.$error.email">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             Endereço inválido!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>