<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <frz-navegador
        ng-model="atividadeAssuntoNvg" exibe-nome-botao="false"
        dados="cadastro.registro.assuntoList"
        acoes-especiais="acoesEspeciais"
        on-abrir = "abrir()"
        on-agir = "agir()"
        on-editar = "editar()"
        on-especial = "especial()"
        on-excluir = "excluir()"
        on-filtrar = "filtrar()"
        on-incluir = "incluir()"
        on-listar = "listar()"
        on-navegar-primeiro = "navegarPrimeiro()"
        on-navegar-anterior = "navegarAnterior()"
        on-navegar-proximo = "navegarPosterior()"
        on-navegar-ultimo = "navegarUltimo()"
        on-proxima-pagina="proximaPagina()"
        on-ultima-pagina="ultimaPagina()"
        ></frz-navegador>
    </div>
    <div class="painel-body"  ng-hide="cadastro.registro.assuntoList.length">
        <div class="alert alert-warning" style="margin: 0px;" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            Nenhum registro localizado!
        </div>
    </div>
    <div class="table-responsive" ng-show="cadastro.registro.assuntoList.length > 0">
        <ng-form name="assuntoListFrm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><frz-seletor ng-model="atividadeAssuntoNvg" dados="cadastro.registro.assuntoList"></frz-seletor></th>
                        <th>#</th>
                        <th>Assunto</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reg in cadastro.registro.assuntoList  | orderBy: ['assunto.nome'] track by reg.id">
                        <td>
                            <input type="radio" ng-show="atividadeAssuntoNvg.selecao.tipo === 'U'" ng-model="atividadeAssuntoNvg.selecao.item" ng-value="reg"/>
                            <input type="checkbox" ng-show="atividadeAssuntoNvg.selecao.tipo === 'M'" checklist-model="atividadeAssuntoNvg.selecao.items" checklist-value="reg"/>
                        </td>
                        <td>
                            {{$index + 1 + ((atividadeAssuntoNvg.paginaAtual-1) * atividadeAssuntoNvg.tamanhoPagina)}}
                        </td>
                        <td>
                            <select class="form-control input-sm" 
                                id="assunto" 
                                name="assunto{{$index}}" 
                                ng-model="reg.assunto" 
                                ng-required="true" 
                                ng-options="item as item.nome disable when desabilitarAssunto(cadastro.registro.assuntoList, reg, item) for item in cadastro.apoio.assuntoList | filter: {finalidade: cadastro.registro.finalidade, ativo: 'S'} | orderBy: ['nome'] track by item.id">
                            </select>
                            <div class="label label-danger" ng-show="navegador.submetido && assuntoListFrm.assunto{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                        <td>
                            <textarea class="form-control input-sm" id="observacao{{$index}}" name="observacao{{$index}}" ng-model="reg.observacao"></textarea>
                            <div class="label label-danger" ng-show="navegador.submetido && assuntoListFrm.observacao{{$index}}.$error.required">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Campo Obrigatório
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </ng-form>
    </div>
    <div class="panel-footer">
    </div>
</div>