<div class="row">
    <div class="col-md-3" title="Publico Estimado">
        <div class="form-group">
            <label class="control-label" for="publicoEstimado" ng-if="cadastro.registro.finalidade === 'O'">Publico Estimado</label>
            
            <input class="form-control text-right" type="text" id="publicoEstimado" name="publicoEstimado" ng-model="cadastro.registro.publicoEstimado" ng-if="cadastro.registro.finalidade === 'O'" required="true" ng-valor-min="1" ui-number-mask="0"></input>
            
            <div class="label label-danger" ng-show="navegador.submetido && (frm.formulario.publicoEstimado.$error.required || frm.formulario.publicoEstimado.$error.ngValorMin)">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="col-md-3" title="Publico Real">
        <div class="form-group">
            <label class="control-label" for="publicoReal" ng-if="cadastro.registro.finalidade === 'O'">Publico Real</label>
            
            <input class="form-control text-right" type="text" id="publicoReal" name="publicoReal" ng-model="cadastro.registro.publicoReal" ng-disabled="true" ng-if="cadastro.registro.finalidade === 'O'" ui-number-mask="0"></input>

            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.publicoReal.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="cadastro.registro.metodo">
    <div class="col-md-6" title="Assunto">
        <div class="form-group" ng-class="{'ng-invalid': frm.formulario.assuntoTotal.$error.ngValorMin}">
            <label class="control-label" for="assuntoTotal">Assunto</label>

            <ng-include src="'atividade/sub-assunto.html'" ng-controller="AtividadeAssuntoCtrl"/>

            <input type="hidden" id="assuntoTotal" name="assuntoTotal" ng-model="cadastro.registro.assuntoList.length" ng-valor-min="1">
            
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.assuntoTotal.$error.ngValorMin">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="col-md-6" title="Plano de Ação" ng-show="cadastro.registro.assuntoList.length">
        <div class="form-group" ng-class="{'ng-invalid': frm.formulario.planoAcaoTotal.$error.ngValorMin}">
            <label class="control-label" for="planoAcaoTotal">Plano de Ação</label>

            <ng-include src="'atividade/sub-plano-acao.html'" ng-controller="AtividadePlanoAcaoCtrl"/>

            <input type="hidden" id="planoAcaoTotal" name="planoAcaoTotal" ng-model="cadastro.registro.planoAcaoList.length">
            
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.planoAcaoTotal.$error.ngValorMin">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
</div>
<div class="row" ng-controller="AtividadePessoaCtrl" ng-show="cadastro.registro.assuntoList.length">
    <div class="col-md-6" title="Demandantes">
        <div class="form-group" ng-class="{'ng-invalid': frm.formulario.demandanteTotal.$error.ngValorMin}">
            <label class="control-label" for="demandanteTotal">Demandantes</label>
            
            <ng-include src="'atividade/sub-pessoa.html'" ng-controller="DemandanteAtividadePessoaCtrl" />

            <input type="hidden" id="demandanteTotal" name="demandanteTotal" ng-model="cadastro.registro.pessoaDemandanteList.length" ng-valor-min="1">

            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.demandanteTotal.$error.ngValorMin">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="col-md-6" title="Executores">
        <div class="form-group" ng-class="{'ng-invalid': frm.formulario.executorTotal.$error.ngValorMin}">
            <label class="control-label" for="executorTotal">Executores</label>
            
            <ng-include src="'atividade/sub-pessoa.html'" ng-controller="ExecutorAtividadePessoaCtrl" />

            <input type="hidden" id="executorTotal" name="executorTotal" ng-model="cadastro.registro.pessoaExecutorList.length" ng-valor-min="1">

            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.executorTotal.$error.ngValorMin">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>                  
</div>
<div class="row" ng-show="cadastro.registro.pessoaExecutorList.length">
    <div class="col-md-3" title="Início">
        <div class="form-group">
            <label class="control-label" for="inicio">Início</label>
            
            <input class="form-control" type="text" id="inicio" name="inicio" ng-model="cadastro.registro.inicio" required="true" ui-date-mask></input>
            
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.inicio.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.inicio.$error.date">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Data Inválida!
            </div>
        </div>
    </div>
    <div class="col-md-3" title="Previsão Conclusão">
        <div class="form-group">
            <label class="control-label" for="previsaoConclusao">Previsão Conclusão</label>
            
            <input class="form-control" type="text" id="previsaoConclusao" name="previsaoConclusao" ng-model="cadastro.registro.inicio" ng-required="true" ui-date-mask ng-disabled="true"></input>
            
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.previsaoConclusao.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.previsaoConclusao.$error.date">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Data Inválida!
            </div>
        </div>
    </div>
    <div class="col-md-3" title="Percentual Conclusão">
        <div class="form-group">
            <label class="control-label" for="percentualConclusao">Percentual Conclusão</label>
            
            <div class="form-control" id="percentualConclusao" name="percentualConclusao" 
                data-ng-class="{'texto-branco': cadastro.registro.percentualConclusao > 0,'': cadastro.registro.percentualConclusao<1, 'label-warning': cadastro.registro.percentualConclusao>=1 && cadastro.registro.percentualConclusao<3, 'label-info': cadastro.registro.percentualConclusao>=3 && cadastro.registro.percentualConclusao<5, 'label-success': cadastro.registro.percentualConclusao>=5}" ng-disabled="true">
                <uib-rating ng-model="cadastro.registro.percentualConclusao" min="0" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-disabled="true"></uib-rating>
                <span class="label" data-ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" data-ng-show="overStar && !isReadonly">{{percent}}%</span>
                <span class="pull-right">{{cadastro.registro.percentualConclusao ? cadastro.registro.percentualConclusao * 20: 0}}%<span class="glyphicon glyphicon-trash" data-ng-click="cadastro.registro.percentualConclusao = 0" data-ng-hide="cadastro.registro.id"></span></span>
            </div>

            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.percentualConclusao.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="col-md-3" title="Conclusão">
        <div class="form-group">
            <label class="control-label" for="conclusao">Conclusão</label>
            
            <input class="form-control" type="text" id="conclusao" name="conclusao" ng-model="cadastro.registro.inicio" ui-date-mask ng-disabled="true"></input>
            
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.conclusao.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.conclusao.$error.date">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Data Inválida!
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="cadastro.registro.pessoaExecutorList.length">
    <div class="col-md-3" title="Duração Estimada (horas)">
        <div class="form-group">
            <label class="control-label" for="duracaoEstimada">Duração Estimada (horas)</label>
            
            <input class="form-control text-right" type="text" id="duracaoEstimada" name="duracaoEstimada" ng-model="cadastro.registro.duracaoEstimada" ng-required="false" ui-number-mask="0" ng-disabled="true"></input>

            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.duracaoEstimada.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="col-md-3" title="Duração Suspensão (horas)">
        <div class="form-group">
            <label class="control-label" for="duracaoSuspensao">Duração Suspensão (horas)</label>
            
            <input class="form-control text-right" type="text" id="duracaoSuspensao" name="duracaoSuspensao" ng-model="cadastro.registro.duracaoSuspensao" ng-disabled="true" ui-number-mask="0"></input>
            
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.duracaoSuspensao.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
    <div class="col-md-3" title="Duração Real (horas)">
        <div class="form-group">
            <label class="control-label" for="duracaoReal">Duração Real (horas)</label>
            
            <input class="form-control text-right" type="text" id="duracaoReal" name="duracaoReal" ng-model="cadastro.registro.duracaoReal" ng-disabled="true" ui-number-mask="0"></input>
            
            <div class="label label-danger" ng-show="navegador.submetido && frm.formulario.duracaoReal.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Campo Obrigatório
            </div>
        </div>
    </div>
</div>
